<template>
  <div class="customers">
    <div class="customers__inner wrapper-default">
      <v-filters
          @add-element="openCustomerModal()"
      />
      <list-titles
          :titles="listTitles"
          :sizes="listBlockSizes"
      />
      <div
          class="list"
          v-if="isDownloadCustomers"
      >
        <div class="list__items">
          <list-user-row
              v-for="customer in paginationCustomersResult.value"
              :key="customer.id"
              :user="getCustomerInfo(customer)"
              :sizes="listBlockSizes"
              :isCustomers="true"
              @click="openCustomer(customer.id)"
          />
        </div>
        <v-pagination
            :current-items="customers.value"
            :element-on-page="config.quantityElementsInList"
            :list-name="'customers'"
            @select-page="setPaginationResult"
        />
      </div>
      <teleport to="body">
        <div class="modal-fixed"
             v-if="isOpenCustomerModal"
             @click="closeCustomerModal()"
        >
          <customer-modal-new
              :error-message="errorMessage"
              @close-modal="closeCustomerModal()"
              @success-modal="addCustomer"
              @click.stop
          />
        </div>
      </teleport>
    </div>
  </div>
</template>

<script setup lang="ts">
import VPagination from '../../components/list/v-pagination.vue';
import ListTitles from '../../components/list/titles.vue';
import ListUserRow from '../../components/list/rows/user-row.vue';
import VFilters from '../../components/root/v-filters.vue';
import config from '../../middleware/config.ts';
import {onMounted, reactive, ref} from 'vue';
import customersService from '../../middleware/services/customers.ts';
import CustomerModalNew from '../../components/modals/customerNew.vue';
import {useRouter} from 'vue-router';
import {useAppStore} from '../../store/app.ts';

const router = useRouter();

const listTitles = config.customers.list.titles;
const listBlockSizes = config.customers.list.blockSizes;

const customers = reactive<any>([]);
const paginationCustomersResult = reactive<any>([]);
const isDownloadCustomers = ref<boolean>(false);
const isOpenCustomerModal = ref<boolean>(false);
const errorMessage = ref<string>('');

const setCustomers = () => {
  isDownloadCustomers.value = false;
  customersService.list().then(resp => {
    customers.value = resp.data;
  }).finally(() => {
    isDownloadCustomers.value = true;
  })
}
const setPaginationResult = (result: any[]) => {
  paginationCustomersResult.value = result;
}
const openCustomerModal = () => {
  isOpenCustomerModal.value = true;
}
const closeCustomerModal = () => {
  isOpenCustomerModal.value = false;
}
const openCustomer = (customerId: number) => {
  router.push({name: 'customer', params: {id: customerId}});
}
const getCustomerInfo = (customer: any) => {
  return {
    id: customer.id,
    first_name: customer.first_name,
    last_name: customer.last_name,
    email: customer.email,
    created_at: customer.created_at,
    phone: customer.phone || '',
    orderCount: customer.orderCount,
    state: customer.status
  }
}
const addCustomer = (formData: any) => {
  useAppStore().isLoad = true;
  const customer = {
    first_name: formData.firstName,
    last_name: formData.lastName,
    email: formData.email,
    phone: formData.phone,
    day_of_birth: formData.dateOfBirth,
    country: formData.country?.name || '',
    gender: formData.gender,
    comment: formData.comment
  }
  customersService.add(customer).then(resp => {
    if (resp.data.status) {
      setCustomers();
      closeCustomerModal();
    } else {
      errorMessage.value = resp.data.error;
    }
  }).finally(() => {
    useAppStore().isLoad = false;
  })
}

onMounted(() => {
  setCustomers();
})
</script>

<style scoped lang="scss">
.customers{
  &__inner{
    height: calc(100% - 124px);
  }
}
</style>