<template>
  <div class="customer">
    <div class="customer__inner wrapper-default">
      <div class="view__back">
        <router-link to="/customers"><img src="../../static/icons/form/back.svg" alt="back">Back to customers list</router-link>
      </div>
      <div v-if="isCustomerDownload" class="customer__content">
        <v-user-details
            :user="customer.value"
            :modal="'customer'"
            @success="editCustomer"
        />
        <div class="customer__items">
          <v-user-orders
              v-if="isDownloadOrders"
              class="customer__orders"
              :class="{'customer__orders_not-items': orders.value.length === 0}"
              :orders="orders.value"
          />
          <v-user-feedbacks
              class="customer__feedbacks customer__feedbacks_not-items"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import VUserDetails from '../../components/user/v-details.vue';
import VUserOrders from '../../components/user/v-orders.vue';
import VUserFeedbacks from '../../components/user/v-feedbacks.vue';
import customersService from '../../middleware/services/customers.ts';
import {onMounted, reactive, ref} from 'vue';
import {useRoute} from 'vue-router';
import {useAppStore} from '../../store/app.ts';
import ordersService from '../../middleware/services/orders.ts';

const route = useRoute();

let customer = reactive<any>({});
let isCustomerDownload = ref<boolean>(false);
let orders = reactive<any>([]);
let isDownloadOrders = ref<any>(false);

const setCustomer = () => {
  customersService.getCustomer(Number(route.params.id)).then(resp => {
    customer.value = {
      avatar: resp.data.profile !== null && resp.data.profile.photo?.length ? ('https://api.drivermytripline.com/storage/profiles/' + resp.data.id + '/' + resp.data.profile.photo) : '',
      first_name: resp.data.first_name || '',
      last_name: resp.data.last_name || '',
      email: resp.data.email || '',
      phone: resp.data.phone || '',
      country: resp.data.profile !== null ? resp.data.profile.country : '',
      day_of_birth: resp.data.day_of_birth || '',
      status: resp.data.status || '',
      created_at: resp.data.created_at || ''
    };
  }).finally(() => {
    isCustomerDownload.value = true;
  })
}
const getOrdersForCustomer = () => {
  ordersService.listByUserId(route.params.id).then(resp => {
    orders.value = getAllOrdersByOrdersTypes(resp.data);
    isDownloadOrders.value = true;
  })
}

const getAllOrdersByOrdersTypes = (orderTypes: any): any[] => {
  let result :any[] = [];
  for (let orderType in orderTypes) {
    result = result.concat(orderTypes[orderType]);
  }
  console.log(result)
  return result;
}

const editCustomer = (newCustomer: any) => {
  useAppStore().isLoad = true;
  const data = {
    first_name: newCustomer.firstName,
    last_name: newCustomer.lastName,
    email: newCustomer.email,
    phone: newCustomer.phone,
    day_of_birth: newCustomer.dateOfBirth,
    country: newCustomer.country,
    gender: newCustomer.gender,
    comment: newCustomer.comment,
  }
  customersService.edit(Number(route.params.id), data).then(resp => {
    console.log(resp)
  }).finally(() => {
    useAppStore().isLoad = false;
  })
}

onMounted(() => {
  setCustomer();
  getOrdersForCustomer();
})
</script>

<style scoped lang="scss">
.customer{
  &__inner{
    height: 100%;
  }
  &__content{
    height: calc(100% - 34px);
  }
  &__items{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    flex-wrap: wrap;
  }
  &__orders{
    margin-bottom: 8px;
  }
  &__orders, &__feedbacks{
    width: 100%;
  }
  &__orders_not-items{
    width: calc(50% - 4px);
  }
  &__feedbacks_not-items{
    width: calc(50% - 4px);
  }
}
</style>