<template>
  <div class="form__btn_select select select__touch" ref="selectRef">
    <label for="color">{{ label }}</label>
    <div class="select__touch input__select" id="color">
      <button
          v-if="isButton"
          class="select__touch field-input"
          @click="toggleSelect()"
          ref="buttonRef"
          :disabled="disabled"
      >
        <span v-if="value.length">{{ value }}</span>
        <span v-else>{{ placeholder }}</span>
      </button>
      <input
          v-else
          :placeholder="placeholder"
          class="select__touch field-input" type="text"
          :disabled="disabled"
          v-model="value"
          @focus="openSelect()"
          @blur="closeSelect()"
          @input="search()"
      />
      <img class="select__arrow select__touch" src="../../static/icons/form/arrow.svg" alt="select">
    </div>
    <transition name="anime-select">
      <div class="select__options select__touch" v-if="isOpenSelect">
        <template v-if="isLoadingItems">
          <div class="load__items">
            <img src="../../static/images/loader.png" alt="loader">
          </div>
        </template>
        <template v-else>
          <template v-if="items.length">
            <ul class="select__options_list select__touch">
              <li class="select__options_item select__touch" @click="selectItem(item)" v-for="item in items">{{ item }}</li>
            </ul>
          </template>
          <template v-else>
            <span>Not found</span>
          </template>
        </template>
      </div>
    </transition>
  </div>
</template>

<script setup lang="ts">
import {ref} from 'vue';
import useClickOutside from '../../middleware/helpers/useClickOutside.ts';

const props = defineProps({
  label: {
    default: '',
    type: String
  },
  placeholder: {
    default: '',
    type: String
  },
  items: {
    default: [],
    type: Array
  },
  isButton: {
    default: false,
    type: Boolean
  },
  disabled: {
    default: false,
    type: Boolean
  },
  currentValue: {
    default: '',
    type: String
  },
  isLoadingItems: {
    default: false,
    type: Boolean
  }
})

const selectRef = ref<HTMLDataElement>();
const buttonRef = ref<HTMLDataElement>();

const emits = defineEmits(['selectItem', 'search'])

const isOpenSelect = ref<boolean>(false);
const value = ref<string>('');

const openSelect = (): void => {
  isOpenSelect.value = true;
}
const closeSelect = (): void => {
  isOpenSelect.value = false;
}
const toggleSelect = (): void => {
  isOpenSelect.value = !isOpenSelect.value;
}

const selectItem = (item: any) => {
  value.value = item;
  if (props.isButton) {
    closeSelect();
  }
  emits('selectItem', item);
}

const search = () => {
  emits('search', value.value);
}

if (props.currentValue.length) {
  value.value = props.currentValue;
}
if (props.isButton) {
  useClickOutside(buttonRef, closeSelect, selectRef);
}


</script>

<style scoped lang="scss">
.anime-select-enter-active,
.anime-select-leave-active {
  transition: 0.3s ease;
}

.anime-select-enter-from{
  height: 0;
}
.anime-select-leave-to {
  height: 0;
}
</style>