<template>
  <div class="message" :class="{ 'active-chat': isActive }">
    <div class="message__avatar">
      <img v-if="icon.length" :src="icon" alt="">
      <img v-else src="../../static/icons/user/no-img.svg" alt="no-img">
    </div>
    <div class="message__info">
      <span class="message-info__name">{{ name }}</span>
      <span class="message-info__content">{{ message }}</span>
    </div>
    <div class="message__actions">
      <span class="message-actions__date">{{ filteredDateInDayAndMonth(dateLastMessage) }}</span>
      <span v-if="countUnreadMessages > 0" class="message-actions__count">{{ countUnreadMessages }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { filteredDateInDayAndMonth } from '../../middleware/filters/date.ts'

defineProps({
  icon: {
    default: ''
  },
  name: {
    type: String,
    default: ''
  },
  message: {
    type: String,
    default: ''
  },
  dateLastMessage: {
    type: Date,
    default: new Date()
  },
  countUnreadMessages: {
    type: Number,
    default: 0
  },
  isActive: {
    type: Boolean,
    default: false
  }
})

</script>

<style scoped lang="scss">
.message{
  display: flex;
  justify-content: space-between;
  padding-right: 27px;
  margin-bottom: 24px;
  &__avatar {
    width: 44px;
    display: flex;
    margin-right: 10px;
    img {
      width: 44px;
      height: 44px;
      border-radius: 44px;
      object-fit: cover;
    }
  }
  &__info{
    width: calc(100% - 104px);
    display: flex;
    flex-direction: column;
    padding-right: 13px;
    justify-content: center;
  }
  &__actions{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.message-info{
  &__name{
    color: var(--dispatching-black, #2C2C2C);
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
  &__content{
    color: #637381;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}

.message-actions{
  &__date {
    color: #637381;
    text-align: right;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 5px;
  }
  &__count{
    fill: var(--dispatching-blue-main, #4370FF);
    background: #4370FF;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
  }
}

.active-chat {
  background: #FFFFFF;
  padding: 10px 12px;
  border-radius: 6px;
}
</style>