<template>
  <modal-layout-default
      class="modal-customer"
      :title="'New Customer'"
      @close="closeModal()"
      @success="successModal()"
  >
    <template v-slot:content>
      <div class="form">
        <div class="form-row row-items-2">
          <div class="field-input">
            <label for="permissions">First name</label>
            <input id="permissions" type="text" placeholder="Enter first name*" v-model="formData.firstName">
          </div>
          <div class="field-input">
            <label for="permissions">Permissions</label>
            <input id="permissions" type="text" placeholder="Customer" disabled>
          </div>
        </div>
        <div class="form-row row-items-2">
          <div class="field-input">
            <label for="permissions">Last Name</label>
            <input id="permissions" type="text" placeholder="Enter last name*" v-model="formData.lastName">
          </div>
          <div class="field-input">
            <ui-select
                :label="'Country'"
                :placeholder="'Select country*'"
                :items="selects.country.filteredItems.length ? selects.country.filteredItems : selects.country.items"
                :current-value="formData.country"
                :is-loading-items="selects.country.isLoadingItems"
                @search="searchCountry"
                @select-item="changeCountry"
            />
          </div>
        </div>
        <div class="form-row row-items-2">
          <div class="field-input">
            <label for="permissions">Date of Birth</label>
            <v-date-picker :enable-time-picker="false" v-model="formData.dateOfBirth">
              <template #input-icon>
                <img class="input-slot-image" src="../../static/icons/form/calendar.svg"/>
              </template>
            </v-date-picker>
          </div>
          <div class="field-input">
            <label for="permissions">Email</label>
            <input id="permissions" type="text" placeholder="Enter email*" v-model="formData.email">
          </div>
        </div>
        <div class="form-row row-items-2">
          <div class="field-radio-btn">
            <label for="permissions">Gender</label>
            <div class="field-radio-btn__items">
              <div class="field-radio-btn__item">
                <input type="radio" id="male" name="gender" value="male" v-model="formData.gender" />
                <label for="male">Male</label>
              </div>
              <div class="field-radio-btn__item">
                <input type="radio" id="female" name="gender" value="female" v-model="formData.gender" checked />
                <label for="female">Female</label>
              </div>
            </div>
          </div>
          <div class="field-input">
            <label for="permissions">Phone number</label>
            <vue-tel-input placeholder="Enter phone number*" @input="changePhone"></vue-tel-input>
          </div>
        </div>
        <div class="form-row row-items-2">
          <div class="field-input">
            <label for="permissions">Note</label>
            <input id="permissions" type="text" placeholder="Enter note" v-model="formData.comment">
          </div>
        </div>
      </div>
      <span v-if="errorMessage" class="error-message">{{ errorMessage }}</span>
    </template>
  </modal-layout-default>
</template>

<script setup lang="ts">
import ModalLayoutDefault from '../modals/layouts/default.vue'
import {onMounted, ref, reactive} from 'vue';
import UiSelect from '../fields/ui-select.vue';
import locationsService from '../../middleware/services/locations.ts';

const emit = defineEmits(['closeModal', 'successModal']);
defineProps({
  data: {
    default: {},
    type: Object
  },
  errorMessage: {
    default: '',
    type: String
  }
})

const formData = reactive<any>({
  firstName: '',
  lastName: '',
  email: '',
  phone: '',
  dateOfBirth: '',
  country: '',
  gender: 'male',
  comment: ''
});

const selects = reactive<any>({
  country: {
    items: [],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  },
})

const countries = ref<any>([]);

const getCountries = () => {
  selects.country.isLoadingItems = true;
  locationsService.countries().then(resp => {
    countries.value = resp.data;
    selects.country.items = resp.data.map((country: any) => country.name);
  }).finally(() => {
    selects.country.isLoadingItems = false;
  })
}

const searchCountry = (value: string) => {
  selects.country.filteredItems = selects.country.items.filter((country: any) => country.toLowerCase().includes(value.toLowerCase()));
}

const changeCountry = (item: string) => {
  selects.country.item = item;
  selects.country.value = item;
  formData.country = countries.value.find((country: any) => country.name.toLowerCase() === item.toLowerCase());
  searchCountry(item);
}

const changePhone = (e: any) => {
  formData.phone = e;
}

const closeModal = () => {
  emit('closeModal');
}

const successModal = () => {
  emit('successModal', formData);
}

onMounted(() => {
  getCountries();
})
</script>

<style scoped lang="scss">
.modal-customer{
  width: 800px;
  height: 712px;
}
</style>