<template>
  <modal-layout-edit
      class="modal-customer"
      :title="'New Customer'"
      @close="closeModal()"
      @success="successModal()"
  >
    <template v-slot:content>
      <div class="form" v-if="isSetData">
        <div class="form-row row-items-3">
          <div class="field-input">
            <label for="permissions">First name</label>
            <input id="permissions" type="text" placeholder="Enter first name*" v-model="formData.firstName">
          </div>
          <div class="field-input">
            <ui-select
                :label="'Country'"
                :placeholder="'Select country*'"
                :items="selects.country.filteredItems.length ? selects.country.filteredItems : selects.country.items"
                :current-value="formData.country"
                :is-loading-items="selects.country.isLoadingItems"
                @search="searchCountry"
                @select-item="changeCountry"
            />
          </div>
          <div class="field-input">
            <label for="permissions">Permissions</label>
            <input id="permissions" type="text" placeholder="Customer" disabled>
          </div>
        </div>
        <div class="form-row row-items-3">
          <div class="field-input">
            <label for="permissions">Last Name</label>
            <input id="permissions" type="text" placeholder="Enter last name*" v-model="formData.lastName">
          </div>
          <div class="field-input">
            <label for="permissions">Email</label>
            <input id="permissions" type="text" placeholder="Enter email*" v-model="formData.email">
          </div>
          <div class="field-input">
            <label for="permissions">Created</label>
            <input id="permissions" type="text" :value="filteredDateInFullDateWithoutTime(new Date(props.data.created_at))" disabled>
          </div>
        </div>
        <div class="form-row row-items-3">
          <div class="field-input">
            <label for="permissions">Date of Birth</label>
            <v-date-picker :enable-time-picker="false" v-model="formData.dateOfBirth">
              <template #input-icon>
                <img class="input-slot-image" src="../../static/icons/form/calendar.svg"/>
              </template>
            </v-date-picker>
          </div>
          <div class="field-input">
            <label for="permissions">Phone number</label>
            <vue-tel-input placeholder="Enter phone number*" @input="changePhone" :value="formData.phone"></vue-tel-input>
          </div>
          <div class="field-input">
            <label for="permissions">Status</label>
            <div v-if="config.user.statuses[props.data.status.toLowerCase()]" class="list-icon__point customer-status_point" :style="{ background: config.user.statuses[props.data.status.toLowerCase()].color }"></div>
            <input id="permissions" type="text" style="padding-left: 32px" :value="config.user.statuses[props.data.status.toLowerCase()].title" disabled>
          </div>
        </div>
        <div class="form-row row-items-3">
          <div class="field-radio-btn">
            <label for="permissions">Gender</label>
            <div class="field-radio-btn__items">
              <div class="field-radio-btn__item">
                <input type="radio" id="male" name="gender" value="male" v-model="formData.gender" />
                <label for="male">Male</label>
              </div>
              <div class="field-radio-btn__item">
                <input type="radio" id="female" name="gender" value="female" v-model="formData.gender" />
                <label for="female">Female</label>
              </div>
            </div>
          </div>
          <div class="new">
            <span>
              + ADD Email<br/>
              + ADD phone number
            </span>
          </div>
          <div class="field-input">
            <label for="permissions">Note</label>
            <input id="permissions" type="text" placeholder="Enter note" v-model="formData.comment">
          </div>
        </div>
      </div>
      <span v-if="errorMessage" class="error-message">{{ errorMessage }}</span>
    </template>
  </modal-layout-edit>
</template>

<script setup lang="ts">
import ModalLayoutEdit from './layouts/edit-without-footer.vue'
import {onMounted, ref, reactive} from 'vue';
import UiSelect from '../fields/ui-select.vue';
import locationsService from '../../middleware/services/locations.ts';
import {filteredDateInFullDateWithoutTime} from '../../middleware/filters/date.ts';
import config from '../../middleware/config.ts';

const emit = defineEmits(['closeModal', 'successModal']);
const props = defineProps({
  isEditeModal: {
    default: false,
    type: Boolean
  },
  data: {
    default: {},
    type: Object
  },
  errorMessage: {
    default: '',
    type: String
  }
})

const formData = reactive<any>({
  firstName: '',
  lastName: '',
  email: '',
  phone: '',
  dateOfBirth: '',
  country: '',
  gender: 'male',
  comment: ''
});

const selects = reactive<any>({
  country: {
    items: [],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  },
})

const countries = ref<any>([]);
let isSetData = ref<boolean>(false);

const setData = () => {
  formData.firstName = props.data['first_name'] || '';
  formData.lastName = props.data['last_name'] || '';
  formData.email = props.data['email'] || '';
  formData.phone = props.data['phone'] || '';
  formData.dateOfBirth = props.data['day_of_birth'] || '';
  formData.country = props.data['country'] || '';
  formData.gender = props.data['gender'] || 'male';
  formData.comment = props.data['comment'] || '';
  isSetData.value = true;
}

const getCountries = () => {
  selects.country.isLoadingItems = true;
  locationsService.countries().then(resp => {
    countries.value = resp.data;
    selects.country.items = resp.data.map((country: any) => country.name);
  }).finally(() => {
    selects.country.isLoadingItems = false;
  })
}

const searchCountry = (value: string) => {
  selects.country.filteredItems = selects.country.items.filter((country: any) => country.toLowerCase().includes(value.toLowerCase()));
}

const changeCountry = (item: string) => {
  selects.country.item = item;
  selects.country.value = item;
  formData.country = countries.value.find((country: any) => country.name.toLowerCase() === item.toLowerCase()).name;
  searchCountry(item);
}

const changePhone = (e: any) => {
  formData.phone = e;
}

const closeModal = () => {
  emit('closeModal');
}

const successModal = () => {
  emit('successModal', formData);
}

onMounted(() => {
  if (props.isEditeModal) {
    setData();
  }
  getCountries();
})
</script>

<style scoped lang="scss">
.modal-customer{
  width: 800px;
  height: 712px;
}
.new span{
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: left;
  cursor: pointer;
}
.customer-status_point{
  position: absolute;
  left: 16px;
  top: 40px;
}
</style>