<template>
  <modal-layout-default
      :title="title"
      :header-btn="'edit'"
      :show-footer="isEdit"
      @close="cancelEdit()"
      @success="successModal()"
      @clickOnEdit="clickOnEdit()"
      :button-success="'Save'"
  >
    <template v-slot:content>
      <form class="driver-modal__content" :aria-disabled="true">
        <div class="driver-modal-content__left">
          <div class="form-row row-items-2">
            <div class="field-input">
              <label for="permissions">Permissions</label>
              <input id="permissions"
                     type="text"
                     v-model="formData.permission"
                     :disabled="true"
              >
            </div>
            <div class="field-input">
              <label for="permissions">Status</label>
              <div v-if="config.user.statuses[driver.state.toLowerCase()]" class="list-icon__point driver-status_point"
                   :style="{ background: config.user.statuses[driver.state.toLowerCase()].color }"></div>
              <input id="permissions"
                     style="padding-left: 32px"
                     type="text"
                     v-model="formData.state"
                     disabled
              >
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="field-input">
              <label for="permissions">First name</label>
              <input id="permissions"
                     type="text"
                     v-model="formData.firstName"
                     :disabled="!isEdit"
              >
            </div>
            <div class="field-input">
              <label for="permissions">Last name</label>
              <input id="permissions"
                     type="text"
                     v-model="formData.lastName"
                     :disabled="!isEdit"
              >
            </div>
          </div>
          <div class="form__subtitle">
            <h2>Address</h2>
          </div>
          <div class="form-row row-items-2">
            <ui-select
                :label="'Country'"
                :placeholder="'Select country*'"
                :items="selects.country.filteredItems.length ? selects.country.filteredItems : selects.country.items"
                :current-value="driver.country?.name || driver.country || ''"
                :is-loading-items="selects.country.isLoadingItems"
                :disabled="!isEdit"
                @search="searchCountry"
                @select-item="changeCountry"
            />
            <div class="field-input">
              <ui-select
                  :label="'City'"
                  :placeholder="'Select city*'"
                  :items="selects.city.filteredItems.length ? selects.city.filteredItems : selects.city.items"
                  :current-value="driver.city?.name || driver.city || ''"
                  :is-loading-items="selects.city.isLoadingItems"
                  :disabled="!isEdit || selects.city.isDisabled"
                  @search="searchCity"
                  @select-item="changeCity"
              />
            </div>
          </div>
          <div class="form__subtitle">
            <h2>Documentation</h2>
          </div>
          <div class="form-row row-items-2">
            <div class="field-file">
              <label for="personalId">Personal ID</label>
              <template v-if="!isEdit && driver.personal">
                <a target="_blank" :href="getPersonalIdLink" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Download</span>
                </a>
              </template>
              <template v-else>
                <input type="file"
                       id="personalId"
                       style="display: none"
                       :disabled="!isEdit"
                       @change="changeDocument('personalId', $event)"
                >
                <label for="personalId" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Upload</span>
                </label>
              </template>
            </div>
            <div class="field-file">
              <label for="licence">Driving license (both sides)</label>
              <template v-if="!isEdit && driver.licence">
                <a target="_blank" :href="getDriversLicenceLink" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Download</span>
                </a>
              </template>
              <template v-else>
                <input type="file"
                       id="licence"
                       style="display: none"
                       :disabled="!isEdit"
                       @change="changeDocument('licence', $event)"
                >
                <label for="licence" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Upload</span>
                </label>
              </template>
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="field-file">
              <label for="criminalCheck">Background criminal check</label>
              <template v-if="!isEdit && driver.criminal_check">
                <a target="_blank" :href="getCriminalCheckLink" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Download</span>
                </a>
              </template>
              <template v-else>
                <input type="file"
                       id="criminalCheck"
                       style="display: none"
                       :disabled="!isEdit"
                       @change="changeDocument('criminalCheck', $event)"
                >
                <label for="criminalCheck" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Upload</span>
                </label>
              </template>
            </div>
            <!--            <div class="field-file">
                          <label for="ddd">Background criminal check</label>
                          <div class="field-file__button">
                            <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                            <span>Upload  New*</span>
                          </div>
                        </div>-->
          </div>
          <div class="form__subtitle">
            <h2>Status</h2>
          </div>
          <div class="form-row row-items-2" style="justify-content: start">
            <div class="radio-input">
              <input v-model="formData.state" value="Approved" id="approved" type="radio" />
              <label for="approved">Approved</label>
            </div>
            <div class="radio-input">
              <input v-model="formData.state" id="rejected" value="Rejected" type="radio" />
              <label for="rejected">Rejected</label>
            </div>
            <div class="radio-input">
              <input v-model="formData.state" type="radio" value="Pending time" id="pending" />
              <label for="pending">Pending</label>
            </div>
          </div>
        </div>
        <div class="driver-modal-content__right">
          <input type="file" id="photo" style="display: none" @change="changePhoto">
          <label for="photo" class="photo photo-img" v-if="imgURL.length" :style="{backgroundImage: imgURL}"></label>
          <label for="photo" class="photo" v-if="isEdit && !imgURL.length">
            <img :src="'https://api.drivermytripline.com/storage/drivers/' + driver.id + '/' + driver['photo']"
                 alt="photo">
          </label>
          <div class="photo" v-if="!isEdit  && !imgURL.length">
            <img :src="'https://api.drivermytripline.com/storage/drivers/' + driver.id + '/' + driver['photo']"
                 alt="photo">
          </div>
        </div>
      </form>
    </template>
  </modal-layout-default>
</template>

<script setup lang="ts">
import ModalLayoutDefault from './layouts/default.vue';
import {computed, onMounted, reactive, ref} from 'vue';
import UiSelect from '../fields/ui-select.vue';
import locationsService from '../../middleware/services/locations.ts';
import config from '../../middleware/config.ts';

const props = defineProps({
  title: {
    default: '',
    type: String
  },
  driver: {
    default: null,
    type: Object
  }
})

const emit = defineEmits(['closeModal', 'successModal']);

const checkDisabledCity = computed(() => selects.country.item === null);
const getCriminalCheckLink = computed(() => import.meta.env.VITE_APP_IMG_LINK + 'drivers/' + props.driver.id + '/' + props.driver.criminal_check);
const getDriversLicenceLink = computed(() => import.meta.env.VITE_APP_IMG_LINK + 'drivers/' + props.driver.id + '/' + props.driver.licence);
const getPersonalIdLink = computed(() => import.meta.env.VITE_APP_IMG_LINK + 'drivers/' + props.driver.id + '/' + props.driver.personal);

const formData = reactive<any>({
  permission: 'Driver',
  status: '',
  firstName: '',
  lastName: '',
  phone: '',
  email: '',
  country: '',
  city: '',
  personalId: null,
  license: null,
  taxiLicense: null,
  criminalCheck: null,
  photo: '',
})

const changeDocument = (name: any, event: any) => {
  formData[name] = event.target.files[0];
}

const selects = reactive<any>({
  country: {
    items: [],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  },
  city: {
    items: [],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false,
    isDisabled: checkDisabledCity
  },
})

const isEdit = ref<boolean>(false);
const imgURL = ref<string>('');
const countries = reactive<any>([]);
const cities = reactive<any>([]);

const successModal = () => {
  emit('successModal', formData)
  isEdit.value = false;
}

const toggleEdit = () => {
  isEdit.value = !isEdit.value;
}

const clickOnEdit = () => {
  if (isEdit.value) {
    updateFormData();
  }
  toggleEdit();
}

const cancelEdit = () => {
  updateFormData();
  toggleEdit();
}

const updateFormData = () => {
  formData.state = props.driver['state'];
  formData.firstName = props.driver['first_name'];
  formData.lastName = props.driver['last_name'];
  formData.phone = props.driver['phone'];
  formData.email = props.driver['email'];
  formData.country = props.driver['country'];
  formData.city = props.driver['city'];
  formData.personalId = props.driver['personal'];
  formData.licence = props.driver['licence'];
  formData.criminalCheck = props.driver['criminal_check'];

  selects.country.item = formData.country?.name;
  selects.city.item = formData.city?.name;

  imgURL.value = '';
}

const changePhoto = (event: any) => {
  let fr = new FileReader();
  fr.addEventListener("load", function () {
    imgURL.value = "url(" + fr.result + ")";
  }, false);
  fr.readAsDataURL(event.target.files[0]);
  formData.photo = event.target.files[0];
}

const getCountries = () => {
  selects.country.isLoadingItems = true;
  locationsService.countries().then(resp => {
    countries.value = resp.data;
    selects.country.items = resp.data.map((country: any) => country.name);
  }).finally(() => {
    selects.country.isLoadingItems = false;
  })
}

const searchCountry = (value: string) => {
  selects.country.filteredItems = selects.country.items.filter((country: any) => country.toLowerCase().includes(value.toLowerCase()));
}

const changeCountry = (item: string) => {
  selects.country.item = item;
  selects.country.value = item;
  formData.country = countries.value.find((country: any) => country.name.toLowerCase() === item.toLowerCase());
  searchCountry(item);
  getCities();
}

const getCities = () => {
  selects.city.isLoadingItems = true;
  locationsService.citiesByCountryId(formData.country.id).then(resp => {
    cities.value = resp.data;
    selects.city.items = resp.data.map((city: any) => city.name);
  }).finally(() => {
    selects.city.isLoadingItems = false;
  })
}

const searchCity = (value: string) => {
  selects.city.filteredItems = selects.city.items.filter((city: any) => city.toLowerCase().includes(value.toLowerCase()));
}

const changeCity = (item: string) => {
  selects.city.item = item;
  selects.city.value = item;
  selects.city.isDisabled = false;
  formData.city = cities.value.find((city: any) => city.name.toLowerCase() === item.toLowerCase());
  searchCity(item);
}

onMounted(() => {
  updateFormData();
  getCountries();
})
</script>

<style scoped lang="scss">
.radio-input {
  display: flex;
  align-items: center;
  width: auto;
  font-size: 14px;
  margin-right: 48px;

  input {
    margin-right: 8px;
  }
}

.field-file__button {
  text-align: center;
}

.driver-modal__content {
  display: flex;
  justify-content: space-between;
  margin: 0 4%;
}

.driver-modal-content {
  &__left {
    width: 68%;
  }

  &__right {
    width: 28%;
    display: flex;
    justify-content: end;
  }
}

.form-row {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.photo {
  width: 274px;
  height: 287px;
  border: 1px solid $blue1;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.photo-img {
  background-position: center;
  background-size: cover;
}

.driver-status_point {
  position: absolute;
  left: 16px;
  top: 40px;
}
</style>
