<template>
  <component
      :is="getCurrentLayout()"
      :title="title"
      @close="closeModal()"
      @success="successModal()"
      :current-step="step"
      :count-steps="4"
      :buttonSuccess="step === 4 ? 'Create' : 'Next step'"
  >
    <template v-slot:content>
      <div class="illustration" v-if="banner !== null && step === 1">
        <img :src="banner?.pathname" alt="modal-illustration">
      </div>
      <div class="form">
        <template v-if="step === 1">
          <div class="row-with-photo">
            <div class="row-with-photo__left">
              <div class="form-row row-items-1" style="margin-left: 0; margin-right: 0; width: 100%">
                <div class="field-input">
                  <label for="permissions">Permissions</label>
                  <input id="permissions" type="text" placeholder="Select permission*" value="Partner" disabled>
                </div>
              </div>
              <div class="form-row row-items-1" style="margin-left: 0; margin-right: 0; width: 100%">
                <div class="field-input">
                  <label for="permissions">First Name</label>
                  <input id="permissions" type="text" placeholder="Enter first name*" v-model="formData.profile.firstName">
                </div>
              </div>
            </div>
            <div class="row-with-photo__right">
              <div class="avatar">
                <div v-if="imgURL.length" class="image" :style="{backgroundImage: imgURL}"></div>
                <div v-else class="image no__image"></div>
                <div class="avatar-upload">
                  <input type="file" id="avatar" style="display: none" @change="changePhoto($event)"/>
                  <label for="avatar">+ ADD FOTO</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="field-input">
              <label for="permissions">Last Name</label>
              <input id="permissions" type="text" placeholder="Enter last name*" v-model="formData.profile.lastName">
            </div>
            <div class="field-input">
              <label for="permissions">Phone Number</label>
              <vue-tel-input placeholder="Enter phone number*" @input="changePhone"></vue-tel-input>
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="field-input">
              <label for="permissions">Date of Birth</label>
              <v-date-picker :enable-time-picker="false" v-model="formData.profile.dateOfBirth">
                <template #input-icon>
                  <img class="input-slot-image" src="../../static/icons/form/calendar.svg"/>
                </template>
              </v-date-picker>
            </div>
            <div class="field-input">
              <label for="permissions">Email</label>
              <input id="permissions" type="text" placeholder="Enter email*" v-model="formData.profile.email">
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="field-input">
              <label for="permissions">Gender</label>
              <input id="permissions" type="text" placeholder="Enter first name*" v-model="formData.profile.gender">
            </div>
            <div class="field-input">
              <label for="permissions">WhatsApp Number</label>
              <input id="permissions" type="text" placeholder="Enter WhatsApp number*" v-model="formData.profile.whatsapp">
            </div>
          </div>
          <div class="form__section">
            <div class="form__title">
              <span>Address</span>
            </div>
            <div class="form-row row-items-2">
              <div class="field-input">
                <label for="permissions">Country</label>
                <input id="permissions" type="text" placeholder="Select country*" v-model="formData.profile.address.country">
              </div>
              <div class="field-input">
                <label for="permissions">City</label>
                <input id="permissions" type="text" placeholder="Select city*" v-model="formData.profile.address.city">
              </div>
            </div>
            <div class="form-row row-items-2">
              <div class="field-input">
                <label for="permissions">Address</label>
                <input id="permissions" type="text" placeholder="Enter address*" v-model="formData.profile.address.address">
              </div>
              <div class="field-input">
                <label for="permissions">Postal Code</label>
                <input id="permissions" type="text" placeholder="Enter postal code*" v-model="formData.profile.address.postalCode">
              </div>
            </div>
          </div>
          <div class="form__section">
            <div class="form__title">
              <span>Documentation</span>
            </div>
            <div class="form-row row-items-2">
              <div class="field-file">
                <label for="personalId">Personal ID (both sides)</label>
                <input type="file" id="personalId" style="display: none" @change="changeDocument('profile', 'personalId', $event)">
                <label for="personalId" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Upload  New*</span>
                </label>
              </div>
              <div class="field-file">
                <label for="license">Driving License (both sides)</label>
                <input type="file" id="license" style="display: none" @change="changeDocument('profile', 'drivingLicense', $event)">
                <label for="license" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Upload  New*</span>
                </label>
              </div>
            </div>
            <div class="form-row row-items-2">
              <div class="field-file">
                <label for="criminal-check">Background Criminal Check</label>
                <input type="file" id="criminal-check" style="display: none" @change="changeDocument('profile', 'criminalCheck', $event)">
                <label for="criminal-check" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Upload  New*</span>
                </label>
              </div>
              <div class="field-file">
                <label for="other">Other</label>
                <input type="file" id="other" style="display: none" @change="changeDocument('profile', 'other', $event)">
                <label for="other" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Upload  New*</span>
                </label>
              </div>
            </div>
          </div>
        </template>
        <template v-if="step === 2">
          <div class="form__section">
            <div class="form__title">
              <span>Company details</span>
            </div>
            <div class="form-row row-items-2">
              <div class="field-input">
                <label for="permissions">Name of company</label>
                <input id="permissions" type="text" placeholder="Enter name of company*" v-model="formData.company.name">
              </div>
              <div class="field-input">
                <label for="permissions">Email</label>
                <input id="permissions" type="text" placeholder="Enter company email*" v-model="formData.company.email">
              </div>
            </div>
            <div class="form__sub-title">
              <span>Legal representative info</span>
            </div>
            <div class="form-row row-items-2">
              <div class="field-input">
                <label for="permissions">First name</label>
                <input id="permissions" type="text" placeholder="Enter first name*" v-model="formData.company.represent.firstName">
              </div>
              <div class="field-input">
                <label for="permissions">Date of Birthl</label>
                <v-date-picker :enable-time-picker="false" v-model.lazy="formData.company.represent.dateOfBirth">
                  <template #input-icon>
                    <img class="input-slot-image" src="../../static/icons/form/calendar.svg"/>
                  </template>
                </v-date-picker>
              </div>
            </div>
            <div class="form-row row-items-2">
              <div class="field-input">
                <label for="permissions">Last name</label>
                <input id="permissions" type="text" placeholder="Enter last name*" v-model="formData.company.represent.lastName">
              </div>
              <div class="field-input">
                <label for="permissions">Country of residence</label>
                <v-date-picker :enable-time-picker="false" v-model="formData.company.represent.countryResidence">
                  <template #input-icon>
                    <img class="input-slot-image" src="../../static/icons/form/calendar.svg"/>
                  </template>
                </v-date-picker>
              </div>
            </div>
            <div class="form__sub-title">
              <span>Address legal representative info</span>
            </div>
            <div class="form-row row-items-2">
              <div class="field-input">
                <label for="permissions">Country</label>
                <input id="permissions" type="text" placeholder="Enter country*" v-model="formData.company.address.country">
              </div>
              <div class="field-input">
                <label for="permissions">City</label>
                <input id="permissions" type="text" placeholder="Enter city*" v-model="formData.company.address.city">
              </div>
            </div>
            <div class="form-row row-items-2">
              <div class="field-input">
                <label for="permissions">Address</label>
                <input id="permissions" type="text" placeholder="Enter address*" v-model="formData.company.address.address">
              </div>
              <div class="field-input">
                <label for="permissions">Postal code</label>
                <input id="permissions" type="text" placeholder="Enter postal code*" v-model="formData.company.address.postalCode">
              </div>
            </div>
            <div class="form__sub-title">
              <span>Headquarters address</span>
            </div>
            <div class="form-row row-items-2">
              <div class="field-input">
                <label for="permissions">Country</label>
                <input id="permissions" type="text" placeholder="Enter country*" v-model="formData.company.headquarters.country">
              </div>
              <div class="field-input">
                <label for="permissions">City</label>
                <input id="permissions" type="text" placeholder="Enter city*" v-model="formData.company.headquarters.city">
              </div>
            </div>
            <div class="form-row row-items-2">
              <div class="field-input">
                <label for="permissions">Address</label>
                <input id="permissions" type="text" placeholder="Enter address*" v-model="formData.company.headquarters.address">
              </div>
              <div class="field-input">
                <label for="permissions">Postal code</label>
                <input id="permissions" type="text" placeholder="Enter postal code*" v-model="formData.company.headquarters.postalCode">
              </div>
            </div>
            <div class="form__title">
              <span>Documentation</span>
            </div>
            <div class="form-row row-items-2">
              <div class="field-file">
                <label for="criminal-check">Business license, required for transport services providers in your country</label>
                <input type="file" id="criminal-check" style="display: none" @change="changeDocument('company', 'license', $event)">
                <label for="criminal-check" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Upload  New*</span>
                </label>
              </div>
              <div class="field-file">
                <label for="other">Certified articles of association<br/>&nbsp;</label>
                <input type="file" id="other" style="display: none" @change="changeDocument('company', 'certified', $event)">
                <label for="other" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Upload  New*</span>
                </label>
              </div>
            </div>
          </div>
        </template>
        <template v-if="step === 3">
          <div class="form__section">
            <div class="form__title">
              <span>Active billing information</span>
            </div>
            <div class="form-row row-items-2">
              <div class="field-input">
                <label for="permissions">Bank Account Country</label>
                <input id="permissions" type="text" placeholder="Enter Bank Account Country*" v-model="formData.billing.country">
              </div>
              <div class="field-input">
                <label for="permissions">VAT Number (for VAT Payers)</label>
                <input id="permissions" type="text" placeholder="Enter VAT" v-model="formData.billing.vat">
              </div>
            </div>
            <div class="form-row row-items-2">
              <div class="field-input">
                <label for="permissions">Company ID Number</label>
                <input id="permissions" type="text" placeholder="Enter Company ID number*" v-model="formData.billing.companyId">
              </div>
              <div class="field-input">
                <label for="permissions">IBAN</label>
                <input id="permissions" type="text" placeholder="Enter IBAN*" v-model="formData.billing.iban">
              </div>
            </div>
          </div>
        </template>
        <template v-if="step === 4">
          <div class="form__title">
            <span>Cooperation Agreement</span>
          </div>
          <div class="document__block">
            <p>Cooperation Agreement<br/>
              (hereinafter the "Agreement”)<br/>
              by and between<br/>
              MYTRIPLINE s.r.o. (before Lane Transfers s.r.o.)<br/>
              ID. No. 07388489<br/>
              With registered office: Roháčova 145/14, 130 00 Prague 3, Czech Republic<br/>
              Represented by Mr Erik Lehuta, the Director (hereinafter the "Partner")<br/>
              and<br/>
              Emerging Travel Inc.<br/>
              Registration number: 4869611<br/>
              With registered office: 3500 S. DuPont Hwy, Dover, County of Kent 19901, Delaware, USA<br/>
              Represented by Mr Nicholas Lane, the Operations manager, based on the Power of Attorney (hereinafter the "ETG")<br/>
              (Partner and ETG hereinafter the “Party" and together the "Parties”)<br/>
              Preamble<br/>
              Whereas:<br/>
              1) ETG operates a global online platform (hereinafter the "Platform") that connects customers (hereinafter the “Customers") with independent transportation service providers;<br/>
              2) Partner is an independent transportation service provider with its own vehicles and drivers;<br/>
              3) Partner intends to provide transportation services for ETG in all countries where ETG operates;<br/>
              4) The Partner and ETG wish to enter into this Cooperation Agreement which describes in detail the rights and obligations of the Parties in the provision of transport services by the Partner to ETG's Customers.<br/>
              I. Introduction<br/>
              1) ETG provides booking services on the Platform that allow Customers to book a selected transfer with the Partner (transport service).<br/>
              2) The Partner shall inform ETG in advance about available transport services (destinations) and the respective prices of the transport services offered by the Partner via the API (XML connection).<br/>
              3) For the purpose of the cooperation under this Agreement the Partner and ETG shall communicate through the API (XML connection).<br/>
              II. Partner’s declarations<br/>
              1) The Partner confirms that it has read the terms and conditions of use of the Platform applicable to the booking of transport services offered via the Platform.<br/>
              2) The Partner declares that all its drivers have all necessary licenses, permits and insurance required to provide transport services in all countries where the Partner intends to provide transport services to ETG. Partner agrees that all its drivers shall maintain all licenses, permits and insurance in force while providing transport services to ETG.<br/>
              III. Booking of transport services<br/>
              1) A Customer makes a booking of transport service via the Platform.<br/>
              2) ETG shall keep the Partner informed of the Customers’ bookings of transport services via the API (XML connection).<br/>
              [KO1] [KO2]<br/>
              IV. Transport services<br/>
              1) A binding transport contract regarding a specific transport service is concluded when ETG confirms the Partner’s acceptance of the booking. Confirmation of acceptance of the booking shall be made automatically and immediately by ETG via the API (XML connection).<br/>
              2) Upon confirmation of acceptance of the booking, the Partner shall provide the transport service to the Customer in compliance with the booking, all applicable laws and regulations and take care of the safety and comfort of the Customer during transport.<br/>
              3) Car: The Partner shall arrange that the car used for the transport service:<br/>
              - is publicly registered,<br/>
              - serviced and receive scheduled maintenance checks in accordance with the manufacturer’s recommendations,<br/>
              - matches the car category according to the booking,<br/>
              - meets all legal requirements for the transport services in the countries involved according to the booking, and<br/>
              - is smoke-free, clean, in good working condition and equipped with the necessary and appropriate safety and/or technical equipment, i.e. first aid<br/>
              kit, working fire extinguisher, warning triangle, seat belts for each passenger, etc. as required nationally or regionally.<br/>
              [KO1]The same point. Booking can’t be rejected, the price offer after the search can be rejected.<br/>
              [KO2]All reservation should be confirmed automatically, if they were place during 24h after the initial search.</p><br/>
          </div>
        </template>
      </div>
    </template>
  </component>
</template>

<script setup lang="ts">
import ModalLayoutDefault from '../modals/layouts/default.vue'
import ModalLayoutEdit from './layouts/edit-without-footer.vue';
import {reactive, ref} from 'vue';

const props = defineProps({
  title: {
    default: '',
    type: String
  },
  banner: {
    default: null,
    type: URL
  },
  data: {
    default: null,
    type: Object
  },
  isEditeModal: {
    default: false,
    type: Boolean
  }
})

const formData = reactive<any>({
  profile: {
    permission: '4',
    firstName: '',
    lastName: '',
    phone: '',
    dateOfBirth: new Date(),
    email: '',
    gender: '',
    whatsapp: '',
    address: {
      country: '',
      city: '',
      address: '',
      postalCode: '',
    },
    documents: {
      personalId: null,
      drivingLicense: null,
      criminalCheck: null,
      other: null,
      photo: null
    } as any
  },
  company: {
    name: '',
    email: '',
    represent: {
      firstName: '',
      dateOfBirth: '',
      lastName: '',
      countryResidence: ''
    },
    address: {
      country: '',
      city: '',
      address: '',
      postalCode: '',
    },
    headquarters: {
      country: '',
      city: '',
      address: '',
      postalCode: '',
    },
    documents: {
      license: null,
      certified: null,
    } as any
  },
  billing: {
    country: '',
    vat: '',
    companyId: '',
    iban: '',
  },
})

let imgURL = ref<any>('');

const step = ref<number>(1);

const emit = defineEmits(['closeModal', 'successModal'])

const closeModal = () => {
  emit('closeModal');
}

const successModal = () => {
  if (step.value === 4) {
    emit('successModal', formData);
  } else {
    ++step.value;
    const modalContentRef: any = document.querySelector('.modal-layout__content');
    modalContentRef.scrollTo(0, 0);
  }
}

const changePhone = (e: any) => {
  formData.profile.phone = e;
}

const changeDocument = (object: any, name: any, event: any) => {
  formData[object].documents[name] = event.target.files[0];
}
const changePhoto = (event: any) => {
  let fr = new FileReader();
  fr.addEventListener("load", function () {
    imgURL.value = "url(" + fr.result + ")";
  }, false);
  fr.readAsDataURL(event.target.files[0]);
  formData.profile.documents.photo = event.target.files[0];
}

const getCurrentLayout = () => {
  return props.isEditeModal ? ModalLayoutEdit : ModalLayoutDefault;
}

</script>

<style scoped lang="scss">
.illustration{
  width: 92%;
  margin: 0 auto 24px auto;
  img{
    width: 100%;
  }
}
.form__address{
  background: $grey1;
}
.document__block{
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  margin: 16px 10%;
}
</style>