<template>
  <modal-layout-without-footer
      :title="'Partner details'"
      :header-btn="'edit'"
      @success="emitSuccess"
      @close="emitReload"
  >
    <template v-slot:content>
      <div class="driver-modal__content" :aria-disabled="true">
        <div class="form-row row-items-3">
          <div class="field-input">
            <ui-select
                :label="'Partner'"
                :placeholder="'Select partner*'"
                :items="selects.partner.items"
                :is-button="true"
                :current-value="props.partner.profile !== null && props.partner.profile.first_name !== null ? props.partner.profile.first_name + ' ' + props.partner.profile.last_name : (props.partner !== undefined && props.partner !== null ? props.partner.first_name + ' ' + props.partner.last_name: '')"
                :is-loading-items="selects.partner.isLoadingItems"
                @select-item="changePartner"
            />
          </div>
          <div class="field-input">
            <ui-select
                :label="'Driver'"
                :placeholder="'Select driver*'"
                :items="selects.driver.items"
                :is-button="true"
                :current-value="driver.first_name !== undefined ? driver.first_name + ' ' + driver.last_name : ''"
                :is-loading-items="selects.driver.isLoadingItems"
                @select-item="changeDriver"

            />
          </div>
          <div class="field-input">
            <ui-select
                :label="'Vehicle license plate'"
                :placeholder="'Select vehicle license plate*'"
                :items="selects.vehicle.items"
                :is-button="true"
                :current-value="vehicle.licence !== undefined ? vehicle.licence : ''"
                :is-loading-items="selects.vehicle.isLoadingItems"
                @select-item="changeVehicle"
            />
          </div>
        </div>
      </div>
    </template>
  </modal-layout-without-footer>
</template>

<script setup lang="ts">
import ModalLayoutWithoutFooter from './layouts/edit-without-footer.vue';
import UiSelect from '../fields/ui-select.vue';
import {onMounted, reactive} from 'vue';
import ordersService from '../../middleware/services/orders.ts';
import driversService from '../../middleware/services/drivers.ts';
import vehiclesService from '../../middleware/services/vehicles.ts';

const props = defineProps({
  partner: {
    default: null,
    type: Object
  },
  driver: {
    default: null,
    type: Object
  },
  vehicle: {
    default: null,
    type: Object
  }
})

const emits = defineEmits(['success', 'reload'])

const formData = reactive<any>({
  partnerId: props.partner !== undefined && props.partner !== null ? props.partner.id : null,
  driver: null,
  vehicleId: null
})

const selects = reactive<any>({
  partner: {
    items: [],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  },
  driver: {
    items: [],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  },
  vehicle: {
    items: [],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  }
});

const partners = reactive<any>([]);
const drivers = reactive<any>([]);
const vehicles = reactive<any>([]);

const getPartners = () => {
  selects.partner.isLoadingItems = true;
  ordersService.getPartners().then(resp => {
    partners.value = resp.data;
    selects.partner.items = resp.data.map((partner: any) => partner.profile !== null && partner.profile.first_name !== null ? partner.profile.first_name + ' ' + partner.profile.last_name : '').filter((partner: any) => partner.length > 0);
  }).finally(() => {
    selects.partner.isLoadingItems = false;
  })
}

const getDriverByPartnerId = (id: any) => {
  selects.driver.isLoadingItems = true;
  driversService.getDriversByPartnerId(id).then(resp => {
    drivers.value = resp.data;
    console.log(resp.data)
    selects.driver.items = resp.data.map((driver: any) => driver.first_name !== null ? driver.first_name + ' ' + driver.last_name : '').filter((driver: any) => driver.length > 0);
  }).finally(() => {
    selects.driver.isLoadingItems = false;
  })
}
const getVehiclesByPartnerId = (id: any) => {
  selects.vehicle.isLoadingItems = true;
  vehiclesService.getVehiclesByPartnerId(id).then(resp => {
    vehicles.value = resp.data;
    console.log(resp.data)
    selects.vehicle.items = resp.data.map((vehicle: any) => vehicle.licence);
  }).finally(() => {
    selects.vehicle.isLoadingItems = false;
  })
}

const changePartner = (item: any) => {
  selects.partner.item = item;
  selects.partner.value = item;
  const partner = partners.value.find((partnerItem: any) => partnerItem.profile !== null && partnerItem.profile.first_name + ' ' + partnerItem.profile.last_name === item || partnerItem.first_name + ' ' + partnerItem.last_name === item);
  formData.partnerId = partner.id;
  getDriverByPartnerId(partner.id);
}

const changeDriver = (item: any) => {
  selects.driver.item = item;
  selects.driver.value = item;
  formData.driver = drivers.value.find((driverItem: any) => driverItem.first_name !== null && driverItem.first_name + ' ' + driverItem.last_name === item);
}

const changeVehicle = (item: any) => {
  selects.vehicle.item = item;
  selects.vehicle.value = item;
  formData.vehicleId = vehicles.value.find((vehicleItem: any) => vehicleItem.licence === item).id;
}

const emitSuccess = () => {
  emits('success', formData);
}

const emitReload = () => {
  emits('reload');
}

onMounted(() => {
  getPartners();
  console.log(props.partner)
  if (props.partner !== undefined && props.partner !== null) {
    getDriverByPartnerId(props.partner.id);
    getVehiclesByPartnerId(props.partner.id);
  }
})
</script>

<style scoped lang="scss">

</style>