<template>
  <modal-layout-default
      v-if="setDataSuccess"
      :title="title"
      :headerBtn="formData.status !== 'complete' ? 'edit' : ''"
      :sub-btn="formData.status !== 'accepted' && formData.status !== 'confirmed' && formData.status !== 'complete' ? 'Order History' : ''"
      :button-success="isEdit ? 'Save' : actionByStatus[formData.status].btn"
      :button-cancel="isEdit ? 'Cancel' : 'Delete'"
      :showFooter="formData.status !== 'complete' && formData.status !== 'fail'"
      @success="success()"
      @close="isEdit = false"
      @click-on-edit="toggleEdit"
  >
    <template v-slot:content>
      <div class="order-modal__content">
        <div class="order-modal-content__top">
          <div class="form-row row-items-3">
            <div class="field-input">
              <label for="permissions">Booking number</label>
              <input id="permissions" type="text" placeholder="Enter pickup address*" :value="formData.id" disabled>
            </div>
            <div class="field-input">
              <label for="permissions">Date of creation</label>
              <input id="permissions" type="text" placeholder="Enter pickup address*" :value="filteredDateInFullDateWithoutTime(new Date(formData.created))" disabled>
            </div>
            <div class="field-input">
              <label for="permissions">Status</label>
              <div class="list-icon__point order-status_point" :style="{ background: config.orders.types[formData.status].color }"></div>
              <input id="permissions" type="text" placeholder="Enter pickup address*" style="padding-left: 32px" :value="config.orders.types[formData.status].title" disabled>
            </div>
          </div>
        </div>
        <div class="order-modal-content__bottom">
          <div class="order-modal-content__left">
            <div class="form-row row-items-2">
              <ui-select
                  :label="'From'"
                  :placeholder="'Enter from*'"
                  :current-value="formData.invert ? formData.routeTo : formData.routeFrom"
                  :disabled="true"
              />
              <img src="../../static/icons/orders/from-to.svg" alt="from-to" style="width: 32px">
              <ui-select
                  :label="'To'"
                  :placeholder="'Enter to*'"
                  :current-value="formData.invert ? formData.routeFrom : formData.routeTo"
                  :disabled="true"
              />
            </div>
            <div class="form-row row-items-1">
              <div class="field-input">
                <label for="permissions">Pickup address</label>
                <input id="permissions" type="text" placeholder="Enter pickup address*" v-model="formData.pickupAddress" :disabled="!isEdit">
              </div>
            </div>
            <div class="form-row row-items-1">
              <div class="field-input">
                <label for="permissions">Dropoff address</label>
                <input id="permissions" type="text" placeholder="Enter dropoff address*" v-model="formData.dropoffAddress" :disabled="!isEdit">
              </div>
            </div>
            <template v-if="places.length">
              <button class="btn btn-black">+ Add stops ({{places.length}})</button>
              <div class="form-row row-items-2-2">
                <template v-for="(place, index) in places" :key="index">
                  <div class="field-input-2" style="flex: 1;">
                    <ui-select
                        :label="'Extra stop (' + (index + 1) + ')'"
                        :current-value="place.title_en"
                        :items="[place.title_en]"
                        :disabled="true"
                    />
                    <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="1" y="0.5" width="31" height="31" rx="15.5" stroke="#D2D1D3"/>
                      <path d="M20 19.5L13 12.5M20 12.5L13 19.5" stroke="#8F8C91" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                  <div v-if="(index + 1) % 2 === 0" style="flex-basis: 100%;"></div>
                </template>
              </div>
            </template>
            <div class="form-row row-items-2">
              <div class="field-input">
                <label for="permissions">Email</label>
                <input id="permissions" type="text" placeholder="Enter email*" v-model="formData.email" :disabled="!isEdit">
              </div>
              <div class="field-input">
                <ui-select
                    :label="'Payment type'"
                    :placeholder="'Select payment type*'"
                    :isButton="true"
                    :current-value="formData.paymentType"
                    :items="selects.paymentType.items"
                    :is-loading-items="selects.paymentType.isLoadingItems"
                    :disabled="!isEdit"
                    @select-item="changePaymentType"
                />
              </div>
            </div>
            <div class="form-row row-items-2">
              <div class="field-input">
                <label for="permissions">First name</label>
                <input id="permissions" type="text" placeholder="Enter first name*" v-model="formData.firstName" :disabled="!isEdit">
              </div>
              <div class="field-input">
                <label for="permissions">Amount</label>
                <input id="permissions" type="text" placeholder="Enter amount*" v-model="formData.amount" :disabled="!isEdit">
              </div>
            </div>
            <div class="form-row row-items-2">
              <div class="field-input">
                <label for="permissions">Last name</label>
                <input id="permissions" type="text" placeholder="Enter last name*" v-model="formData.lastName" :disabled="!isEdit">
              </div>
              <div class="field-input">
                <ui-select
                    :label="'Currency'"
                    :placeholder="'Select Currency*'"
                    :isButton="true"
                    :items="selects.currency.items"
                    :current-value="formData.currency"
                    :disabled="!isEdit"
                    :is-loading-items="selects.currency.isLoadingItems"
                    @select-item="changeCurrency"
                />
              </div>
            </div>
            <div class="form-row row-items-2">
              <div class="field-input">
                <label for="permissions">Phone number</label>
                <vue-tel-input placeholder="Enter phone number*" :value="formData.phone" v-model="formData.phone" :disabled="!isEdit"></vue-tel-input>
              </div>
            </div>
          </div>
          <div class="order-modal-content__right">
            <div class="form-row">
              <div class="field-input">
                <label for="permissions">Route date</label>
                <v-date-picker v-model="formData.date" format="dd/MM/yyyy HH:mm" :disabled="!isEdit" time-picker-inline>
                  <template #input-icon>
                    <img class="input-slot-image" src="../../static/icons/form/calendar.svg"/>
                  </template>
                </v-date-picker>
              </div>
<!--              <div class="field-input">-->
<!--                <label for="permissions">Time {{ formData.time }}</label>-->
<!--                <v-date-picker :time-picker="true" :value="formData.date" :disabled="!isEdit">-->
<!--                  <template #input-icon>-->
<!--                    <img class="input-slot-image" src="../../static/icons/form/timmer.svg"/>-->
<!--                  </template>-->
<!--                </v-date-picker>-->
<!--              </div>-->
            </div>
            <div class="form-row row-items-3">
              <div class="field-input">
                <label for="permissions">Adults</label>
                <input id="permissions" type="number" v-model="formData.adults" :disabled="!isEdit">
                <img class="field__icon" src="../../static/icons/form/adults.svg" alt="adults">
              </div>
              <div class="field-input">
                <label for="permissions">Luggage</label>
                <input id="permissions" type="number" v-model="formData.luggage" :disabled="!isEdit">
                <img class="field__icon" src="../../static/icons/form/luggage.svg" alt="luggage">
              </div>
              <div class="field-input">
                <label for="children">Children</label>
                <input id="children" type="number" v-model="formData.childrens" :disabled="!isEdit">
                <img class="field__icon field__icon-children" src="../../static/icons/form/children.png" alt="children">
              </div>
            </div>
            <div class="form-row row-items-1">
              <ui-select
                  :label="'Vehicle type'"
                  :placeholder="'Enter vehicle type*'"
                  :items="selects.vehicleBodyType.filteredItems.length ? selects.vehicleBodyType.filteredItems : selects.vehicleBodyType.items"
                  :is-loading-items="selects.vehicleBodyType.isLoadingItems"
                  :disabled="!isEdit"
                  :current-value="formData.vehicleType"
                  @select-item="changeVehicleBodyType"
                  @search="searchVehicleBodyType"
              />
            </div>
            <div class="form-row row-items-1">
              <div class="field-textarea">
                <label for="permissions">Comment for driver</label>
                <textarea id="permissions" style="height: 114px" placeholder="Enter comment for driver" v-model="formData.commentDriver" :disabled="!isEdit"/>
              </div>
            </div>
            <div class="form-row row-items-1">
              <div class="field-textarea">
                <label for="permissions">Comment for customer</label>
                <textarea id="permissions" style="height: 114px" placeholder="Enter comment for customer" v-model="formData.commentCustomer" :disabled="!isEdit"/>
              </div>
            </div>
          </div>
        </div>
        <div class="order-modal-content__top">
          <div class="form-row row-items-3">
            <div class="field-input">
              <label for="specialRequest">Special Request</label>
              <input id="specialRequest" type="text" placeholder="Enter Special Request" v-model="formData.specialRequest">
            </div>
            <div class="field-input">
              <label for="workTripCompanyName">Company Name</label>
              <input id="workTripCompanyName" type="text" placeholder="Enter Company Name" v-model="formData.workTripCompanyName">
            </div>
            <div class="field-input">
              <label for="workTripCompanyEmail">Company Email</label>
              <input id="workTripCompanyEmail" type="email" placeholder="Enter Company Email" v-model="formData.workTripCompanyEmail">
            </div>
          </div>
          <div class="form-row row-items-3">
            <div class="field-input">
              <label for="extraPhone">Extra Phone</label>
              <input id="extraPhone" type="text" placeholder="Enter Extra Phone" v-model="formData.extraPhone">
            </div>
            <div class="field-input">
              <label for="trainNumber">Train Number</label>
              <input id="trainNumber" type="text" placeholder="Enter Train Number" v-model="formData.trainNumber">
            </div>
            <div class="field-input">
              <label for="flightNumber">Flight Number</label>
              <input id="flightNumber" type="text" placeholder="Enter Flight Number" v-model="formData.flightNumber">
            </div>
          </div>
        </div>
      </div>
    </template>
  </modal-layout-default>
</template>

<script setup lang="ts">
import ModalLayoutDefault from './layouts/default.vue';
import UiSelect from '../fields/ui-select.vue';
import {onMounted, reactive, ref, computed} from 'vue';
import {filteredDateInFullDateWithoutTime, filteredDateInTime} from '../../middleware/filters/date.ts';
import config from '../../middleware/config.ts';
import vehiclesService from '../../middleware/services/vehicles.ts';

computed(() => {
  const groups: Array<{ place: { title_en: string }; index: number }> = [];
  for (let i = 0; i < places.value.length; i += 2) {
    groups.push(...places.value.slice(i, i + 2).map((place, index) => ({
      place,
      index: i + index
    })));
  }
  return groups;
});

const props = defineProps({
  title: {
    default: '',
    type: String
  },
  data: {
    default: {},
    type: Object
  }
})

const emits = defineEmits(['changeStatus', 'updateOrder']);

const formData = reactive<any>({
  routeFrom:'',
  routeTo: '',
  invert: 0,
  date: '',
  time: '',
  vehicleType: '',
  phone: '',
  paymentType: '',
  pickupAddress: '',
  dropoffAddress: '',
  email: '',
  firstName: '',
  amount: '',
  lastName: '',
  currency: '',
  adults: '',
  childrens: '',
  luggage: '',
  created: '',
  id: '',
  status: '',
  commentDriver: '',
  commentCustomer: '',
  specialRequest: '',
  workTripCompanyName: '',
  workTripCompanyEmail: '',
  extraPhone: '',
  trainNumber: '',
  flightNumber: '',
});

const actionByStatus = {
  accepted: {
    btn: 'Confirmed',
    newStatus: 'confirmed',
  },
  confirmed: {
    btn: 'Pending',
    newStatus: 'pending',
  },
  complete: {
    btn: null,
    newStatus: null,
  },
  pending: {
    btn: 'Market',
    newStatus: 'market',
  },
  market: {
    btn: 'Save',
    newStatus: null,
  },
  planned: {
    btn: 'Save',
    newStatus: null,
  },
  fail: {
    btn: null,
    newStatus: null,
  }
}

const setDataSuccess = ref<boolean>(false);
const places = ref<Array<{ title_en: string }>>(props.data.places || []);
let isEdit = ref<boolean>(false);

const setData = () => {
  formData.routeFrom = props.data.route?.from_city.name || '-';
  formData.routeTo = props.data.route?.to_city.name || '-';
  formData.invert = props.data.is_invert_route;
  formData.date = new Date(props.data.route_date);
  formData.time = filteredDateInTime(new Date(props.data.route_date + 'Z'));
  formData.vehicleType = props.data.get_cars[0].title;
  formData.phone = props.data.phone;
  formData.paymentType = props.data.payment_type === 1 ? 'credit card' : 'cash';
  formData.pickupAddress = props.data.pickup_address;
  formData.dropoffAddress = props.data.drop_off_address;
  formData.email = props.data.email;
  formData.firstName = props.data.first_name;
  formData.amount = props.data.amount;
  formData.lastName = props.data.last_name;
  formData.currency = props.data.currency;
  formData.adults = props.data.adults;
  formData.childrens = props.data.childrens;
  formData.luggage = props.data.luggage;
  formData.created = props.data.created_at;
  formData.id = props.data.id;
  formData.status = props.data.status;
  formData.specialRequest = props.data.special_request;
  formData.workTripCompanyName = props.data.work_trip_company_name;
  formData.workTripCompanyEmail = props.data.work_trip_company_email;
  formData.extraPhone = props.data.extra_phone;
  formData.trainNumber = props.data.train_number;
  formData.flightNumber = props.data.flight_number;
  formData.commentDriver = '';
  formData.commentCustomer = '';
  setDataSuccess.value = true;
}

const vehicleBodyTypes = ref<any>([]);
const selects = reactive<any>({
  from: {
    items: [],
    value: '',
    item: null,
    isLoadingItems: false
  },
  to: {
    items: [],
    value: '',
    item: null,
    isLoadingItems: false
  },
  vehicleBodyType: {
    items: [],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  },
  paymentType: {
    items: ['credit card', 'cash'],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  },
  currency: {
    items: ['eur', 'dolor'],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  }
});

const getVehicleBodyTypes = () => {
  selects.vehicleBodyType.isLoadingItems = true;
  vehiclesService.getTypes().then(resp => {
    vehicleBodyTypes.value = resp.data;
    selects.vehicleBodyType.items = resp.data.map((el: any) => el.title);
  }).finally(() => {
    selects.vehicleBodyType.isLoadingItems = false;
  })
}
const searchVehicleBodyType = (value: string) => {
  selects.vehicleBodyType.filteredItems = selects.vehicleBodyType.items.filter((el: any) => el.toLowerCase().indexOf(value.toLowerCase()) >= 0)
}
const changeVehicleBodyType = (type: string) => {
  selects.vehicleBodyType.value = type;
  selects.vehicleBodyType.item = type;
  formData.carId = vehicleBodyTypes.value.find((el: any) => el.title === type).id;
}
const changePaymentType = (type: string) => {
  selects.vehicleBodyType.value = type;
  selects.vehicleBodyType.item = type;
  formData.paymentTypeId = type === 'credit card' ? 1 : 2;
}

const changeCurrency = (type: string) => {
  formData.currency = type === 'dolor' ? '$' : type;
}

const emitChangeStatus = (newStatus: string|null) => {
  emits('changeStatus', newStatus);
}

const success = () => {
  if (!isEdit.value) {
    emitChangeStatus(actionByStatus[formData.status].newStatus);
  } else {
    emits('updateOrder', formData);
  }
}

const toggleEdit = () => {
  isEdit.value = !isEdit.value;
}

onMounted(() => {
  setData();
  getVehicleBodyTypes();
})

</script>

<style scoped lang="scss">
.order-modal__content{
  display: flex;
  flex-direction: column;
  margin: 0 4%;
}
.order-modal-content{
  display: flex;
  flex-direction: column;
  &__top{
    width: 100%;
  }
  &__bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__left{
    width: 72%;
  }
  &__right{
    width: 24%;
  }
}
.form-row{
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.order-status_point{
  position: absolute;
  left: 16px;
  top: 40px;
}

.field__icon-children {
  bottom: 10px;
}

.row-items-2-2 {
  display: flex;
  flex-wrap: wrap;
}

.field-input-2 {
  flex: 1 0 45%;
  margin-bottom: 10px;
  max-width: 418px;
  align-items: center;
  display: flex;

  svg {
    margin-left: 4px;
    margin-top: 26px;
  }
}

.field-input-2:nth-child(odd) {
  margin-right: 10px;
}

.btn-black {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.07px;
  letter-spacing: 0.25px;
  background: #232321;
  transition: 0.5s;
  width: 161px;
  height: 32px;
  border-radius: 8px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin-bottom: 16px;
}

.btn-black:hover {
  background: #232323;
}
</style>
