<template>
  <modal-layout-default
      :title="title"
      @close="closeModal()"
      @success="successModal()"
  >
    <template v-slot:content>
      <div class="order-modal__content">
        <div class="order-modal-content__left">
          <div class="form-row row-items-2">
            <ui-select
                :label="'From'"
                :placeholder="'Enter from*'"
                :items="selects.from.items"
                :is-loading-items="selects.from.isLoadingItems"
                @select-item="changeFrom"
                @search="searchFrom"
            />
            <img src="../../static/icons/orders/from-to.svg" alt="from-to" style="width: 32px">
            <ui-select
                :label="'To'"
                :placeholder="'Enter to*'"
                :items="selects.to.items"
                :is-loading-items="selects.to.isLoadingItems"
                @select-item="changeTo"
                @search="searchTo"
            />
          </div>
          <div class="form-row row-items-1">
            <div class="field-input">
              <label for="permissions">Pickup address</label>
              <input id="permissions" type="text" placeholder="Enter pickup address*" v-model="formData.pickupAddress">
            </div>
          </div>
          <div class="form-row row-items-1">
            <div class="field-input">
              <label for="permissions">Dropoff address</label>
              <input id="permissions" type="text" placeholder="Enter dropoff address*" v-model="formData.dropoffAddress">
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="field-input">
              <label for="permissions">Email</label>
              <input id="permissions" type="text" placeholder="Enter email*" v-model="formData.email">
            </div>
            <div class="field-input">
              <ui-select
                  :label="'Payment type'"
                  :placeholder="'Select payment type*'"
                  :isButton="true"
                  :items="selects.paymentType.items"
                  :is-loading-items="selects.paymentType.isLoadingItems"
                  @select-item="changePaymentType"
              />
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="field-input">
              <label for="permissions">First name</label>
              <input id="permissions" type="text" placeholder="Enter first name*" v-model="formData.firstName">
            </div>
            <div class="field-input">
              <label for="permissions">Amount</label>
              <input id="permissions" type="text" placeholder="Enter amount*" v-model="formData.amount">
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="field-input">
              <label for="permissions">Last name</label>
              <input id="permissions" type="text" placeholder="Enter last name*" v-model="formData.lastName">
            </div>
            <div class="field-input">
              <ui-select
                  :label="'Currency'"
                  :placeholder="'Select Currency*'"
                  :isButton="true"
                  :items="selects.currency.items"
                  :is-loading-items="selects.currency.isLoadingItems"
                  @select-item="changeCurrency"
              />
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="field-input">
              <label for="permissions">Phone number</label>
              <vue-tel-input placeholder="Enter phone number*" v-model="formData.phone"></vue-tel-input>
            </div>
          </div>
        </div>
        <div class="order-modal-content__right">
          <div class="form-row row-items-2">
            <div class="field-input">
              <label for="permissions">Route date</label>
              <v-date-picker :enable-time-picker="false" v-model="formData.date">
                <template #input-icon>
                  <img class="input-slot-image" src="../../static/icons/form/calendar.svg"/>
                </template>
              </v-date-picker>
            </div>
            <div class="field-input">
              <label for="permissions">Time</label>
              <v-date-picker :time-picker="true" v-model="formData.time">
                <template #input-icon>
                  <img class="input-slot-image" src="../../static/icons/form/timmer.svg"/>
                </template>
              </v-date-picker>
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="field-input">
              <label for="permissions">Adults</label>
              <input id="permissions" type="number" v-model="formData.adults">
              <img class="field__icon" src="../../static/icons/form/adults.svg" alt="adults">
            </div>
            <div class="field-input">
              <label for="permissions">Luggage</label>
              <input id="permissions" type="number" v-model="formData.luggage">
              <img class="field__icon" src="../../static/icons/form/luggage.svg" alt="luggage">
            </div>
          </div>
          <div class="form-row row-items-1">
            <ui-select
                :label="'Vehicle type'"
                :placeholder="'Enter vehicle type*'"
                :items="selects.vehicleBodyType.filteredItems.length ? selects.vehicleBodyType.filteredItems : selects.vehicleBodyType.items"
                :is-loading-items="selects.vehicleBodyType.isLoadingItems"
                @select-item="changeVehicleBodyType"
                @search="searchVehicleBodyType"
            />
          </div>
          <div class="form-row row-items-1">
            <div class="field-textarea">
              <label for="permissions">Comment for driver</label>
              <textarea id="permissions" style="height: 114px" placeholder="Enter comment for driver" v-model="formData.commentDriver"/>
            </div>
          </div>
          <div class="form-row row-items-1">
            <div class="field-textarea">
              <label for="permissions">Comment for customer</label>
              <textarea id="permissions" style="height: 114px" placeholder="Enter comment for customer" v-model="formData.commentCustomer"/>
            </div>
          </div>
        </div>
      </div>
    </template>
  </modal-layout-default>
</template>

<script setup lang="ts">
import ModalLayoutDefault from './layouts/default.vue';
import UiSelect from '../fields/ui-select.vue';
import ordersService from '../../middleware/services/orders.ts';
import {onMounted, reactive, ref} from 'vue';
import vehiclesService from '../../middleware/services/vehicles.ts';

defineProps({
  title: {
    default: '',
    type: String
  },
})

const emit = defineEmits(['closeModal', 'successModal'])

const searchTimeout = ref<any>(null);

const vehicleBodyTypes = ref<any>([]);
const selects = reactive<any>({
  from: {
    items: [],
    value: '',
    item: null,
    isLoadingItems: false
  },
  to: {
    items: [],
    value: '',
    item: null,
    isLoadingItems: false
  },
  vehicleBodyType: {
    items: [],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  },
  paymentType: {
    items: ['credit card', 'cash'],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  },
  currency: {
    items: ['eur', 'dolor'],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  }
});
const routes = reactive<any>([]);
const formData = reactive<any>({
  routeId: null,
  invert: 0,
  date: new Date(),
  time: new Date().getTime(),
  carId: null,
  phone: '',
  paymentTypeId: null,
  pickupAddress: '',
  dropoffAddress: '',
  email: '',
  firstName: '',
  amount: '',
  lastName: '',
  currency: '',
  adults: 1,
  luggage: 1,
  commentDriver: '',
  commentCustomer: ''
});

const getVehicleBodyTypes = () => {
  selects.vehicleBodyType.isLoadingItems = true;
  vehiclesService.getTypes().then(resp => {
    vehicleBodyTypes.value = resp.data;
    selects.vehicleBodyType.items = resp.data.map((el: any) => el.title);
  }).finally(() => {
    selects.vehicleBodyType.isLoadingItems = false;
  })
}
const searchVehicleBodyType = (value: string) => {
  selects.vehicleBodyType.filteredItems = selects.vehicleBodyType.items.filter((el: any) => el.toLowerCase().indexOf(value.toLowerCase()) >= 0)
}
const changeVehicleBodyType = (type: string) => {
  selects.vehicleBodyType.value = type;
  selects.vehicleBodyType.item = type;
  formData.carId = vehicleBodyTypes.value.find((el: any) => el.title === type).id;
}

const changePaymentType = (type: string) => {
  selects.vehicleBodyType.value = type;
  selects.vehicleBodyType.item = type;
  formData.paymentTypeId = type === 'credit card' ? 1 : 2;
}

const changeCurrency = (type: string) => {
  formData.currency = type === 'dolor' ? '$' : type;
}

const searchFrom = (value: string) => {
  selects.from.value = value;
  selects.from.item = null;
  selects.from.isLoadingItems = true;
  if (selects.to.value.length === 0) {
    clearTimeout(searchTimeout.value);
    searchTimeout.value = setTimeout(() => {
      ordersService.getCities(value).then(resp => {
        selects.from.items = resp.data.map((el: any) => el._source.city);
      }).finally(() => {
        selects.from.isLoadingItems = false;
      })
    }, 300)
  } else {
    setRoutes().finally(() => {
      selects.from.isLoadingItems = false;
    });
  }
}
const searchTo = (value: string) => {
  selects.to.value = value;
  selects.to.item = null;
  selects.to.isLoadingItems = true;
  if (selects.to.value.length === 0) {
    clearTimeout(searchTimeout.value);
    searchTimeout.value = setTimeout(() => {
      ordersService.getCities(value).then(resp => {
        selects.to.items = resp.data.map((el: any) => el._source.city);
      }).finally(() => {
        selects.to.isLoadingItems = false;
      })
    }, 300)
  } else {
    setRoutes().finally(() => {
      selects.to.isLoadingItems = false;
    });
  }
}
const setRoutes = (): any => {
  return ordersService.getRoutes(selects.from.value, selects.to.value).then(resp => {
    routes.value = resp.data;
    selects.from.items = resp.data.map((el: any) => el._source.fromCityName);
    selects.to.items = resp.data.map((el: any) => el._source.toCityName);
  })
}
const setCurrentRoute = () => {
  const currentRoute = routes.value.find((el: any) => el._source.fromCityName.includes(selects.from.item) && el._source.toCityName.includes(selects.to.item));
  formData.routeId = currentRoute._source.id;
  formData.invert = currentRoute._source.invert;
}
const changeFrom = (from: any) => {
  selects.from.item = from;
  selects.from.value = from;
  if (selects.to.item !== null) {
    setCurrentRoute();
  }
}
const changeTo = (from: any) => {
  selects.to.item = from;
  selects.to.value = from;
  if (selects.from.item !== null) {
    setCurrentRoute();
  }
}

const closeModal = () => {
  emit('closeModal');
}
const successModal = () => {
  emit('successModal', formData);
}

onMounted(() => {
  getVehicleBodyTypes();
})
</script>

<style scoped lang="scss">
.order-modal__content{
  display: flex;
  justify-content: space-between;
  margin: 0 4%;
}
.order-modal-content{
  &__left{
    width: 72%;
  }
  &__right{
    width: 24%;
  }
}
.form-row{
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
</style>