<template>
  <component
    :is="getCurrentLayout()"
    :title="title"
    :header-btn="headerBtn"
    :button-success="successBtn"
    @close="closeModal()"
    @success="successModal()"
  >
    <template v-slot:content>
      <div class="illustration" v-if="banner !== null">
        <img :src="banner?.pathname" alt="modal-illustration">
      </div>
      <div class="form">
        <div class="row-with-photo">
          <div class="row-with-photo__left">
            <div class="form-row row-items-1" style="margin-left: 0; margin-right: 0; width: 100%">
              <div class="field-input">
                <label for="permissions">Permissions</label>
                <input id="permissions" type="text" placeholder="Select permission*" :value="props.currentPermission.length ? props.currentPermission : formData.permission" disabled>
              </div>
            </div>
            <div class="form-row row-items-1" style="margin-left: 0; margin-right: 0; width: 100%">
              <div class="field-input">
                <label for="permissions">First Name</label>
                <input id="permissions" type="text" placeholder="Enter first name*" v-model="formData.firstName">
              </div>
            </div>
          </div>
          <div class="row-with-photo__right">
            <div class="avatar">
              <a v-if="imgURL.length" :href="formData.documents.photo" download target="_blank">
                <div class="image" :style="{backgroundImage: imgURL}"></div>
              </a>
              <div v-else class="image no__image"></div>
              <div class="avatar-upload">
                <input type="file" id="avatar" style="display: none" @change="changePhoto($event)"/>
                <label for="avatar">+ ADD PHOTO</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row row-items-2">
          <div class="field-input">
            <label for="permissions">Last Name</label>
            <input id="permissions" type="text" placeholder="Enter last name*" v-model="formData.lastName">
          </div>
          <div class="field-input">
            <label for="permissions">Phone Number</label>
            <vue-tel-input :value="phone"  placeholder="Enter phone number*" @input="changePhone"></vue-tel-input>
          </div>
        </div>
        <div class="form-row row-items-2">
          <div class="field-input">
            <label for="permissions">Date of Birth</label>
            <v-date-picker :enable-time-picker="false" v-model="formData.dateOfBirth">
              <template #input-icon>
                <img class="input-slot-image" src="../../static/icons/form/calendar.svg"/>
              </template>
            </v-date-picker>
          </div>
          <div class="field-input">
            <label for="permissions">Email</label>
            <input id="permissions" type="text" placeholder="Enter email*" v-model="formData.email">
          </div>
        </div>
        <div class="form-row row-items-2">
          <div class="field-input">
            <label for="permissions">Gender</label>
            <input id="permissions" type="text" placeholder="Gender*" v-model="formData.gender">
          </div>
          <div class="field-input">
            <label for="permissions">WhatsApp Number</label>
            <input id="permissions" type="text" placeholder="Enter WhatsApp number*" v-model="formData.whatsapp">
          </div>
        </div>
        <div class="form-row row-items-2">
          <div class="field-input">
            <label>Fleet size</label>
            <input disabled type="text" placeholder="Fleet size" v-model="formData.fleetSize">
          </div>
        </div>
        <div class="form__section form__address">
          <div class="form__title">
            <span>Address</span>
          </div>
          <div class="form-row row-items-2">
            <div class="field-input">
              <ui-select
                  :label="'Country'"
                  :placeholder="formData.country || 'Select country*'"
                  :items="selects.country.filteredItems.length ? selects.country.filteredItems : selects.country.items"
                  :is-loading-items="selects.country.isLoadingItems"
                  @search="searchCountry"
                  @select-item="changeCountry"
              />
            </div>
            <div class="field-input">
              <ui-select
                  :label="'City'"
                  :placeholder="formData.city || 'Select city*'"
                  :items="selects.city.filteredItems.length ? selects.city.filteredItems : selects.city.items"
                  :is-loading-items="selects.city.isLoadingItems"
                  :disabled="selects.city.isDisabled"
                  @search="searchCity"
                  @select-item="changeCity"
              />
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="field-input">
              <label for="permissions">Address</label>
              <input id="permissions" type="text" placeholder="Enter address*" v-model="formData.address.address">
            </div>
            <div class="field-input">
              <label for="permissions">Postal Code</label>
              <input id="permissions" type="text" placeholder="Enter postal code*" v-model="formData.address.postalCode">
            </div>
          </div>
        </div>
        <div class="form__section form__building">
          <div class="form__title">
            <span>Company Details</span>
          </div>
          <div class="form-row row-items-2-new">
            <div class="field-input">
              <label for="company_name">Name of Company</label>
              <input id="company_name" type="text" placeholder="Enter Name" v-model="formData.company.name">
            </div>
            <div class="field-input ml-2">
              <label for="email_company">Email</label>
              <input id="email_company" type="email" placeholder="Enter Email" v-model="formData.company.email">
            </div>
            <div class="field-input">
              <label for="company_postal_code">Postal Code</label>
              <input id="company_postal_code" type="text" placeholder="Enter Postal Code" v-model="formData.company.postal_code">
            </div>
          </div>
          <div class="form-row row-items-2-new">
            <div class="field-input">
              <div class="pre-h">Legal Representative Info</div>
            </div>
            <div class="field-input ml-2">
              <div class="pre-h">Legal representative info</div>
            </div>
            <div class="field-input">
              <div class="pre-h">Headquarters Address</div>
            </div>
          </div>
          <div class="form-row row-items-2-new">
            <div class="field-input">
              <label for="company_first_name">First Name</label>
              <input id="company_first_name" type="text" placeholder="Enter First Name" v-model="formData.company.represent_first_name">
            </div>
            <div class="field-input ml-2">
              <label for="company_country_rep">Country</label>
              <input id="company_country_rep" type="text" placeholder="Enter Country" v-model="formData.company.represent_country">
            </div>
            <div class="field-input">
              <label for="company_country">Country</label>
              <input id="company_country" type="text" placeholder="Enter Country" v-model="formData.company.head_country">
            </div>
          </div>
          <div class="form-row row-items-2-new">
            <div class="field-input">
              <label for="company_last_name">Last Name</label>
              <input id="company_last_name" type="text" placeholder="Enter Last Name" v-model="formData.company.represent_last_name">
            </div>
            <div class="field-input ml-2">
              <label for="company_city_rep">City</label>
              <input id="company_city_rep" type="text" placeholder="Enter City" v-model="formData.company.address_city">
            </div>
            <div class="field-input">
              <label for="company_city">City</label>
              <input id="company_city" type="text" placeholder="Enter City" v-model="formData.company.head_city">
            </div>
          </div>
          <div class="form-row row-items-2-new">
            <div class="field-input">
              <label>Date of Birth</label>
              <v-date-picker :enable-time-picker="false" v-model="formData.company.represent_date_of">
                <template #input-icon>
                  <img class="input-slot-image" src="../../static/icons/form/calendar.svg"/>
                </template>
              </v-date-picker>
            </div>
            <div class="field-input ml-2">
              <label for="company_address_rep">Address</label>
              <input id="company_address_rep" type="text" placeholder="Enter Address" v-model="formData.company.address_address">
            </div>
            <div class="field-input">
              <label for="company_address">Address</label>
              <input id="company_address" type="text" placeholder="Enter Address" v-model="formData.company.head_address">
            </div>
          </div>
          <div class="form-row row-items-2-new">
            <div class="field-input">
              <label for="company_residence">Country of Residence</label>
              <input id="company_residence" type="text" placeholder="Country of Residence" v-model="formData.company.represent_country">
            </div>
            <div class="field-input ml-2">
              <label for="company_post_rep">Postal Code</label>
              <input id="company_post_rep" type="text" placeholder="Enter Postal Code" v-model="formData.company.address_postal_code">
            </div>
            <div class="field-input">
              <label for="company_post">Postal Code</label>
              <input id="company_post" type="text" placeholder="Enter Postal Code" v-model="formData.company.head_postal_code">
            </div>
          </div>
        </div>
        <div class="form__section form__building">
          <div class="form__title">
            <span>Active Billing Information</span>
          </div>
          <div class="form-row row-items-2">
            <div class="is_vat_input verification-input">
              <label for="company-id">Are you a VAT payer, or are you not?</label>
              <div class="vat-margin">
                <input name="is_vat" v-model="isVat" :value="true" id="is_vat_yes" type="radio">
                <label for="is_vat_yes"><strong>Yes</strong>, we are VAT-registered.</label>
              </div>
              <div>
                <input name="is_vat" v-model="isVat" :value="false" id="is_vat_no" type="radio">
                <label for="is_vat_no" class="last-item"><strong>No</strong>, we are not VAT-registered.</label>
              </div>
            </div>
          </div>
          <div class="form-row row-items-2">
            <ui-select
                :label="'Country'"
                :placeholder="formData.address.country || 'Select country*'"
                :items="selects.billingCountry.filteredItems.length ? selects.billingCountry.filteredItems : selects.billingCountry.items"
                :is-loading-items="selects.billingCountry.isLoadingItems"
                @search="searchBillingCountry"
                @select-item="changeBillingCountry"
            />
            <div v-if="isVat" class="field-input">
              <label for="vat">VAT</label>
              <input id="vat" type="text" placeholder="Enter VAT" v-model="formData.company.vat">
            </div>
<!--            <div class="field-input">
              <label for="permissions">Card name</label>
              <input id="permissions" type="text" placeholder="Enter card name*" v-model="formData.billing.cardName">
            </div>-->
          </div>
          <div class="form-row row-items-2">
            <div class="field-input">
              <label for="iban">IBAN</label>
              <input id="iban" type="text" placeholder="Enter IBAN*" v-model="formData.company.iban">
            </div>
<!--            <div class="field-input">
              <label for="permissions">Card number</label>
              <input id="permissions" type="text" placeholder="Enter card number*" v-model="formData.billing.cardNumber">
            </div>-->
            <div class="field-input">
              <label for="permissions">Note</label>
              <input id="permissions" type="text" placeholder="Enter note" v-model="formData.billing.note">
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="field-input">
              <label>Bank Holder Name</label>
              <input type="text" placeholder="Enter bank holder name*" v-model="formData.billing.bankHolderName">
            </div>
          </div>
        </div>
        <div class="form__section form__address">
          <div class="form__title">
            <span>Documentation</span>
          </div>
          <div class="form-row row-items-2">
            <div class="download-item">
              <div>
                <label class="main-label" for="personalId">Personal ID (both sides)</label>
                <input type="file"
                       id="personalId"
                       style="display: none"
                       @change="changeDocument('personalId', $event)"
                >
                <label for="personalId" class="field-file__button">
                  <img src="../../static/icons/fields/upload.svg" alt="upload">
                  <span>Upload</span>
                </label>
              </div>
              <a v-if="getPersonalIdLink" target="_blank" :href="getPersonalIdLink" class="download">Download</a>
            </div>
            <div class="download-item">
              <div>
                <label class="main-label" for="drivingLicense">Driving License (both sides)</label>
                <input type="file"
                       id="drivingLicense"
                       style="display: none"
                       @change="changeDocument('drivingLicense', $event)"
                >
                <label for="drivingLicense" class="field-file__button">
                  <img src="../../static/icons/fields/upload.svg" alt="upload">
                  <span>Upload</span>
                </label>
              </div>
              <a v-if="getDriversLicenceLink" target="_blank" :href="getDriversLicenceLink" class="download">Download</a>
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="download-item">
              <div>
                <label class="main-label" for="criminalCheck">Background Criminal Check</label>
                <input type="file"
                       id="criminalCheck"
                       style="display: none"
                       @change="changeDocument('criminalCheck', $event)"
                >
                <label for="criminalCheck" class="field-file__button">
                  <img src="../../static/icons/fields/upload.svg" alt="upload">
                  <span>Upload</span>
                </label>
              </div>
              <a v-if="getCriminalCheckLink" target="_blank" :href="getCriminalCheckLink" class="download">Download</a>
            </div>
            <div class="download-item">
              <div>
                <FileInput
                    label="Other"
                    :file-link="formData.documents.other"
                    @change="changeDocument('other', $event)"
                />
              </div>
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="download-item">
              <div>
                <label class="main-label" for="company_licence">Business licence</label>
                <input type="file"
                       id="company_licence"
                       style="display: none"
                       @change="changeDocumentCompany('licence', $event)"
                >
                <label for="company_licence" class="field-file__button">
                  <img src="../../static/icons/fields/upload.svg" alt="upload">
                  <span>Upload</span>
                </label>
              </div>
              <a v-if="getCompanyLicenceLink" target="_blank" :href="getCompanyLicenceLink" class="download">Download</a>
            </div>
            <div class="download-item">
              <div>
                <label class="main-label" for="company_certified">Certified Articles of Incorporation</label>
                <input type="file"
                       id="company_certified"
                       style="display: none"
                       @change="changeDocumentCompany('certified', $event)"
                >
                <label for="company_certified" class="field-file__button">
                  <img src="../../static/icons/fields/upload.svg" alt="upload">
                  <span>Upload</span>
                </label>
              </div>
              <a v-if="getCompanyCertifiedLink" target="_blank" :href="getCompanyCertifiedLink" class="download">Download</a>
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="download-item">
              <div>
                <label class="main-label" for="agree">MYTRIPLINE Cooperation Agreement</label>
                <input type="file"
                       id="agree"
                       style="display: none"
                       @change="changeDocument('agreement_file_path', $event)"
                >
                <label for="agree" class="field-file__button">
                  <img src="../../static/icons/fields/upload.svg" alt="upload">
                  <span>Upload</span>
                </label>
              </div>
              <a v-if="getAgreeLink" target="_blank" :href="getAgreeLink" class="download">Download</a>
            </div>
          </div>
        </div>
        <div class="form__section form__building">
          <div class="form__title">
            <span>Status</span>
          </div>
          <div class="form-row row-items-2" style="justify-content: start">
              <div class="radio-input">
                <input v-model="formData.status" value="new" class id="new" type="radio" />
                <label for="new">New</label>
              </div>
              <div class="radio-input">
                <input v-model="formData.status" value="checking" id="checking" type="radio" />
                <label for="checking">Checking</label>
              </div>
              <div class="radio-input">
                <input v-model="formData.status" value="need-verify" type="radio" id="confirmed" />
                <label for="confirmed">Confirmed</label>
              </div>
          </div>
          <div class="form-row row-items-2" style="justify-content: start" v-if="['checking', 'need-verify', 'declined', 'confirmed'].includes(formData.status)">
            <div class="radio-input">
              <!-- @vue-ignore -->
              <input :checked="(['checking', 'need-verify'].includes(formData.status) ? 'checked' : null)" id="need-verify" type="radio" @click.prevent.stop />
              <label for="need-verify">Pending</label>
            </div>
            <div class="radio-input">
              <input v-model="formData.status" value="confirmed" id="approved" type="radio" />
              <label for="approved">Approved</label>
            </div>
            <div class="radio-input">
              <input v-model="formData.status" value="declined" type="radio" id="declined" />
              <label for="declined">Declined</label>
            </div>
          </div>
        </div>
      </div>
    </template>
  </component>
</template>

<script setup lang="ts">
import ModalLayoutDefault from '../modals/layouts/default.vue'
import ModalLayoutEdit from './layouts/edit-without-footer.vue';
import {computed, onMounted, reactive, ref} from 'vue';
import config from '../../middleware/config.ts';
import UiSelect from '../fields/ui-select.vue';
import locationsService from '../../middleware/services/locations.ts';
import FileInput from "./user/file-input.vue";

const props = defineProps({
  title: {
    default: '',
    type: String
  },
  banner: {
    default: null,
    type: URL
  },
  data: {
    default: null,
    type: Object
  },
  isEditeModal: {
    default: false,
    type: Boolean
  },
  headerBtn: {
    default: 'close',
    type: String
  },
  successBtn: {
    default: 'create',
    type: String
  },
  currentPermission: {
    default: '',
    type: String
  }
})

const formData = reactive<any>({
  permission: '',
  firstName: '',
  lastName: '',
  phone: '',
  dateOfBirth: '',
  email: '',
  gender: '',
  whatsapp: '',
  address: {
    country: '',
    city: '',
    address: '',
    postalCode: '',
  },
  billing: {
    country: '',
    cardName: '',
    cardNumber: '',
    note: '',
  },
  company: {
    ...props.data.company,
    licence: props.data.company.licence, // Business licence
    certified: props.data.company.certified, // Certified Articles of Incorporation
  },
  documents: {
    agreement_file_path: null,
    personalId: null,
    drivingLicense: null,
    criminalCheck: null,
    other: null,
    photo: null
  } as any
})

const selects = reactive<any>({
  country: {
    items: [],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  },
  city: {
    items: [],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false,
    isDisabled: true
  },
  billingCountry: {
    items: [],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  }
})

const countries = reactive<any>([]);
const cities = reactive<any>([]);

let isVat = ref<boolean>(props.data['company']['vat'] ? true : false);
let imgURL = ref<any>('');
let phone = ref<any>(props.data['phone'] || '');

const setData = () => {
  formData.permission = config.user.roles[props.data['role_id'] || 1];
  formData.firstName = props.data['firstName'] || '';
  formData.lastName = props.data['lastName'] || '';
  formData.status = props.data['status'] || 'new';
  formData.phone = props.data['phone'] || '';
  formData.dateOfBirth = props.data['day_of_birth'] || '';
  formData.email = props.data['email'] || '';
  formData.gender = props.data['gender'] || '';
  formData.whatsapp = props.data['whatsapp'] || '';
  formData.country = props.data['country'] || '';
  formData.city = props.data['city'] || '';
  formData.address.country = props.data['address_country'] || '';
  formData.address.city = props.data['address_city'] || '';
  formData.address.address = props.data['address'] || '';
  formData.address.postalCode = props.data['postal_code'] || '';
  formData.billing.country = props.data['billing_country'] || '';
  formData.billing.cardName = props.data['billing_cardName'] || '';
  formData.billing.cardNumber = props.data['billing_cardNumber'] || '';
  formData.billing.note = props.data['billing_note'] || '';
  formData.billing.bankHolderName = props.data['billing_bankHolder'] || '';
  formData.company.iban = props.data['company']['iban'] || '';
  formData.company.vat = (isVat.value ? props.data['company']['vat'] : '') || '';
  formData.documents.personalId = props.data['documents_personalId'] || null; // Personal ID (both sides)
  formData.documents.drivingLicense = props.data['documents_drivingLicense'] || null; // Driving License (both sides)
  formData.documents.criminalCheck = props.data['documents_criminalCheck'] || null; // Background Criminal Check
  formData.documents.agreement_file_path = props.data.profile.agreement_file_path || null; // MYTRIPLINE Cooperation Agreement
  formData.documents.other = props.data['documents_other'] || null; // other
  formData.documents.photo = props.data['avatar'] || null; // avatar
  formData.fleetSize = props.data['fleet_size'];
  if (formData.documents?.photo !== null) {
    imgURL.value = "url(" + formData.documents?.photo + ")";
  }
}

const getCriminalCheckLink = computed(() => props.data['documents_criminalCheck']);
const getDriversLicenceLink = computed(() => props.data['documents_drivingLicense']);
const getPersonalIdLink = computed(() => props.data['documents_personalId']);
const getCompanyLicenceLink = computed(() => props.data.company.licence);
const getCompanyCertifiedLink = computed(() => props.data.company.certified);
const getAgreeLink = computed(() => props.data.profile.agreement_file_path);

const changePhone = (e: any) => {
  formData.phone = e;
}

const getCountries = () => {
  selects.country.isLoadingItems = true;
  locationsService.countries().then(resp => {
    countries.value = resp.data;
    selects.country.items = resp.data.map((country: any) => country.name);
    selects.billingCountry.items = selects.country.items;
  }).finally(() => {
    selects.country.isLoadingItems = false;
  })
}

const searchCountry = (value: string) => {
  selects.country.filteredItems = selects.country.items.filter((country: any) => country.toLowerCase().includes(value.toLowerCase()));
}

const changeCountry = (item: string) => {
  selects.country.item = item;
  selects.country.value = item;
  selects.city.isDisabled = false;
  formData.address.country = countries.value.find((country: any) => country.name.toLowerCase() === item.toLowerCase());
  searchCountry(item);
  getCities();
}

const getCities = () => {
  selects.city.isLoadingItems = true;
  locationsService.citiesByCountryId(formData.address.country.id).then(resp => {
    cities.value = resp.data;
    selects.city.items = resp.data.map((city: any) => city.name);
  }).finally(() => {
    selects.city.isLoadingItems = false;
  })
}

const searchCity = (value: string) => {
  selects.city.filteredItems = selects.city.items.filter((city: any) => city.toLowerCase().includes(value.toLowerCase()));
}

const changeCity = (item: string) => {
  selects.city.item = item;
  selects.city.value = item;
  selects.city.isDisabled = false;
  formData.address.city = cities.value.find((city: any) => city.name.toLowerCase() === item.toLowerCase());
  searchCity(item);
}

const searchBillingCountry = (value: string) => {
  selects.billingCountry.filteredItems = selects.billingCountry.items.filter((country: any) => country.toLowerCase().includes(value.toLowerCase()));
}

const changeBillingCountry = (item: string) => {
  selects.billingCountry.item = item;
  selects.billingCountry.value = item;
  formData.billing.country = countries.value.find((country: any) => country.name.toLowerCase() === item.toLowerCase());
  searchBillingCountry(item);
}

const emit = defineEmits(['closeModal', 'successModal'])

const closeModal = () => {
  emit('closeModal');
}

const successModal = () => {
  emit('successModal', formData);
}

const changeDocument = (name: any, event: any) => {
  formData.documents[name] = event.target.files[0];
}

const changeDocumentCompany = (name: any, event: any) => {
  formData.company[name] = event.target.files[0];
}

const changePhoto = (event: any) => {
  let fr = new FileReader();
  fr.addEventListener("load", function () {
    imgURL.value = "url(" + fr.result + ")";
  }, false);
  fr.readAsDataURL(event.target.files[0]);
  formData.documents.photo = event.target.files[0];
}

const getCurrentLayout = () => {
  return props.isEditeModal ? ModalLayoutEdit : ModalLayoutDefault;
}

onMounted(() => {
  getCountries();
  if (props.data !== null) {
    setData();
  }
})

</script>

<style scoped lang="scss">
.download-item {
  display: flex;
  align-items: end;

  .main-label {
    margin-bottom: 10px;
    display: flex;
  }

  .download {
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #2C2C2C;
    letter-spacing: 0.5px;
    height: 47px;
    padding: 10px 16px;
    margin-left: 10px;
    display: block;
    color: #2C2C2C;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  .field-file__button {
    width: 350px;
    cursor: pointer;
  }
}

.vat-margin {
  margin-top: 1rem;
}

.is_vat_input {
  margin-bottom: 8px;

  input {
    margin-left: 24px;
    margin-right: 8px;
  }
}
.illustration{
  width: 92%;
  margin: 0 auto 24px auto;
  img{
    width: 100%;
  }
}
.form__address{
  background: $grey1;
}

.radio-input {
  display: flex;
  align-items: center;
  width: auto;
  font-size: 14px;
  margin-right: 48px;

  input {
    margin-right: 8px;
  }
}

.row-items-2-new > div {
  width: 32%;
}

.pre-h {
  color: #70706E;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  font-family: MontserratRegular, sans-serif;
}
</style>
