<template>
  <modal-layout-default
      :title="title"
      :header-btn="headerBtn"
      :show-footer="showActions || isEdit"
      @click-on-edit="toggleEditStatus()"
      @close="closeModal()"
      @success="successModal()"
  >
    <template v-slot:content>
      <form class="vehicle-modal__content" v-if="isSetData">
        <div class="vehicle-modal-content__left">
          <div class="form-row row-items-2">
            <div class="field-input">
              <ui-select
                  :label="'Vehicle Brand'"
                  :placeholder="'Service vehicle*'"
                  :items="selects.brand.filteredItems.length ? selects.brand.filteredItems : selects.brand.items"
                  :is-loading-items="selects.brand.isLoadingItems"
                  :disabled="!isEdit && !showActions"
                  :current-value="formData.brand?.name || ''"
                  @select-item="changeBrand"
                  @search="searchBrand"
              />
            </div>
            <div class="field-input">
              <ui-select
                  :label="'Service Class'"
                  :placeholder="'Select service class*'"
                  :items="selects.class.filteredItems.length ? selects.class.filteredItems : selects.class.items"
                  :is-loading-items="selects.class.isLoadingItems"
                  :disabled="!isEdit && !showActions"
                  :current-value="formData.class || ''"
                  @select-item="changeVehicleBodyType"
                  @search="searchVehicleBodyType"
              />
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="field-input">
              <ui-select
                  :label="'Vehicle Model'"
                  :placeholder="'Enter vehicle model*'"
                  :items="selects.model.filteredItems.length ? selects.model.filteredItems : selects.model.items"
                  :is-loading-items="selects.model.isLoadingItems"
                  :disabled="selects.model.isDisabled || !isEdit && !showActions"
                  :current-value="formData.model || ''"
                  @select-item="changeModel"
                  @search="searchModel"
              />
            </div>
            <div class="field-input">
              <label for="permissions">Name of Company</label>
              <input id="permissions" type="text" placeholder="Type name of company*" v-model="formData.companyName">
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="field-input">
              <ui-select
                  :label="'Year of Manufacturer'"
                  :placeholder="'Enter YYYY*'"
                  :items="selects.year.filteredItems.length ? selects.year.filteredItems : selects.year.items"
                  :is-loading-items="selects.year.isLoadingItems"
                  :disabled="!isEdit && !showActions"
                  :current-value="formData.year || ''"
                  @select-item="changeYear"
                  @search="searchYear"
              />
            </div>
            <div class="field-file">
              <label for="registration">Car Registration</label>
              <template v-if="!isEdit && vehicle.registration">
                <a target="_blank" :href="registrationLink" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Download</span>
                </a>
              </template>
              <template v-else>
                <input type="file"
                       id="registration"
                       style="display: none"
                       :disabled="!isEdit && !showActions"
                       @change="changeDocument('carRegistration', $event)"
                >
                <label for="registration" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Upload</span>
                </label>
              </template>
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="field-input">
              <label for="permissions">Vehicle License Plate</label>
              <input id="permissions"
                     type="text"
                     placeholder="Enter License plate*"
                     v-model="formData.licence"
                     :disabled="!isEdit && !showActions"
              >
            </div>
            <div class="field-file">
              <label for="inspection">Car Technical Inspection</label>
              <template v-if="!isEdit && vehicle.inspection">
                <a target="_blank" :href="inspectionLink" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Download</span>
                </a>
              </template>
              <template v-else>
                <input type="file"
                       id="inspection"
                       style="display: none"
                       :disabled="!isEdit && !showActions"
                       @change="changeDocument('carInspection', $event)"
                >
                <label for="inspection" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Upload</span>
                </label>
              </template>
            </div>
          </div>
          <div class="form-row row-items-2">
            <div class="field-input">
              <ui-select
                  :label="'Color'"
                  :placeholder="'Select color*'"
                  :items="selects.color.filteredItems.length ? selects.color.filteredItems : selects.color.items"
                  :is-loading-items="selects.color.isLoadingItems"
                  :disabled="!isEdit && !showActions"
                  :current-value="formData.color || ''"
                  @select-item="changeColor"
                  @search="searchColor"
              />
            </div>
            <div class="field-file">
              <label for="green-card">Third-party insurance, green card</label>
              <template v-if="!isEdit && vehicle.green_card">
                <a target="_blank" :href="greenCardLink" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Download</span>
                </a>
              </template>
              <template v-else>
                <input type="file"
                       id="green-card"
                       style="display: none"
                       :disabled="!isEdit && !showActions"
                       @change="changeDocument('greenCard', $event)"
                >
                <label for="green-card" class="field-file__button">
                  <img src="../../static/icons/fields/uploud.svg" alt="uploud">
                  <span>Upload</span>
                </label>
              </template>
            </div>
          </div>
        </div>
        <div class="vehicle-modal-content__right">
          <div class="photo-cars">
            <div class="photo-cars__desc" v-if="showActions">
              <img src="../../static/icons/form/upload.svg" alt="upload">
              <span>Drop files here or click to upload.</span>
            </div>
            <input type="file"
                   class="photo-cars__upload"
                   :disabled="!isEdit && !showActions"
                   @change="changePhotos"
            >
            <div class="photo-cars__images">
              <div class="photo-cars__img" v-for="img in imgURL" :key="img">
                <img :src="img" alt="img">
              </div>
            </div>
          </div>
        </div>
      </form>
      <div v-if="props.vehicle.state === 'Pending time'" class="state-wrap">
        <button @click="setStatus('Rejected')" class="field-btn field-btn_cancel">Rejected</button>
        <button @click="setStatus('Approved')" class="field-btn field-btn_success">Approved</button>
      </div>
    </template>
  </modal-layout-default>
</template>

<script setup lang="ts">
import ModalLayoutDefault from './layouts/default.vue';
import vehiclesService from '../../middleware/services/vehicles.ts';
import {computed, onMounted, reactive, ref} from 'vue';
import UiSelect from '../fields/ui-select.vue';
import axios from "axios";

const props = defineProps({
  title: {
    default: '',
    type: String
  },
  vehicle: {
    default: null,
    type: Object
  },
  showActions: {
    default: true,
    type: Boolean
  },
  headerBtn: {
    default: 'close',
    type: String
  }
})

const greenCardLink = computed(() => import.meta.env.VITE_APP_IMG_LINK + 'vehicles/' + props.vehicle.id + '/' + props.vehicle.green_card);
const inspectionLink = computed(() => import.meta.env.VITE_APP_IMG_LINK + 'vehicles/' + props.vehicle.id + '/' + props.vehicle.inspection);
const registrationLink = computed(() => import.meta.env.VITE_APP_IMG_LINK + 'vehicles/' + props.vehicle.id + '/' + props.vehicle.registration);

const emit = defineEmits(['closeModal', 'successModal'])

const formData = reactive<any>({
  brand: null,
  class: null,
  model: null,
  year: null,
  licence: '',
  color: null,
  companyName: '',
  documents: {
    carRegistration: null,
    carInspection: null,
    greenCard: null,
  },
  photos: [],
} as any);
const selects = reactive({
  brand: {
    items: [],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  },
  class: {
    items: [],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  },
  model: {
    items: [],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false,
    isDisabled: true
  },
  year: {
    items: [],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  },
  color: {
    items: ['Black', 'White', 'Silver', 'Red', 'Green', 'Yellow', 'Blue', 'Brown'],
    filteredItems: [],
    value: '',
    item: null,
    isLoadingItems: false
  }
} as any)
const imgURL = reactive<any>([]);
const vehicleBodyTypes = ref<any>([]);
const brands = ref<any>([]);
const isEdit = ref<any>(false);
const isSetData = ref<boolean>(false);

const getVehicleBodyTypes = () => {
  selects.class.isLoadingItems = true;
  vehiclesService.getTypes().then(resp => {
    vehicleBodyTypes.value = resp.data;
    selects.class.items = resp.data.map((bodyType: any) => bodyType.title);
    if (props.vehicle !== undefined && props.vehicle !== null) {
      searchVehicleBodyType(props.vehicle.class);
      selects.model.item = props.vehicle.model;
      selects.model.value = props.vehicle.model;
    }
  }).finally(() => {
    selects.class.isLoadingItems = false;
  })
}
const getBrands = () => {
  selects.brand.isLoadingItems = true;
  vehiclesService.getBrands().then(resp => {
    brands.value = resp.data;
    selects.brand.items = resp.data.map((brand: any) => brand.name);
    if (props.vehicle !== undefined && props.vehicle !== null) {
      selects.brand.item = props.vehicle.mark;
      selects.brand.value = props.vehicle.mark;
      searchBrand(selects.brand.value);
    }
  }).finally(() => {
    selects.brand.isLoadingItems = false;
  })
}

const setStatus = (status) => {
  let data = {
    status: status,
    id: props.vehicle.id
  };
  return axios.post(`${import.meta.env.VITE_API_DOMAIN}vehicles/update-status`, data).then(resp => {
    props.vehicle.state = status;
  });
}

const getModels = () => {
  selects.model.isLoadingItems = true;
  vehiclesService.getModelsByBrand(formData.brand.id).then(resp => {
    selects.model.items = resp.data.map((brand: any) => brand.name);
    if (props.vehicle !== undefined && props.vehicle !== null) {
      selects.model.item = props.vehicle.model;
      selects.model.value = props.vehicle.model;
      searchModel(selects.model.value);
    }
  }).finally(() => {
    selects.model.isLoadingItems = false;
  })
}
const getYears = () => {
  let years: any = [];
  let limitYears = 10;
  if (formData.class !== null && formData.class.toLowerCase() === 'luxury sedan') {
    limitYears = 5;
  }
  for (let i = new Date().getFullYear(); i >= new Date().getFullYear() - limitYears; i--) {
    years.push(i)
  }
  selects.year.items = years;
  if (props.vehicle !== undefined && props.vehicle !== null) {
    selects.year.item = props.vehicle.year;
    selects.year.value = props.vehicle.year;
    searchYear(selects.year.value);
  }
}
const searchVehicleBodyType = (value: string) => {
  selects.class.filteredItems = selects.class.items.filter((el: any) => el.toLowerCase().indexOf(value.toLowerCase()) >= 0);
}
const changeVehicleBodyType = (item: any) => {
  selects.class.value = item;
  selects.class.item = item;
  formData.class = item;
  searchVehicleBodyType(item);
}
const searchBrand = (value: string) => {
  selects.brand.filteredItems = selects.brand.items.filter((el: any) => el.toLowerCase().indexOf(value.toLowerCase()) >= 0);
}
const changeBrand = (item: any) => {
  selects.brand.value = item;
  selects.brand.item = item;
  formData.brand = brands.value.find((el: any) => el.name === item);
  searchBrand(item);
  selects.model.isDisabled = false;
  getModels();
}
const searchYear = (value: string) => {
  selects.year.filteredItems = selects.year.items.filter((el: any) => el.toString().toLowerCase().indexOf(value.toString().toLowerCase()) >= 0);
}
const changeYear = (item: any) => {
  selects.year.value = item;
  selects.year.item = item;
  formData.year = item;
  searchYear(item);
}
const searchColor = (value: string) => {
  selects.color.filteredItems = selects.color.items.filter((el: any) => el.toLowerCase().indexOf(value.toLowerCase()) >= 0);
}
const changeColor = (item: any) => {
  selects.color.value = item;
  selects.color.item = item;
  formData.color = item;
  searchColor(item);
}
const searchModel = (value: string) => {
  selects.model.filteredItems = selects.model.items.filter((el: any) => el.toLowerCase().indexOf(value.toLowerCase()) >= 0);
}
const changeModel = (item: any) => {
  selects.model.value = item;
  selects.model.item = item;
  formData.model = selects.model.items.find((el: any) => el === item);
  searchModel(item);
}

const updateVehicleData = () => {
  formData.brand = {name: props.vehicle.mark};
  formData.class = props.vehicle.class;
  formData.model = props.vehicle.model;
  formData.year = props.vehicle.year;
  formData.licence = props.vehicle.licence;
  formData.color = props.vehicle.color;
  formData.companyName = (props.vehicle && props.vehicle.user && props.vehicle.user.company) ? props.vehicle.user.company.name : '';
  formData.documents.carRegistration = props.vehicle.registration;
  formData.documents.carInspection = props.vehicle.inspection;
  formData.documents.greenCard = props.vehicle.green_card;
  formData.photos = props.vehicle.photos.map((el: any) => el.photo);

  for (let i = 0; i < formData.photos.length; i++) {
    imgURL.push(import.meta.env.VITE_APP_IMG_LINK + 'vehicles/' + props.vehicle.id + '/' + formData.photos[i]);
  }
}
const changeDocument = (name: any, event: any) => {
  formData.documents[name] = event.target.files[0];
}
const changePhotos = (event: any) => {
  let checkDuplicate = false;
  if (formData.photos.length > 0) {
    formData.photos.forEach(function (item: any) {
      if (item.photo === event.target.files[0].name || item.name === event.target.files[0].name) {
        checkDuplicate = true;
      }
    })
  }
  if (!checkDuplicate) {
    if (formData.photos.length > 3) {
      formData.photos.splice(3, 1);
      formData.photos.unshift(event.target.files[0]);
    } else {
      formData.photos.push(event.target.files[0]);
    }
    if (event.target.files[0]) {
      let fr = new FileReader();
      fr.addEventListener("load", () => {
        if (imgURL.length > 3) {
          imgURL.splice(3, 1);
          imgURL.unshift(fr.result);
        } else {
          imgURL.push(fr.result);
        }
      }, false);
      fr.readAsDataURL(event.target.files[0]);
    }
  }
}

const closeModal = () => {
  if (isEdit.value) {
    isEdit.value = false;
  } else {
    emit('closeModal');
  }
}
const successModal = () => {
  emit('successModal', formData);
}

const toggleEditStatus = () => {
  isEdit.value = !isEdit.value;
}

onMounted(() => {
  getVehicleBodyTypes();
  getBrands();
  getYears();
  if (props.vehicle !== undefined && props.vehicle !== null) {
    updateVehicleData();
    selects.color.item = props.vehicle.color;
    selects.color.value = props.vehicle.color;
    searchColor(selects.color.value);
  }
  isSetData.value = true;
})
</script>

<style scoped lang="scss">
.state-wrap {
  display: flex;
  justify-content: end;
  padding: 30px;

  button {
    margin-left: 20px;
  }

  .field-btn_cancel {
    background: #a00;
    border: 1px solid #a00;
    text-transform: uppercase;
    color: #fff;
  }

  .field-btn_success {
    background: #008004;
    border: 1px solid #008004;
    text-transform: uppercase;
    color: #fff;
  }
}

.vehicle-modal__content {
  display: flex;
  justify-content: space-between;
  margin: 0 4%;
}

.vehicle-modal-content {
  &__left {
    width: 72%;
  }

  &__right {
    width: 24%;
  }
}

.form-row {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.photo-cars {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px dashed #C1C1C1;

  &__upload {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: none;
    z-index: 1000;
    opacity: 0;
  }

  &__images {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__img {
    width: 50%;
    height: 50%;
    outline: 2px solid #C1C1C1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      margin-bottom: 12px;
    }
  }
}

.field-file__button {
  text-align: center;
}
</style>