<template>
  <div class="list__titles">
    <div
        class="list-titles__item"
        v-for="(title, index) in titles"
        :key="title.name"
        :style="{ width: sizes[index].toString() + '%' }"
    >
      <span v-if="title.type === 'text'">{{ title.name }}</span>
      <div v-if="title.type === 'icon'">
        <div :class="'list-icon__' + title.name"></div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps<{
  titles: List[],
  sizes: number[]
}>()

</script>

<style scoped lang="scss">
</style>