<template>
  <div class="pagination space-between" v-if="showPagination" :class="'footer-' + theme">
    <div class="pagination__items-quantity">
      <span>Total {{ listName }}: {{ currentItems.length }}</span>
    </div>
    <div class="pagination__buttons">
      <img class="pagination__arrow" v-if="currentPage !== 1" @click="getCurrentPageArray(currentPage - 1, currentItems)" style="transform: rotate(180deg);" src="../../static/icons/pagination/arrow.svg" alt="pagination-arrow">
      <template v-for="index in countPages" :key="index">
        <span v-if="currentPage !== 1 && currentPage !== 2 && index === currentPage - 1" class="pagination__ellipsis">...</span>
        <span v-if="getStatusShowPaginationItem(index)" :class="{ 'current-page':index === currentPage }" class="pagination__page" @click="getCurrentPageArray(index, currentItems)">{{ index }}</span>
        <span v-if="currentPage !== countPages && currentPage !== countPages - 1 && index === currentPage + 1" class="pagination__ellipsis">...</span>
      </template>
      <img class="pagination__arrow" v-if="currentPage !== countPages" @click="getCurrentPageArray(currentPage + 1, currentItems)" src="../../static/icons/pagination/arrow.svg" alt="pagination-arrow">
    </div>
  </div>
</template>

<script setup lang="ts">
import { reactive, ref } from 'vue';
import { useRouter, useRoute } from 'vue-router';

const props = defineProps({
  currentItems: {
    default: [],
    type: Array
  },
  listName: {
    default: '',
    type: String
  },
  elementOnPage: {
    default: 8,
    type: Number
  }
})

const emits = defineEmits(['selectPage'])

const router = useRouter();
const route = useRoute();

const theme = route.meta?.paginationTheme ? route.meta?.paginationTheme : route.meta?.themePage !== undefined ? route.meta.themePage : '';

let currentPage = ref<number>(1);
let elementsOnPage = ref<number>(8);
let countPages = ref<number>(0);
let resultingArray = reactive<any[]>([]);
let showPagination = ref<boolean>(true);

const setElementsOnPage = (count: number) => {
  elementsOnPage.value = count;
};

const setCurrentPage = () => {
  currentPage.value = Number(route.query.page);
}

const getStatusShowPaginationItem = (page: number) => {
  return page === 1 || page === countPages.value || page === currentPage.value || page === currentPage.value + 1 || page === currentPage.value - 1;
};
const getCurrentPageArray = (page: number, array: any[]) => {
  let newArray: any = [];
  currentPage.value = page;
  let lastIndex = elementsOnPage.value * page;
  for (let i = lastIndex; i > lastIndex - elementsOnPage.value; i--){
    if (array[i - 1] !== undefined){
      newArray.push(array[i - 1]);
    }
  }
  router.replace({query: {page: page}});
  resultingArray = newArray;
  emits('selectPage', newArray);
};

const startPagination = (array: any[]) => {
  countPages.value = Math.ceil(array.length / elementsOnPage.value);
  getCurrentPageArray(getCurrentPage(), array);
  showPagination.value = array.length > resultingArray.length;
};

const getCurrentPage = () => {
  const query = route.query.page ? route.query.page : null;
  if (query !== null) {
    return Number(route.query.page)
  } else {
    return 1
  }
}

setCurrentPage();
setElementsOnPage(props.elementOnPage);
startPagination(props.currentItems);
</script>

<style scoped lang="scss">
.pagination{
  margin-top: 16px;
  width: 100%;
  &__buttons{
    span{
      cursor: pointer;
    }
    display: flex;
    align-items: center;
  }
  &__items-quantity{
    color: #515150;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  img:last-child{
    margin-left: 4px;
  }
  img:first-child{
    margin-right: 4px;
  }
  img{
    cursor: pointer;
  }
  &__page:not(:last-child){
    margin-right: 4px;
  }
  &__ellipsis{
    margin-right: 4px;
  }
}
.pagination__page{
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid rgba(44, 44, 44, 0.30);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(44, 44, 44, 0.50);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pagination__inner img{
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid rgba(44, 44, 44, 0.30);
  object-fit: contain;
}
.current-page{
  color: #FFF;
  background: #2C2C2C;
}
.pagination__arrow{
  border: 1px solid rgba(44, 44, 44, 0.3);
  border-radius: 4px;
  width: 24px;
  height: 24px;
}

// themes

.footer-dark, .footer-grey{
  .pagination__items-quantity{
    span{
      color: #D3D3D3;
    }
  }
  .pagination__page{
    border-color: rgba(211, 211, 211, 0.3);
    color: rgba(211, 211, 211, 0.3);
  }
  .current-page{
    background: rgba(211, 211, 211, 0.5);
    color: black;
  }
  .pagination__arrow{
    border: 1px solid rgba(211, 211, 211, 0.3);
  }
}
</style>