<template>
  <div class="pagination space-between" v-if="showPagination" :class="'footer-' + theme">
    <div class="pagination__items-quantity">
      <span>Total {{ listName }}: {{ quantityItems }}</span>
    </div>
    <div class="pagination__buttons">
      <img class="pagination__arrow" v-if="currentPage !== 1" @click="selectPage(currentPage - 1)" style="transform: rotate(180deg);" src="../../static/icons/pagination/arrow.svg" alt="pagination-arrow">
      <template v-for="index in countPages" :key="index">
        <span v-if="currentPage !== 1 && currentPage !== 2 && index === currentPage - 1" class="pagination__ellipsis">...</span>
        <span v-if="getStatusShowPaginationItem(index)" :class="{ 'current-page':index === currentPage }" class="pagination__page" @click="selectPage(index)">{{ index }}</span>
        <span v-if="currentPage !== countPages && currentPage !== countPages - 1 && index === currentPage + 1" class="pagination__ellipsis">...</span>
      </template>
      <img class="pagination__arrow" v-if="currentPage !== countPages" @click="selectPage(currentPage + 1)" src="../../static/icons/pagination/arrow.svg" alt="pagination-arrow">
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useRouter, useRoute } from 'vue-router';

const props = defineProps({
  quantityItems: {
    default: 0,
    type: Number
  },
  countPages: {
    default: 0,
    type: Number
  },
  listName: {
    default: '',
    type: String
  },
})

const emits = defineEmits(['selectPage'])

const router = useRouter();
const route = useRoute();

const theme = route.meta?.themePage !== undefined ? route.meta.themePage : '';

let currentPage = ref<number>(1);
let showPagination = ref<boolean>(true);

const setCurrentPage = () => {
  currentPage.value = Number(route.query.page);
}

const getStatusShowPaginationItem = (page: number) => {
  return page === 1 || page === props.countPages || page === currentPage.value || page === currentPage.value + 1 || page === currentPage.value - 1;
};
const selectPage = (page: number) => {
  currentPage.value = page;
  router.replace({query: {page: page}});
  emits('selectPage', page);
};

const startPagination = () => {
  showPagination.value = props.countPages > 0;
};

setCurrentPage();
startPagination();
</script>

<style scoped lang="scss">
.pagination{
  margin-top: 16px;
  width: 100%;
  &__buttons{
    span{
      cursor: pointer;
    }
    display: flex;
    align-items: center;
  }
  &__items-quantity{
    color: #515150;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  img:last-child{
    margin-left: 4px;
  }
  img:first-child{
    margin-right: 4px;
  }
  img{
    cursor: pointer;
  }
  &__page:not(:last-child){
    margin-right: 4px;
  }
  &__ellipsis{
    margin-right: 4px;
  }
}
.pagination__page{
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid rgba(44, 44, 44, 0.30);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(44, 44, 44, 0.50);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pagination__inner img{
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid rgba(44, 44, 44, 0.30);
  object-fit: contain;
}
.current-page{
  color: #FFF;
  background: #2C2C2C;
}
.pagination__arrow{
  border: 1px solid rgba(44, 44, 44, 0.3);
  border-radius: 4px;
  width: 24px;
  height: 24px;
}

// themes

.footer-dark, .footer-grey{
  .pagination__items-quantity{
    span{
      color: #D3D3D3;
    }
  }
  .pagination__page{
    border-color: rgba(211, 211, 211, 0.3);
    color: rgba(211, 211, 211, 0.3);
  }
  .current-page{
    background: rgba(211, 211, 211, 0.5);
    color: black;
  }
  .pagination__arrow{
    border: 1px solid rgba(211, 211, 211, 0.3);
  }
}
</style>