<template>
  <section class="moderators">
    <div class="moderators__inner wrapper-default">
      <v-filters
          @addElement="openUserModal()"
      />
      <div class="moderators__cards" v-if="isDownloadModerators">
        <v-moderators-card
            v-for="moderator in moderators.value"
            :key="moderator.role"
            :moderator="moderator"
            @click="openModerator(moderator.id)"
        />
      </div>
    </div>
    <teleport to="body">
      <div class="modal-fixed"
           v-if="modals.user.isOpen"
           @click="closeUserModal()"
      >
        <modal-user
            class="modal-fixed__inner"
            :title="'New Moderator'"
            :banner="bannerForModalUser"
            @click.stop
            @close-modal="closeUserModal()"
            @success-modal="addModerator"
        />
      </div>
    </teleport>

  </section>
</template>

<script setup lang="ts">
import VFilters from '../../components/root/v-filters.vue';
import VModeratorsCard from '../../components/moderators/v-card.vue';
import ModalUser from '../../components/modals/user.vue';
import {onMounted, reactive, ref} from 'vue';
import { useRouter } from 'vue-router';
import moderatorsService from '../../middleware/services/moderators.ts';
import {useAppStore} from '../../store/app.ts';

const router = useRouter();

const modals = reactive({
  user: {
    isOpen: false
  }
});
let moderators = reactive<any>([]);
let isDownloadModerators = ref<boolean>(false)
const bannerForModalUser = new URL('../../static/images/user/modal-illustration.svg', import.meta.url);

const setModerators = () => {
  moderatorsService.list().then(resp => {
    moderators.value = resp.data;
    isDownloadModerators.value = true;
  })
}

const openUserModal = () => {
  modals.user.isOpen = true;
}

const closeUserModal = () => {
  modals.user.isOpen = false;
}

const openModerator = (id: number) => {
  router.push({name: 'moderator', params: {id: id}});
}

const addModerator = (formData: any) => {
  useAppStore().isLoad = true;
  let data = new FormData;
  data.append('data', JSON.stringify({
    role_id: 1,
    first_name: formData.firstName,
    last_name: formData.lastName,
    phone: formData.phone,
    day_of_birth: formData.dateOfBirth,
    email: formData.email,
    gender: formData.gender,
    whatsapp: formData.whatsapp,
    country: formData.address.country,
    city: formData.address.city,
    address: formData.address.address,
    postal_code: formData.address.postalCode,
  }));
  data.append('passport', formData.documents.personalId);
  data.append('driverLicence', formData.documents.drivingLicense);
  data.append('criminalCheck', formData.documents.criminalCheck);
  data.append('photo', formData.documents.photo);
  moderatorsService.add(data).then(resp => {
    if (resp.data.status) {
      closeUserModal();
      setModerators();
    } else {
      alert(resp.data.error);
    }
  }).finally(() => {
    useAppStore().isLoad = true;
  })
}

onMounted(() => {
  setModerators();
})
</script>

<style scoped lang="scss">
  .moderators {
    &__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
</style>