<template>
  <div class="moderator">
    <div class="moderator__inner wrapper-default">
      <div class="view__back">
        <router-link to="/moderators"><img src="../../static/icons/form/back.svg" alt="back">Back to moderators list</router-link>
      </div>
      <modal-user
          v-if="isDownloadModerator"
          class="modal-fixed__inner"
          :title="'Moderator details'"
          :header-btn="'edit'"
          :success-btn="'save'"
          @click.stop
          @close-modal="closeUserModal()"
          :data="moderator.value"
      />
    </div>
  </div>

</template>

<script setup lang="ts">
import ModalUser from '../../components/modals/user.vue';
import router from '../../router';
import moderatorsService from '../../middleware/services/moderators.ts';
import {useRoute} from 'vue-router';
import {onMounted, reactive, ref} from 'vue';

const closeUserModal = () => {
  router.push('/moderators');
}

const route = useRoute();
const moderator = reactive<any>({});
const isDownloadModerator = ref<boolean>(false);

const setModerator = () => {
  moderatorsService.getModerator(Number(route.params.id)).then(resp => {
    moderator.value = {
      avatar: ('https://api.drivermytripline.com/storage/profiles/' + resp.data.id + '/' + resp.data.profile.photo) || '',
      email: resp.data.email || '',
      phone: resp.data.phone || '',
      country: resp.data.profile?.country || '',
      day_of_birth: resp.data.day_of_birth || '',
      firstName: resp.data.profile?.first_name || '',
      lastName: resp.data.profile?.last_name || '',
      gender: resp.data.profile?.gender || '',
      whatsapp: resp.data.profile?.whatsapp || '',
      address_country: resp.data.company?.address_country || '',
      address_city: resp.data.company?.address_city || '',
      address_address: resp.data.company?.address_address || '',
      address_postalCode: resp.data.company?.address_postal_code || '',
      billing_country: resp.data.company?.billing_country || '',
      billing_cardName: resp.data.company?.vat || '',
      billing_cardNumber: resp.data.company?.iban || '',
      billing_note: '',
      documents_personalId: resp.data.profile?.passport || null,
      documents_drivingLicense: resp.data.profile?.driver_licence || null,
      documents_criminalCheck: resp.data.profile?.criminal_check || null,
      documents_other: resp.data.profile?.other || null,
    }
    isDownloadModerator.value = true;
  })
}

onMounted(() => {
  setModerator();
})
</script>

<style scoped lang="scss">
.moderator{
  &__inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
</style>