<template>
  <div class="login__form">
    <div class="login__inner">
      <div class="login__title">
        <h2>Log In to Admin Panel</h2>
      </div>
      <div class="login__description">
        <span>Enter your email and password below.</span>
      </div>
      <form>
        <div class="login__email">
          <label>Email</label>
          <input @focus="errors.email = []" :class="{ 'input-error': errors.email.length }" v-model="email" type="text" placeholder="Enter your email">
          <div v-if="errors.email.length" class="error">
            <span>{{ errors.email[0] }}</span>
          </div>
        </div>
        <div class="login__password">
          <label>Password</label>
          <input @focus="errors.password = []" :class="{ 'input-error': errors.password.length }" v-model="password" :type="typesPassword" class="password-input" placeholder="Enter your password">
          <img class="eye" src="../../static/icons/auth/eye.svg" alt="eye" @click="typesPassword = typesPassword === 'password' ? 'text' : 'password'">
          <div v-if="errors.password.length" class="error">
            <span>{{ errors.password[0] }}</span>
          </div>
        </div>
        <div v-if="errors.message.length" class="error">
          <span>{{ errors.message }}</span>
        </div>
        <div class="login__btn">
          <button @click.prevent="login()">
            <span>Log in</span>
          </button>
        </div>
        <div class="login__routes">
          <router-link to="/auth/update-password">Forgot your password?</router-link>
        </div>
      </form>
    </div>
  </div>
</template>

<script setup lang="ts">
import { reactive, ref } from 'vue';
import { useRouter } from 'vue-router';
import { useAppStore } from "../../store/app.ts";
import { useUserStore } from "../../store/user.ts";
import validator from '../../middleware/helpers/validator.ts';
import auth from "../../middleware/services/auth.ts";

const router = useRouter()
const email = ref<string>('');
const password = ref<string>('');
const typesPassword = ref<string>('password');
const errors: ErrorsLogin = reactive({
  email: [],
  password: [],
  message: '',
});

const validations = () => {
  validator.updateErrors(errors);
  errors.email = validator.validation(email.value, ['require', 'email']);
  errors.password = validator.validation(password.value, ['require', 'password']);
};

const login = () => {
  validations();
  if (!validator.checkErrors(errors)) {
    useAppStore().setLoadStatus(true);
    auth.login(email.value, password.value).then(resp => {
      if (resp.data.status) {
        localStorage.setItem('token', resp.data.token);
        localStorage.setItem('auth_token', resp.data.auth_token);
        router.push('/dashboard');
        useUserStore().setUser(resp.data.user);
        errors.message = '';
      } else {
        errors.message = resp.data.message || '';
      }
    }).finally(() => useAppStore().setLoadStatus(false))
  }
}
</script>
