<template>
  <div class="login__form">
    <div class="login__back">
      <router-link to="login">
        <img src="../../static/icons/auth/close.svg" alt="close-circle">
      </router-link>
    </div>
    <div class="login__inner">
      <div class="login__title">
        <h2 v-if="updatePasswordStep !== 'enter_password'">Forgot password</h2>
        <h2 v-if="isChangePassword">Reset password</h2>
      </div>
      <div class="login__description">
        <span v-if="updatePasswordStep !== 'enter_password'">Enter your email for the verification proccesss,we will send 4 digits code to your email.</span>
        <span v-if="isChangePassword">Set the new password for your account so you can auth and access all the features.</span>
      </div>
      <form>
        <div v-if="updatePasswordStep === 'enter_email'" class="login__email">
          <label>Email</label>
          <input @focus="errors.email = []" :class="{ 'input-error': errors.email.length }" v-model="email" type="text" placeholder="Enter your email">
          <div v-if="errors.email.length" class="error">
            <span>{{ errors.email[0] }}</span>
          </div>
        </div>
        <div v-if="updatePasswordStep === 'enter_code'" class="forgot-password__code">
          <input @input="handlerChangeCode(1, $event)"
                 @keyup.delete="handlerChangeCode(1, $event)"
                 :class="{ 'invalid__code': errors.invalidCode}"
                 v-model="codeInputs[0]"
                 name="code1"
                 type="number"
          >
          <input @input="handlerChangeCode(2, $event)"
                 @keyup.delete="handlerChangeCode(2, $event)"
                 :class="{ 'invalid__code': errors.invalidCode}"
                 v-model="codeInputs[1]"
                 name="code2"
                 type="number"
          >
          <input @input="handlerChangeCode(3, $event)"
                 @keyup.delete="handlerChangeCode(3, $event)"
                 :class="{ 'invalid__code': errors.invalidCode}"
                 v-model="codeInputs[2]"
                 name="code3"
                 type="number"
          >
          <input @input="handlerChangeCode(4, $event)"
                 @keyup.delete="handlerChangeCode(4, $event)"
                 :class="{ 'invalid__code': errors.invalidCode}"
                 v-model="codeInputs[3]"
                 name="code4"
                 type="number"
          >
        </div>
        <template v-if="updatePasswordStep === 'enter_password'">
          <div class="login__password">
            <label>New password</label>
            <input @focus="errors.password = []" :class="{ 'input-error': errors.password.length }" v-model="password" :type="types.password1" class="password-input" placeholder="Enter your password">
            <img class="eye" src="../../static/icons/auth/eye.svg" alt="eye" @click="types.password1 = types.password1 === 'password' ? 'text' : 'password'">
            <div v-if="errors.password.length" class="error">
              <span>{{ errors.password[0] }}</span>
            </div>
          </div>
          <div class="login__password_again">
            <label>Re-enter Password</label>
            <input @focus="errors.passwordAgain = []" :class="{ 'input-error': errors.passwordAgain.length }" v-model="passwordAgain" :type="types.password2" class="password-input" placeholder="Enter re-enter password">
            <img class="eye" src="../../static/icons/auth/eye.svg" alt="eye" @click="types.password2 = types.password2 === 'password' ? 'text' : 'password'">
            <div v-if="errors.passwordAgain.length" class="error">
              <span>{{ errors.passwordAgain[0] }}</span>
            </div>
          </div>
        </template>
        <div v-if="errors.message.length" class="error" :class="{ 'center': updatePasswordStep === 'enter_code' }">
          <span>{{ errors.message }}</span>
        </div>
        <div v-if="updatePasswordStep === 'enter_code'" class="forgot-password__code-resend">
          <span>If you didn’t receive a code, <span style="color: #4A69E2;" @click="resendCode" v-if="resendTimer === 0">Resend</span><span v-else>{{ resendTimer }}</span></span>
        </div>
        <div class="login__btn">
          <button v-if="updatePasswordStep === 'enter_code'" @click.prevent="sendCode()">
            <span>Continue</span>
          </button>
          <button v-if="updatePasswordStep === 'enter_email'" @click.prevent="checkEmail()">
            <span>Continue</span>
          </button>
          <button v-if="updatePasswordStep === 'enter_password'" @click.prevent="updatePassword()">
            <span>Change</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script setup lang="ts">
import { reactive, ref } from 'vue';
import validator from '../../middleware/helpers/validator.ts';
import authService from "../../middleware/services/auth.ts";
import { useRouter } from "vue-router";
import {useAppStore} from '../../store/app.ts';

const email = ref('' as string);
const password = ref('' as string);
const passwordAgain = ref('' as string);
const isChangePassword = ref(false as boolean);
const updatePasswordStep = ref('enter_email' as string);
const codeInputs = ref(['', '', '', ''] as string[]);
const code = ref('' as string);
const resendTimer = ref(60 as number);
const types = reactive({
  password1: 'password' as string,
  password2: 'password' as string,
});
const errors: ErrorsUpdatePassword = reactive({
  email: [],
  password: [],
  passwordAgain: [],
  invalidCode: false,
  message: '',
});

const validateEmail = () => {
  validator.updateErrors(errors);
  errors.email = validator.validation(email.value, ['require', 'email']);
};

const checkEmail = () => {
  validateEmail();
  if (!validator.checkErrors(errors)) {
    // this.$store.commit('CHANGE_STATUS_LOAD', true);
    authService.checkEmail(email.value).then(resp => {
      // this.$store.commit('CHANGE_STATUS_LOAD', false);
      if (resp.data.status) {
        updatePasswordStep.value = 'enter_code'
        resendTimerStart()
      } else {
        errors.message = resp.data.message
      }
    })
  }
}

const resendTimerStart = () => {
  resendTimer.value = 60
  const timer = setInterval(() => {
    if (resendTimer.value !== 0) {
      --resendTimer.value
    } else {
      clearInterval(timer)
    }
  }, 1000)
}

const handlerChangeCode = (currentInput: number, event: any) => {
  if (currentInput < 4 && event.inputType === 'insertText') {
    if (codeInputs.value[currentInput - 1].toString().length >= 2) {
      codeInputs.value[currentInput - 1] = codeInputs.value[currentInput - 1].toString()[codeInputs.value[currentInput - 1].toString().length - 1].toString()
    }
    focusCodeElement(currentInput + 1);
  } else if (currentInput > 1 && (event.inputType === 'deleteContentBackward' || event.type === 'keyup')) {
    if (event.type === 'keyup') {
      if (!codeInputs.value[currentInput - 1]) {
        focusCodeElement(currentInput - 1);
      }
    } else {
      focusCodeElement(currentInput - 1);
    }
  }
  if (currentInput === 4 && codeInputs.value[3] !== '<empty string>') {
    codeInputs.value[currentInput - 1] = codeInputs.value[3].toString()[codeInputs.value[3].toString().length - 1].toString()
  }
  code.value = codeInputs.value.join('')
}

const focusCodeElement = (index: number) => {
  document.getElementsByName(`code${[index]}`)[0].focus()
}

const checkValidationCode = (): boolean => {
  return !(code.toString().length < 4)
}

const sendCode = (): void => {
  errors.invalidCode = false;
  errors.message = '';
  if (checkValidationCode()) {
    // this.$store.commit('CHANGE_STATUS_LOAD', true);
    authService.checkCode(email.value, code.value).then(resp => {
      // this.$store.commit('CHANGE_STATUS_LOAD', false);
      if (resp.data.status) {
        updatePasswordStep.value = 'enter_password';
        isChangePassword.value = true;
      } else {
        errors.invalidCode = true;
        errors.message = resp.data.message;
      }
    })
  } else {
    errors.invalidCode = true;
  }
}

const resendCode = (): void => {
  authService.checkEmail(email.value);
  resendTimerStart();
}

const updatePassword = () => {
  validator.updateErrors(errors);
  validator.validation(password.value, ['require', 'password']);
  if (validator.checkErrors(errors)) {
    useAppStore().setLoadStatus(true);
    authService.updatePassword(email.value, password.value).then(resp => {
      if (resp.data.status) {
        useRouter().push('/login');
      } else {
        errors.message = resp.data.message;
      }
    }).finally(() => useAppStore().setLoadStatus(false))
  }
}
</script>
