<template>
  <div class="user-details">
    <div class="user-details__inner">
      <div class="user-details__info">
        <div class="user-details-info__left">
          <div class="user-details-info__avatar">
            <img v-if="user['avatar']?.length" :src="user['avatar']" alt="avatar">
            <img v-else src="../../static/icons/user/no-img.svg" alt="no-img">
          </div>
          <div class="user-details-info__name">
            <span>{{ user['first_name'] }} {{ user['last_name'] }}</span>
          </div>
        </div>
        <div class="user-details-info__right">
          <div class="user-details-info__email">
            <img src="../../static/icons/customer/email.svg" alt="email">
            <span>{{ user['email'] }}</span>
          </div>
          <div class="user-details-info__phone">
            <img src="../../static/icons/customer/phone.svg" alt="phone">
            <span>{{ user['phone'] }}</span>
          </div>
          <div class="user-details-info__country">
            <img src="../../static/icons/customer/location.svg" alt="location">
            <span>{{ user['country'] }}</span>
          </div>
          <div class="user-details-info__edit">
            <button class="user-details-info-edit__btn"
                    @click="toggleCustomerModal()"
                    :class="{ 'active-btn': isOpenCustomerModal }"
            >
              <img v-if="isOpenCustomerModal" src="../../static/icons/customer/dot-active.svg" alt="dot">
              <img v-else src="../../static/icons/customer/dot.svg" alt="dot">
            </button>
          </div>
        </div>
      </div>
      <component :is="getModal().component"
          v-if="isOpenCustomerModal"
          class="modal-user"
          :title="getModal().title"
          :data="user"
          @click.stop
          @close-modal="toggleCustomerModal()"
          @success-modal="emitSuccess"
          :is-edite-modal="true"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import ModalUser from '../modals/user.vue';
import ModalCustomer from '../modals/customer.vue';
import {ref} from 'vue';

const props = defineProps({
  user: {
    default: {},
    type: Object
  },
  modal: {
    default: 'user',
    type: String
  }
});

const emit = defineEmits(['success']);

let isOpenCustomerModal = ref<boolean>(false);

const getModal = () => {
  const modals = {
    'user': {
      component: ModalUser,
      title: 'Fleet details'
    },
    'customer': {
      component: ModalCustomer,
      title: 'Customer details'
    },
  } as any
  return modals[props.modal];
}

const toggleCustomerModal = () => {
  isOpenCustomerModal.value = !isOpenCustomerModal.value;
}

const emitSuccess = (formData: any) => {
  emit('success', formData);
}

</script>

<style scoped lang="scss">
.user-details{
  &__info{
    display: flex;
    justify-content: space-between;
    border-radius: var(--8, 8px);
    border: 1.5px solid #FFF;
    background: linear-gradient(113deg, rgba(255, 255, 255, 0.82) 0%, rgba(255, 255, 255, 0.80) 110.84%);
    box-shadow: 0px 2px 5.5px 0px rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(10.5px);
    padding: 24px 32px;
  }
}

.user-details-info{
  &__left{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__avatar{
    width: 53px;
    height: 53px;
    border-radius: 12px;
    overflow: hidden;
    margin-right: 24px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name span{
    color: var(--Dispatching-Success, #008B28);
    font-family: MontserratRegular, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &__right{
    width: 70%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > div{
      display: flex;
      align-items: center;
      img{
        margin-right: 8px;
      }
    }
    span{
      color: $col-black;
      font-family: MontserratRegular, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.25px;
      text-transform: lowercase;
    }
  }
  &-edit__btn{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      margin: 0 !important;
    }
  }
}

.modal-user{
  width: 100% !important;
  height: 700px !important;
  margin-top: 8px;
}

.active-btn{
  background: $col-black;
  border-radius: 8px;
  border: 1px solid var(--Pure-White, #FFF);
  outline: $col-black 2px solid;
}
</style>
