<template>
  <div class="customer-feedbacks">
    <div class="customer-feedbacks__not-feedbacks">
      <div class="customer-feedbacks__left">
        <div class="customer-feedbacks__title">
          <span>Customer feedbacks</span>
        </div>
        <div class="customer-feedbacks__text">
          <span>No feedback at the moment</span>
        </div>
      </div>
      <div class="customer-feedbacks__right">
        <div class="customer-feedbacks__img">
          <img src="../../static/icons/customer/not-feedbacks.svg" alt="feedbacks">
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">

</script>

<style scoped lang="scss">
.customer-feedbacks{
  &__not-feedbacks{
    border-radius: var(--8, 8px);
    background: linear-gradient(113deg, rgba(255, 255, 255, 0.82) 0%, rgba(255, 255, 255, 0.80) 110.84%);
    box-shadow: 0 2px 5.5px 0 rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(10.5px);
    display: flex;
    justify-content: space-between;
    padding: 32px;
  }
  &__title{
    color: $blue1;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__text{
    margin-top: 16px;
    color: rgba(74, 105, 226, 0.50);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.048px;
  }
  &__img{
    height: 155px;
    img{
      height: 100%;
    }
  }
}
</style>