<template>
  <div class="customer-orders" :class="{ 'orders__list': orders.length }">
    <div v-if="orders.length === 0" class="customer-orders__not-orders">
      <div class="customer-orders__left">
        <div class="customer-orders__title">
          <span>Customer orders</span>
        </div>
        <div class="customer-orders__text">
          <span>No order at the moment</span>
        </div>
      </div>
      <div class="customer-orders__right">
        <div class="customer-orders__img">
          <img src="../../static/icons/customer/not-orders.svg" alt="orders">
        </div>
      </div>
    </div>
    <div v-else class="orders">
      <div class="orders__header">
        <div class="orders__title">
          <span>Customer orders</span>
        </div>
        <router-link tag="button" to="/orders/all" class="orders__all">
          <span>all</span>
        </router-link>
      </div>
      <div class="orders__content">
        <list-titles
            :titles="listTitles"
            :sizes="listBlockSizes"
        />
        <div
            class="list"
            v-if="isDownloadOrders"
        >
          <div class="list__items">
            <list-order-row
                v-for="order in paginationOrdersResult.value"
                :key="order.id"
                :order="order"
                :sizes="listBlockSizes"
                @click="openOrder(order.id)"
            />
          </div>
          <v-pagination
              :current-items="orders"
              :element-on-page="2"
              :list-name="'orders'"
              @select-page="setPaginationResult"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import config from '../../middleware/config.ts';
import VPagination from '../list/v-pagination.vue';
import ListOrderRow from '../list/rows/order-row.vue';
import ListTitles from '../list/titles.vue';
import {reactive, ref} from 'vue';
import {useRouter} from 'vue-router';

const props = defineProps({
  orders: {
    default: [],
    type: Array
  }
})

console.log(props.orders)

const router = useRouter();

const listTitles = config.orders.list.titles;
const listBlockSizes = config.orders.list.blockSizes;

let paginationOrdersResult = reactive<any>([]);
let isDownloadOrders = ref<boolean>(true);

const openOrder = (orderId: number): void => {
  router.push({name: 'order', params: {id: orderId}});
}

const setPaginationResult = (result: any[]) => {
  paginationOrdersResult.value = result;
}
</script>

<style scoped lang="scss">
.customer-orders{
  border-radius: var(--8, 8px);
  background: linear-gradient(113deg, rgba(255, 255, 255, 0.82) 0%, rgba(255, 255, 255, 0.80) 110.84%);
  padding: 32px;
  box-shadow: 0 2px 5.5px 0 rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(10.5px);
  &__not-orders{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    color: $blue1;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__text{
    margin-top: 16px;
    color: rgba(74, 105, 226, 0.50);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.048px;
  }
  &__img{
    height: 155px;
    img{
      height: 100%;
    }
  }
}
.orders{
  height: 280px;
  display: flex;
  flex-direction: column;
  &__title{
    color: $blue1;
    font-family: MontserratRegular, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__all{
    border: 1px solid #232321;
    color: #232321;
    border-radius: 8px;
    height: 32px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      font-family: Montserrat, sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: 0.25px;
      text-align: left;
    }
  }
  &__content{
    height: calc(100% - 52px);
  }
  &__list{
    width: 100%;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    height: 32px;
    margin-bottom: 20px;
  }
}
.list{
  height: calc(100% - 56px);
}
</style>
