@font-face {
  font-family: "MontserratRegular";
  src: local("MontserratRegular"), url("/src/static/fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratMedium";
  src: local("MontserratMedium"), url("/src/static/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratBold";
  src: local("MontserratBold"), url("/src/static/fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("/src/static/fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsMedium";
  src: local("PoppinsMedium"), url("/src/static/fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsBold";
  src: local("PoppinsBold"), url("/src/static/fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), url("/src/static/fonts/Inter-Regular.otf") format("truetype");
}
@font-face {
  font-family: "InterMedium";
  src: local("InterMedium"), url("/src/static/fonts/Inter-Medium.otf") format("truetype");
}
@font-face {
  font-family: "InterBold";
  src: local("InterBold"), url("/src/static/fonts/Inter-Bold.otf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("/src/static/fonts/Rubik.ttf") format("truetype");
}