.start{
  display: flex;
  justify-content: start;
}
.center{
  display: flex;
  justify-content: center;
}
.end{
  display: flex;
  justify-content: end;
}
.column{
  display: flex;
  flex-direction: column;
}
.space-between{
  display: flex;
  justify-content: space-between;
}