*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: $bg-default;
}
a,span,p,li,label,h1,h2,h3{
  font-family: MontserratRegular, sans-serif;
}
a{
  text-decoration: none;
}
button{
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
li{
  list-style-type: none;
}
input {
  outline:none;
  border-radius: 8px;
  border: 1px solid var(--dark-gray, #232321);
  padding: 10px 16px;
  color: #1F1A24;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input:focus {
  border-color: #008B28 !important;
  caret-color: #008B28;
}