$bg-auth: linear-gradient(135deg, rgba(84,174,232,1) 0%, rgba(67,112,255,1) 100%);
$col-black: #2C2C2C;
$font-color-grey: #515150;
$bg-default: #E5E5E5;

$blue1: #4370FF;
$blue2: #35C9FF;

$grey1: #E7E7E3;
$grey2: #FFF9;