<template>
  <section class="chat">
    <div class="chat__inner wrapper-default">
      <div class="chat__sidebar">
        <div class="chat-sidebar__search">
          <input type="text" placeholder="Search...">
          <img src="/src/static/images/search.svg" alt="">
        </div>
        <div class="chat-sidebar__contacts" v-if="isDownloadContacts">
          <v-dialogue
              v-for="(contact, index) in contacts.value"
              :key="contact.user.id"
              :icon="contact.user.profile !== null ? getAvatar(contact.user.id, contact.user.profile.photo) : ''"
              :name="contact.user.profile !== null ? contact.user.profile.first_name + ' ' + contact.user.profile.last_name : ''"
              :message="contact.lastMessage.message"
              :dateLastMessage="new Date(contact.lastMessage.updated_at)"
              :countUnreadMessages="contact.unReadMessages"
              :isActive="contact.isActive"
              @click="changeActiveContact(index)"
          />
        </div>
      </div>
      <div class="chat__content">
        <div class="chat__header">
          <template v-if="isDownloadContacts && currentContact.value !== undefined">
            <div class="chat-header__avatar">
              <img v-if="currentContact.value.user.profile !== null" :src="getAvatar(currentContact.value.user.id, currentContact.value.user.profile.photo)" alt="avatar">
              <img v-else src="../static/icons/user/no-img.svg" alt="no-img">
            </div>
            <div class="chat-header__info">
              <span class="chat-header-info__name">{{ currentContact.value.user.profile !== null ? currentContact.value.user.profile.first_name + ' ' + currentContact.value.user.profile.last_name : '' }}</span>
              <span class="chat-header-info__status">Online</span>
            </div>
            <div class="chat-header__actions">
              <img src="/src/static/images/more-alt.svg" alt="">
            </div>
            <span class="chat-header__date">{{ getCurrentDate }}</span>
          </template>
        </div>
        <div class="chat__messages" @scroll="setDate">
          <div class="chat-messages-block" v-if="isDownloadMessages">
            <div class="chat-messages__row" :class="{'msg-sender': message.user_id !== currentContact.value.user.id, 'msg-consumer': message.user_id === currentContact.value.user.id}" v-for="message in messages.value">
              <div class="chat-messages__item">
                <span class="chat-messages-item__text">{{ message.message }}</span>
                <span class="chat-messages-item__time">{{ filteredDateInTime(new Date(message['updated_at'])) }}</span>
                <img src="/src/static/images/msg-status-done.svg" class="chat-messages-item__status" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="chat__panel">
          <div class="chat-panel__field">
            <input type="text" placeholder="Type something here" v-model="message">
            <div class="chat-panel-field__upload">
              <img src="/src/static/images/paperclip.svg" alt="">
            </div>
            <div class="chat-panel-field__stickers">
              <img src="/src/static/images/smile.svg" alt="">
            </div>
          </div>
          <div class="chat-panel__submit" @click="sendMessage()">
            <img src="/src/static/images/send.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script setup lang="ts">
import VDialogue from '../components/chat/v-dialogue.vue';
import chatService from '../middleware/services/chat.ts';
import {computed, onMounted, reactive, ref} from 'vue';
import {
  filteredDateInDayAndMonth,
  filteredDateInFullDateWithoutTime,
  filteredDateInTime
} from '../middleware/filters/date.ts';
import {useUserStore} from '../store/user.ts';

let contacts = reactive<any>([]);
let currentContact = reactive<any>({});
let messages = reactive<any>([]);
let isDownloadContacts = ref<boolean>(false);
let isDownloadMessages = ref<boolean>(false);
let message = ref<string>('');

let user = useUserStore().user;

const setContacts = () => {
  chatService.getContacts().then(resp => {
    contacts.value = resp.data;
    updateStatusesForContacts();
    isDownloadContacts.value = true;
    openLastOpenedChat();
  })
}


const positionsElem = reactive<any>([]);
const currentDate = ref<any>(new Date());
const setPositionElem = () => {
  positionsElem.value = [];
  document.querySelectorAll('.chat-messages__row').forEach(function (item: any, index: any) {
    if (index === 0) {
      positionsElem.value.push({ start: item.offsetTop, end: item.offsetTop + item.offsetHeight + 10 });
    } else {
      positionsElem.value.push({ start: positionsElem.value[index - 1].end + 1, end: item.offsetTop + item.offsetHeight + 10 });
    }
  })
}

const setDate = (e:any) => {
  const scroll = e.target.scrollTop + 110
  positionsElem.value.forEach(function (item: any, index: any) {
    if (item.start <= scroll && scroll <= item.end) {
      currentDate.value = messages.value[index].updated_at;
    }
  })
}

const getCurrentDate = computed(() => {
  if (new Date().getFullYear() === new Date(currentDate.value).getFullYear() && new Date().getMonth() === new Date(currentDate.value).getMonth() && new Date().getDate() === new Date(currentDate.value).getDate()) {
    return 'today';
  }
  return new Date().getFullYear() === new Date(currentDate.value).getFullYear() ? filteredDateInDayAndMonth(new Date(currentDate.value)) : filteredDateInFullDateWithoutTime(new Date(currentDate.value));
})

const updateStatusesForContacts = (): any => {
  contacts.value = contacts.value.map((el: any) => {
    let result = el;
    result.isActive = false;
    return result;
  });
}

const changeActiveContact = (index: any) => {
  updateStatusesForContacts();
  updateCurrentContact(contacts.value[index]);
  contacts.value[index].isActive = true;
  openMessages(contacts.value[index].lastMessage.chat_id, contacts.value[index].user.id);
  localStorage.setItem('last-chat', contacts.value[index].lastMessage.chat_id);
}

const updateCurrentContact = (contact: any) => {
  currentContact.value = contact;
}

const openMessages = (chatId: any, userId: any) => {
  isDownloadMessages.value = false;
  chatService.getMessages(chatId, userId).then(resp => {
    messages.value = resp.data;
    isDownloadMessages.value = true;
    setTimeout(() => {
      setPositionElem();
    }, 200)
  });
}

const getAvatar = (userId: any, iconName: any) => {
  return import.meta.env.VITE_APP_IMG_LINK + 'profiles/' + userId + '/' + iconName;
}

const sendMessage = () => {
  if (message.value.length) {
    const newMessageData = {
      user_id: user.id,
      message: message.value,
      status: 0,
      created_at: new Date(),
      updated_at: new Date()
    }
    messages.value.push(newMessageData);
    message.value = '';
    chatService.sendMsg(currentContact.value.lastMessage.chat_id, user.id, newMessageData.message);
  }
}

const openLastOpenedChat = () => {
  const chatId = localStorage.getItem('last-chat');
  if (chatId) {
    const contactIndex = contacts.value.findIndex((contact: any) => Number(contact.lastMessage.chat_id) === Number(chatId));
    if (contactIndex >= 0) {
      changeActiveContact(contactIndex);
    }
  }
}

onMounted(() => {
  setContacts();
})
</script>

<style scoped lang="scss">
.chat{
  &__inner {
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 205px);
  }
  &__sidebar {
    background: #E5E5E5;
    padding: 32px;
    width: 36%;
    border-radius: 12px 0 0 12px;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 2px solid #E7E7E7;
    width: 100%;
    height: 72px;
    position: relative;
  }
  &__content {
    background: #FFFFFF;
    width: 64%;
    padding: 20px;
    border-radius: 0 12px 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__panel {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #E7E7E7;
    padding-top: 16px;
    height: 72px;
  }
}

.chat-sidebar{
  &__search {
    width: 100%;
    display: flex;
    margin-bottom: 24px;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    input {
      width: 100%;
      border-radius: 40px;
      border: 1px solid var(--Stroke, #E7E7E7);
      background: var(--White, #FFF);
      padding: 10px 40px 10px 20px;
    }
    input::placeholder {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
    img {
      position: absolute;
      right: 16px;
    }
  }
  &__contacts{
    height: calc(100vh - 320px);
    overflow-y: auto;
    & .message{
      cursor: pointer;
    }
  }
}

.chat-header {
  &__avatar {
    width: 80px;
    display: flex;
    img {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &__info {
    width: calc(100% - 140px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__actions {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      cursor: pointer;
    }
  }
  &__date {
    font-family: Poppins, sans-serif;
    position: absolute;
    bottom: -40px;
    border-radius: 5px;
    background: rgba(44, 44, 44, 0.1);
    color: #7D848D;
    text-align: center;
    font-size: 12.78px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.729px;
    padding: 2px 5px;
    left: 48%;
  }
}

.chat-header-info{
  &__name {
    color: var(--TailGrids-Black-Color, #212B36);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  &__status {
    color: var(--TailGrids-Text-Color, #637381);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}

.chat__messages{
  position: relative;
  height: calc(100vh - 400px);
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chat-messages {
  &-block {
    width: 100%;
    min-height: calc(100vh - 400px);;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 14px;
  }
  &__row {
    margin-bottom: 16px;
    word-wrap:break-word;
  }
}

.msg-sender {
  display: flex;
  justify-content: flex-end;
  .chat-messages__item{
    background: rgba(44, 44, 44, 0.99);
    border-radius: var(--16, 16px) var(--16, 16px) 0px var(--16, 16px);
    display: flex;
    color: #FFFFFF;
    padding: 12px 20px;
    max-width: 48%;
    align-items: flex-end;
    position: relative;
  }
}

.msg-consumer {
  display: flex;
  justify-content: flex-start;
  .chat-messages__item{
    background: rgba(44, 44, 44, 0.10);
    border-radius: 0px var(--16, 16px) var(--16, 16px) var(--16, 16px);
    display: flex;
    color: #000000;
    padding: 12px 20px;
    max-width: 48%;
    align-items: flex-end;
    position: relative;
  }
}

.chat-messages-item{
  &__text {
    max-width: 80%;
    line-height: 26px;
  }
  &__time {
    right: 12%;
    margin-left: 10px;
  }
  &__status {
    position: absolute;
    right: 3%;
  }
}

.chat-panel {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #E7E7E7;
  padding-top: 16px;
  height: 10%;
  &__field {
    display: flex;
    width: 100%;
    margin-right: 2%;
    position: relative;
    input{
      width: 100%;
      border-radius: 6.043px;
      background: rgba(244, 247, 255, 0.70);
      border: none;
      padding-left: 32px;
      height: 56px;
    }
    img{
      width: 100%;
    }
  }
  &__submit {
    width: 56px;
    background: #4370FF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    height: 56px;
  }
}

.chat-panel-field{
  &__upload {
    position: absolute;
    height: 100%;
    right: 55px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__stickers {
    position: absolute;
    height: 100%;
    right: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
</style>