<template>
  <section class="dashboard">
    <div class="dashboard__inner wrapper-default">
      <div class="dashboard__top dashboard__statistic">
        <div class="statistic__list space-between">
          <v-statistic-card
              v-for="card in statisticCards"
              :key="card.title"
              :title="card.title"
              :icon="card.icon"
              :count="card.count !== null ? card.count : 0"
              :percent="card.percent !== null ? card.percent : 0"
              :direction="card.direction"
          />
        </div>
      </div>
      <div class="dashboard__center space-between">
        <v-revenue
            class="dashboard__revenue"
        />
        <v-countries
            class="dashboard__earth"
        />
      </div>
      <div class="dashboard__bottom space-between">
        <v-websites
            class="dashboard__websites"
        />
        <v-devices
            class="dashboard__devices"
        />
        <v-locations
            class="dashboard__locations"
        />
      </div>
    </div>
  </section>
</template>

<script setup lang="ts">
import VStatisticCard from '../components/dashboard/v-statistic-card.vue';
import VCountries from '../components/dashboard/v-countries.vue';
import VRevenue from '../components/dashboard/v-revenue.vue';
import VWebsites from '../components/dashboard/v-websites.vue';
import VDevices from '../components/dashboard/v-devices.vue';
import VLocations from '../components/dashboard/v-locations.vue';

import dashboardService from '../middleware/services/dashboard.ts';
import {onMounted, reactive} from 'vue';

const statisticCards = reactive({
  orders: {
    title: 'Orders',
    icon: new URL('../static/icons/statistic-card/orders.svg', import.meta.url) as any,
    count: null,
    percent: null,
    direction: 'top'
  },
  customers: {
    title: 'Customers',
    icon: new URL('../static/icons/statistic-card/customers.svg', import.meta.url) as any,
    count: null,
    percent: null,
    direction: 'top'
  },
  partners: {
    title: 'Partners',
    icon: new URL('../static/icons/statistic-card/partners.svg', import.meta.url) as any,
    count: null,
    percent: null,
    direction: 'top'
  },
  drivers: {
    title: 'Drivers',
    icon: new URL('../static/icons/statistic-card/drivers.svg', import.meta.url) as any,
    count: null,
    percent: null,
    direction: 'top'
  }
});

const getOrders = () => {
  dashboardService.getStatistics().then(resp => {
    statisticCards.orders.count = resp.data.orders.count;
    statisticCards.orders.percent = resp.data.orders.coefficient;
    statisticCards.orders.direction = resp.data.orders.coefficient > 0 ? 'top' : 'bottom';
    statisticCards.customers.count = resp.data.customers.count;
    statisticCards.customers.percent = resp.data.customers.coefficient;
    statisticCards.customers.direction = resp.data.customers.coefficient > 0 ? 'top' : 'bottom';
    statisticCards.partners.count = resp.data.partners.count;
    statisticCards.partners.percent = resp.data.partners.coefficient;
    statisticCards.partners.direction = resp.data.partners.coefficient > 0 ? 'top' : 'bottom';
    statisticCards.drivers.count = resp.data.drivers.count;
    statisticCards.drivers.percent = resp.data.drivers.coefficient;
    statisticCards.drivers.direction = resp.data.drivers.coefficient > 0 ? 'top' : 'bottom';
  })
}

onMounted(() => {
  getOrders();
})
</script>

<style scoped lang="scss">
.dashboard{
  &__center, &__bottom{
    margin-top: 24px;
  }
  &__top{
    height: 130px;
  }
  &__center{
    height: 320px;
  }
  &__bottom{
    height: 280px;
  }
  &__revenue{
    width: 54%;
  }
  &__earth{
    width: 43%;
  }
  &__websites{
    width: 18%;
  }
  &__devices, &__locations{
    width: 38%;
  }
}
</style>