<template>
  <div class="feedback">
    <div class="feedback__inner wrapper-default">
      <v-filters/>
      <template v-if="isDownloadFeedback">
        <v-rating/>
        <div class="feedback__list">
          <div class="feedback__reviews">
            <v-review v-for="feedbackReview in paginationFeedbackResult.value"
                      class="feedback__review"
                      :review="feedbackReview"
            />
          </div>

          <v-pagination
              :current-items="feedback.reviews.value"
              :element-on-page="6"
              :list-name="'feedbacks'"
              @select-page="setPaginationResult"
          />
        </div>
      </template>
    </div>
  </div>
</template>

<script setup lang="ts">
import VPagination from '../components/list/v-pagination.vue';
import VFilters from '../components/root/v-filters.vue';
import { onMounted, reactive, ref } from 'vue';
import feedbackService from '../middleware/services/feedback.ts';
import { useUserStore } from '../store/user.ts';
import VRating from '../components/feedback/v-rating.vue';
import VReview from '../components/feedback/v-review.vue';

const feedback = reactive<any>({
  reviews: [],
  reviews_count: 0,
  rating: 0,
});
const paginationFeedbackResult = reactive<any>([]);
const isDownloadFeedback = ref<boolean>(false);
const user = useUserStore().user;

const setFeedback = () => {
  feedbackService.list(user.id).then(resp => {
    feedback.reviews.value = resp.reviews;
    feedback.reviews_count = resp.reviews_count;
    feedback.rating = resp.rating;
    isDownloadFeedback.value = true;
  })
}

onMounted(() => {
  setFeedback();
})

const setPaginationResult = (result: any[]) => {
  paginationFeedbackResult.value = result;
}
</script>

<style scoped lang="scss">
.feedback {
  &__inner {
    height: 100%;
  }
  &__list{
    height: calc(100% - 260px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__reviews{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__review{
    width: 32%;
    margin-bottom: 32px;
    margin-right: 2%;
    &:nth-child(3n){
      margin-right: 0;
    }
  }
}
</style>