<template>
  <!--  <mapbox-map-->
  <!--      class="map"-->
  <!--      :accessToken="config.mapboxAccessToken"-->
  <!--      mapStyle="mapbox://styles/mapbox/streets-v11"-->
  <!--      :zoom="12"-->
  <!--      :center="[135.092661,48.449422]"-->
  <!--  />-->
  <div id="map" class="map"></div>
  <div class="routes__today">
    <div class="routes__today-head">
      <span>Routes today</span>
    </div>
    <div v-if="isDownloadOrders" class="routes__today-routes">
      <list-titles
          :titles="listTitles"
          :sizes="listBlockSizes"
      />
      <live-map-row
          v-for="order in orders.value"
          :sizes="listBlockSizes"
          :order="order"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import mapboxgl from 'mapbox-gl';
import 'mapbox-gl/dist/mapbox-gl.css';
import config from '../middleware/config.ts';
import ListTitles from '../components/list/titles.vue';
import LiveMapRow from "../components/list/rows/live-map-row.vue";
import ordersService from "../middleware/services/orders.ts";
import {onMounted, onUnmounted, reactive, ref} from 'vue';
import {api} from "../middleware/helpers/axios";

const listTitles = config.liveMap.list.titles;
const listBlockSizes = config.liveMap.list.blockSizes;
let orders = reactive<any>([]);
let isDownloadOrders = ref<boolean>(false);
const intervalId = ref();

const setOrders = () => {
  ordersService.list().then(resp => {
    orders.value = resp.data.planned;
    isDownloadOrders.value = true;
  })
}

const rerenderMap = (): void => {
  window.dispatchEvent(new Event('resize'));
}

const rerenderMapByTimeout = () => {
  setTimeout(() => {
    rerenderMap();
  }, 500)
}

const addHandlerResizeMap = () => {
  const sidebarBtn: Element | null = document.querySelector('.sidebar__header-close');
  if (sidebarBtn !== null) {
    sidebarBtn.addEventListener('click', rerenderMapByTimeout);
  }
}

const clearHandlerResizeMap = () => {
  const sidebarBtn: Element | null = document.querySelector('.sidebar__header-close');
  if (sidebarBtn !== null) {
    sidebarBtn.removeEventListener('click', rerenderMapByTimeout);
  }
}

const getDriversPositions = () => {
  return api.get('/driver-positions')
      .then(({data}) => {
        return {
          'type': 'FeatureCollection',
          'features': [
            ...data
                .filter((position) => {
                  const orders = position.driver.route_orders
                  return orders.some(order => order.status === 'planned' && order.status_job)
                })
                .map((position => {
                  const orders = position.driver.route_orders
                  const order = orders.find(order => order.status === 'planned' && order.status_job)
                  const orderText = `#${order.id} - ${order.status} - ${order.status_job}`
                  return {
                    '_driver_id': position.driver.id,
                    'type': 'Feature',
                    'geometry': {
                      'type': 'Point',
                      'coordinates': [
                        parseFloat(position.longitude), parseFloat(position.latitude)
                      ]
                    },
                    'properties': {
                      'title': `${position.driver.first_name} ${position.driver.last_name}\n${orderText}`
                    }
                  }
                }))
          ]
        }
      })
}

const getAndDrawDriversPositions = async (map) => {
  const source = await getDriversPositions()
  // @ts-ignore
  map.addSource('points', {
    type: 'geojson',
    data: source,
  });
  map.addLayer({
    'id': 'points',
    'type': 'symbol',
    'source': 'points',
    'layout': {
      'icon-image': 'custom-marker',
      'text-field': ['get', 'title'],
      'text-font': [
        'Open Sans Semibold',
        'Arial Unicode MS Bold'
      ],
      'text-offset': [0, 1.25],
      'text-anchor': 'top'
    }
  });

  // function animateMarker(timestamp) {
  //   const radius = 20;
  //
  //   /*
  //   Update the data to a new position
  //   based on the animation timestamp.
  //   The divisor in the expression `timestamp / 1000`
  //   controls the animation speed.
  //    */
  //
  //   source.features[0].geometry.coordinates = [
  //     Math.cos(timestamp / 1000) * radius,
  //     Math.sin(timestamp / 1000) * radius
  //   ]
  //   map.getSource('points').setData(source)
  //
  //   requestAnimationFrame(animateMarker);
  // }
  //
  // requestAnimationFrame(animateMarker);
}

const syncDriversPositions = async (map) => {
  const source = await getDriversPositions()
  map.getSource('points').setData(source)
}

onMounted(async () => {
  setOrders();
  addHandlerResizeMap();
  mapboxgl.accessToken = config.mapboxAccessToken;

  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v12',
    center: [56.454380, 12.550343],
    zoom: 4
  });
  await map.loadImage(
      'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
      (error, image) => {
        if (error) throw error;
        // @ts-ignore
        map.addImage('custom-marker', image);
      })

  await getAndDrawDriversPositions(map)
  intervalId.value = setInterval(() => {
    syncDriversPositions(map)
  }, 2000)
})

onUnmounted(() => {
  clearHandlerResizeMap();
  clearInterval(intervalId.value)
})
</script>

<style scoped lang="scss">
.map {
  //margin-top: -110px;
  position: absolute;
  top: 0;
  padding: 0;
  height: 100vh !important;
  width: 100%;
  overflow: hidden;
  left: 0;
}

.routes__today {
  z-index: 99;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 32px 32px 0 32px;
  background: rgba(250, 250, 250, 0.90);
  flex: 1;
  border-radius: 16px 16px 0 0;

  &-routes {
    max-height: 200px;
    overflow: auto;
  }

  &-head {
    color: $blue1;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
  }
}
</style>
