<template>
  <div class="settings">
    <div class="settings__head">
      <div class="settings__head-bg"></div>
      <div class="wrapper-default">
        <div class="settings__head-panel">
          <div class="settings__head-panel__edit">
            <div class="settings__head-panel__edit-avatar">
              <img :src="getAvatar()" alt="avatar-edit">
            </div>
            <div class="settings__head-panel__edit-text">
              <span class="settings__head-panel__edit-text-name">{{ user['profile']['first_name'] }} {{ user['profile']['last_name'] }}</span>
              <span class="settings__head-panel__edit-text-email">{{ user['email'] }}</span>
            </div>
          </div>
          <div class="settings__head-panel__info">
            <div class="settings__head-panel__info-item item-active">
              <img src="../static/icons/user.svg" alt="user">
              <span>{{ config.user.roles[user['role_id'] || 1] }}</span>
            </div>
            <div class="settings__head-panel__info-item">
              <img src="../static/icons/geo.svg" alt="user">
              <span>{{ user['profile']?.country || '' }}</span>
            </div>
            <div class="settings__head-panel__info-item">
              <img src="../static/icons/breifcase.svg" alt="user">
              <span>{{ user['profile']?.city || '' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-default">
      <v-nav-bar
        :nav-bar-data="config.settings.navBarItemsList"
        :current-page="'profile'"
        :theme="'filled'"
        :size="265"
        @select-page="openPage"
      />
    </div>
    <div class="profile" v-if="page === 'profile'">
      <div class="profile__inner wrapper-default">
        <modal-user
            class="modal-profile"
            :title="'Moderator Details'"
            :data="modalData"
            :is-edite-modal="true"
            @success-modal="updateProfile"
        />
      </div>
    </div>
    <div class="change-password" v-if="page === 'change-password'">
      <update-password/>
    </div>
  </div>
</template>

<script setup lang="ts">
import VNavBar from "../components/root/v-nav-bar.vue";
import config from "../middleware/config.ts";
import ModalUser from '../components/modals/user.vue';
import {useUserStore} from '../store/user.ts';
import {reactive, ref} from 'vue';
import UpdatePassword from './auth/update-password.vue';
import userService from '../middleware/services/user.ts';
import {useAppStore} from '../store/app.ts';

const user = useUserStore().user;
const page = ref<string>('profile');

const modalData = reactive({
  avatar: ('https://api.drivermytripline.com/storage/profiles/' + user.id + '/' + user.profile?.photo) || '',
  role_id: user.role_id || 1,
  email: user.email || '',
  phone: user.phone || '',
  country: user.profile?.country || '',
  date_of_birth: user.day_of_birth || '',
  firstName: user.profile?.first_name || '',
  lastName: user.profile?.last_name || '',
  gender: user.profile?.gender || '',
  whatsapp: user.profile?.whatsapp || '',
  address_country: user.company?.address_country || '',
  address_city: user.company?.address_city || '',
  address_address: user.company?.address_address || '',
  address_postalCode: user.company?.address_postal_code || '',
  billing_country: user.company?.billing_country || '',
  billing_cardName: user.company?.vat || '',
  billing_cardNumber: user.company?.iban || '',
  billing_note: '',
  documents_personalId: user.profile?.passport || null,
  documents_drivingLicense: user.profile?.driver_licence || null,
  documents_criminalCheck: user.profile?.criminal_check || null,
  documents_other: user.profile?.other || null,
})

const getAvatar = () => import.meta.env.VITE_APP_IMG_LINK + 'profiles/' + user.id + '/' + user['profile']['photo'];

const openPage = (newPage: any) => {
  page.value = newPage;
}

const updateProfile = (formData: any) => {
  useAppStore().isLoad = true;
  let data = new FormData;
  data.append('data', JSON.stringify({
    user_id: user.id,
    role_id: 1,
    first_name: formData.firstName,
    last_name: formData.lastName,
    phone: formData.phone,
    day_of_birth: formData.dateOfBirth,
    email: formData.email,
    gender: formData.gender,
    whatsapp: formData.whatsapp,
    country: formData.address.country,
    city: formData.address.city,
    address: formData.address.address,
    postal_code: formData.address.postalCode,
  }));
  data.append('passport', formData.documents.personalId);
  data.append('driverLicence', formData.documents.drivingLicense);
  data.append('criminalCheck', formData.documents.criminalCheck);
  data.append('photo', formData.documents.photo);
  userService.update(data).finally(() => {
    useAppStore().isLoad = false;
  })
}
</script>

<style scoped lang="scss">
.settings {
  &__head {
    position: relative;
    margin-top: -16px;
    margin-bottom: 20px;
    &-bg {
      position: absolute;
      height: 50%;
      width: 100%;
      background: #2C2C2C;
      left: 0;
      border-radius: 0 0 15px 15px;
    }
    &-panel {
      display: flex;
      justify-content: space-between;
      background: linear-gradient(113deg, rgba(255, 255, 255, 0.82) 0%, rgba(255, 255, 255, 0.80) 110.84%);
      box-shadow: 0px 2px 5.5px 0px rgba(0, 0, 0, 0.02);
      backdrop-filter: blur(10.499999046325684px);
      align-items: center;
      padding: 12px;
      border-radius: 15px;

      &__edit {
        width: 50%;
        display: flex;
        align-items: center;

        &-avatar {
          width: 87px;
          height: 87px;
          margin-right: 12px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
          }
        }

        &-text {
          display: flex;
          flex-direction: column;

          &-name {
            color: var(--Dispatching-Black, #2C2C2C);
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
          }

          &-email {
            color: var(--Dispatching-Dark-Grey, #70706E);
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
          }
        }
      }

      &__info {
        width: 50%;
        display: flex;
        justify-content: flex-end;

        &-item {
          display: flex;
          height: 35px;
          padding: 0 40px;
          align-items: center;

          span {
            color: var(--Gray-Gray-700, #2D3748);
            text-align: center;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            margin-left: 4px;
          }
        }
      }

      .item-active {
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 2px 5.5px 0px rgba(0, 0, 0, 0.06);
      }
    }
  }
}
.profile{
  height: calc(100% - 200px);
  &__inner{
    height: 100%;
  }
}
.modal-profile{
  width: 100%;
  height: 100%;
}
.change-password{
  width: 60%;
  margin: 0 auto;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  max-width: 600px;
}
</style>