<template>
  <div class="list__row">
    <div class="list-row__item" :style="{ width: props.sizes[0] + '%' }">
      <div class="list-icon__checkbox"></div>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[1] + '%' }">
      <span>{{ invoice.id }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[2] + '%' }">
      <span>{{ filteredDateInFullDate(new Date(invoice['created_at'])) }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[3] + '%' }">
      <span>{{ filteredDateInFullDate(new Date(invoice['route_date'])) }} - {{ filteredDateInFullDate(new Date(invoice['route_date'])) }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[4] + '%' }">
      <span>{{ user['company']?.name || '' }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[5] + '%' }">
      <span>€ {{ invoice['route']['price'] }}</span>
    </div>
    <div class="list-row__item order-row__status" :style="{ width: props.sizes[6] + '%' }">
      <div>
        <div class="list-icon__point" :style="{ background: invoiceStatus.color }"></div>
        <span>{{ invoiceStatus.title }}</span>
      </div>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[7] + '%' }">
      <img src="/src/static/icons/list/document.svg" alt="edit">
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[8] + '%' }">
      <img src="/src/static/icons/list/eye.svg" alt="edit">
    </div>
  </div>
</template>

<script setup lang="ts">
import { filteredDateInFullDate } from '../../../middleware/filters/date.ts';
import config from '../../../middleware/config.ts';
import {useUserStore} from '../../../store/user.ts';

const props = defineProps<{
  invoice: any,
  sizes: number[]
}>()

const user = useUserStore().user;

const invoiceStatus = config.invoices.statuses[props.invoice.status.toLowerCase()];

</script>

<style scoped lang="scss">
.order-row{
  &__passengers{
    span{
      margin-right: 6px;
    }
    img{
      margin-right: 10%;
    }
    &-item{
      display: flex;
      align-items: center;
      width: 30%;
      max-width: 40px;
      height: 100%;
      margin-right: 4%;
    }
  }
  &__status{
    justify-content: space-between;
    & > div{
      display: flex;
      align-items: center;
      .list-icon__point{
        margin-right: 10px;
      }
    }
  }
}
</style>