<template>
  <div class="list__row">
    <div class="list-row__item" :style="{ width: props.sizes[0] + '%' }">
      <span>{{ order.id }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[1] + '%' }">
      <span>{{ filteredDateInFullDateWithoutTime(new Date(order['route_date'])) }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[2] + '%' }">
      <span>{{ order['route']['title'] }}</span>
    </div>
<!--    <div class="list-row__item" :style="{ width: props.sizes[3] + '%' }">-->
<!--      <img v-if="order.comment.length" src="/src/static/icons/orders/chat-fill.svg" alt="chat">-->
<!--      <img v-else src="/src/static/icons/orders/chat-clear.svg" alt="chat">-->
<!--    </div>-->
    <div class="list-row__item order-row__status" :style="{ width: props.sizes[4] + '%' }">
      <div>
        <div class="list-icon__point" :style="{ background: orderType.color }"></div>
        <span>{{ orderType.title }}</span>
      </div>
    </div>
<!--    <div class="list-row__item" :style="{ width: props.sizes[5] + '%' }">-->
<!--      <span>25%</span>-->
<!--    </div>-->
<!--    <div class="list-row__item" :style="{ width: props.sizes[6] + '%' }">-->
<!--      <img src="../../../static/icons/orders/info.svg" alt="info">-->
<!--    </div>-->
  </div>
</template>

<script setup lang="ts">
import { filteredDateInFullDateWithoutTime } from '../../../middleware/filters/date';
import config from '../../../middleware/config.ts';

const props = defineProps<{
  order: any,
  sizes: number[]
}>()

const orderType = config.orders.types[props.order.status];
//const vehicleType = config.vehicles.types[props.order['get_cars'][0].title.toLowerCase()];
</script>

<style scoped lang="scss">
.order-row{
  &__passengers{
    span{
      margin-right: 6px;
    }
    img{
      margin-right: 10%;
    }
    &-item{
      display: flex;
      align-items: center;
      width: 30%;
      max-width: 40px;
      height: 100%;
      margin-right: 4%;
    }
  }
  &__status{
    justify-content: space-between;
    & > div{
      display: flex;
      align-items: center;
      .list-icon__point{
        margin-right: 10px;
      }
    }
  }
}
</style>
