<template>
  <div class="list__row">
    <div class="list-row__item" :style="{ width: props.sizes[0] + '%' }">
      <div class="list-icon__checkbox"></div>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[1] + '%' }">
      <span>{{ order.id }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[2] + '%' }">
      <span>{{ order['route_date'] }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[3] + '%' }">
      <span>{{ order.route?.title || 'Daytour' }} {{ order['is_invert_route'] ? '(inverted)' : '' }} </span>
    </div>
    <div class="list-row__item order-row__passengers" :style="{ width: props.sizes[4] + '%' }">
      <div class="order-row__passengers-item">
        <span>{{ order['adults'] }}</span>
        <img src="/src/static/icons/orders/passengers.svg" alt="passengers">
      </div>
      <div class="order-row__passengers-item">
        <span>{{ order['luggage'] }}</span>
        <img src="/src/static/icons/orders/luggage.svg" alt="luggage">
      </div>
      <div class="order-row__passengers-item">
        <span>{{ order['childrens'] }}</span>
        <img src="/src/static/icons/orders/child.svg" alt="child">
      </div>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[5] + '%' }">
      <span :style="{ color: vehicleType.color }">{{ vehicleType.title }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[6] + '%' }">
      <img v-if="order.comment.length" src="/src/static/icons/orders/chat-fill.svg" alt="chat">
      <img v-else src="/src/static/icons/orders/chat-clear.svg" alt="chat">
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[7] + '%' }">
      <span>€{{ order.amount }}</span>
    </div>
    <div class="list-row__item order-row__status" :style="{ width: props.sizes[8] + '%' }">
      <div>
        <div class="list-icon__point" :style="{ background: orderType.color }"></div>
        <span>{{ orderType.title }}</span>
      </div>
      <img src="/src/static/icons/orders/arrow-right.svg" alt="arrow-right">
    </div>
  </div>
</template>

<script setup lang="ts">
import config from '../../../middleware/config.ts';

const props = defineProps<{
  order: any,
  sizes: number[]
}>()

const orderType = config.orders.types[props.order.status];

const vehicleType = props.order['get_cars'][0] !== undefined ? config.vehicles.types[props.order['get_cars'][0].title.toLowerCase()] : {color: '', title: ''};
</script>

<style scoped lang="scss">
.order-row{
  &__passengers{
    span{
      margin-right: 6px;
    }
    img{
      margin-right: 10%;
    }
    &-item{
      display: flex;
      align-items: center;
      width: 30%;
      max-width: 40px;
      height: 100%;
      margin-right: 4%;
    }
  }
  &__status{
    justify-content: space-between;
    & > div{
      display: flex;
      align-items: center;
      .list-icon__point{
        margin-right: 10px;
      }
    }
  }
}
</style>
