<template>
  <div class="list__row">
    <div class="list-row__item" :style="{ width: props.sizes[0] + '%' }">
      <div class="list-icon__checkbox"></div>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[1] + '%' }">
      <span>{{ user.id }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[2] + '%' }">
      <span>{{ user['first_name'] }} {{ user['last_name'] }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[3] + '%' }">
      <span>{{ user['email'] }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[4] + '%' }">
      <span>{{ user['phone'] }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[5] + '%' }">
      <span v-if="isCustomers">{{ user['orderCount'] }}</span>
      <span v-else>{{ user['country'] !== null ? user['country']['iso2'] : '' }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[6] + '%' }">
      <div class="list-icon__point" style="margin-right: 8px" :style="{ background: userStatus.color }"></div>
      <span>{{ userStatus.title }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[7] + '%' }">
      <span>{{ filteredDateInFullDateWithoutTime(new Date(user['created_at'])) }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[8] + '%' }">
      <img v-if="user.comment !== undefined && user.comment.length" src="/src/static/icons/orders/chat-fill.svg" alt="chat">
      <img v-else src="/src/static/icons/orders/chat-clear.svg" alt="chat">
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[9] + '%' }">
      <img src="/src/static/icons/user/edit.svg" alt="edit">
    </div>
  </div>
</template>

<script setup lang="ts">
import config from '../../../middleware/config.ts';
import { filteredDateInFullDateWithoutTime } from '../../../middleware/filters/date.ts';

const props = defineProps<{
  user: any,
  sizes: number[],
  isCustomers: boolean
}>()

const userStatus = config.user.statuses[props.user.state.toLowerCase()] || {title: '', color: 'white'};
</script>

<style scoped lang="scss">
</style>