<template>
  <div class="list__row">
    <div class="list-row__item" :style="{ width: props.sizes[0] + '%' }">
      <div class="list-icon__checkbox"></div>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[1] + '%' }">
      <span>{{ vehicle.id }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[2] + '%' }">
      <span>{{ vehicle['mark'] }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[3] + '%' }">
      <span>{{ vehicle['model'] }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[4] + '%' }">
      <span>{{ user['company']['name'] }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[5] + '%' }">
      <span>{{ vehicle['year'] }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[6] + '%' }">
      <span :style="{ color: vehicleType.color }">{{ vehicleType.title }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[7] + '%' }">
      <span>{{ filteredDateInFullDateWithoutTime(new Date(vehicle['created_at'])) }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[8] + '%' }">
      <div class="list-icon__point" style="margin-right: 8px" :style="{ background: vehicleStatus.color }"></div>
      <span>{{ vehicleStatus.title }}</span>
    </div>
    <div class="list-row__item" :style="{ width: props.sizes[9] + '%' }">
      <img src="/src/static/icons/user/edit.svg" alt="edit">
    </div>
  </div>
</template>

<script setup lang="ts">
import { useUserStore } from '../../../store/user.ts';
import config from '../../../middleware/config.ts';
import { filteredDateInFullDateWithoutTime } from '../../../middleware/filters/date.ts';

const props = defineProps<{
  vehicle: any,
  sizes: number[]
}>()

const user = useUserStore().user;
const vehicleType = config.vehicles.types[props.vehicle['class'].toLowerCase()] || { title: '', color: 'white' };
const vehicleStatus = config.vehicles.statuses[props.vehicle['state'].toLowerCase()] || { title: '', color: 'white' };
</script>

<style scoped lang="scss">
</style>