<template>
  <div class="moderator card">
    <div class="moderator__image">
      <img v-if="moderator.image !== undefined" :src="moderator.image" alt="">
      <img v-else src="../../static/icons/user/no-img.svg" alt="no-img">
    </div>
    <span class="moderator__role">{{ config.user.roles[moderator['role_id']] }}</span>
    <div class="moderator__name" :class="{ 'moderator_active': moderator.status !== 'new' }">
      <span>{{ moderator['last_name'] }} {{ moderator['last_name'] }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import config from '../../middleware/config.ts';

defineProps({
  moderator: {
    default: {},
    type: Object
  }
})
</script>

<style scoped lang="scss">
  .moderator {
    width: 15.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background: rgba(250, 250, 250, 0.9);
    box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0.19), 0px 0px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin-bottom: 20px;
    min-width: 200px;
    &__image {
      padding: 15px 23px 7px 23px;
      img {
        width: 124px;
        height: 119px;
        border-radius: 16px;
        object-fit: cover;
      }
    }
    &__role {
      color: rgba(44, 44, 44, 0.50);
      text-align: center;
      font-family: Poppins, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 7.5px;
    }
    &__name {
      border-radius: var(--8, 8px);
      background: #70706E;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      span {
        color: var(--Pure-White, #FFF);
        font-family: Rubik;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.25px;
        text-transform: uppercase;
      }
    }
    .moderator_active {
      background: var(--Dispatching-Success, #008B28);
    }
  }
</style>