<template>
  <div class="modal-layout">
    <div class="modal-layout__header space-between">
      <div class="modal-header__title">
        <span>{{ title }}</span>
      </div>
      <div class="modal-header__right">
        <span v-if="currentStep !== null" class="modal-header__step">step {{ currentStep }}/{{ countSteps }}</span>
        <span v-if="subBtn.length" class="modal-header__sub-btn" @click="emitClickOnSubBtn()">{{ subBtn }}</span>
        <button
            v-if="headerBtn === 'close'"
            class="modal-header__close"
            @click="close()"
        >
          <img src="/src/static/icons/modals/close.svg" alt="close">
        </button>
        <button
            v-if="headerBtn === 'edit'"
            class="modal-header__edit"
            @click="emitClickOnEdit()"
        >
          <img src="/src/static/icons/modals/edit.svg" alt="edit">
          <span>edit</span>
        </button>
      </div>
    </div>
    <div class="modal-layout__content" :class="{ 'modal-layout__content_without-footer': !showFooter }">
      <slot name="content"/>
    </div>
    <div v-if="showFooter" class="modal-layout__footer end">
      <div class="modal-layout__actions">
        <button class="modal-action field-btn field-btn_cancel"
                @click="close()"
        >
          <span>{{ buttonCancel }}</span>
        </button>
        <button class="modal-action field-btn field-btn_success"
                @click="success()"
        >
          <span>{{ buttonSuccess }}</span>
        </button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps({
  title: {
    default: '',
    type: String
  },
  headerBtn: {
    default: 'close',
    type: String
  },
  showFooter: {
    default: true,
    type: Boolean
  },
  currentStep: {
    default: null,
  },
  countSteps: {
    default: 0,
    type: Number
  },
  buttonSuccess: {
    default: 'Create',
    type: String
  },
  buttonCancel: {
    default: 'Cancel',
    type: String
  },
  subBtn: {
    default: '',
    type: String
  }
});

const emit = defineEmits(['close', 'success', 'clickOnEdit', 'clickOnSubBtn']);

const close = (): void => {
  emit('close');
}

const success = (): void => {
  emit('success');
}

const emitClickOnEdit = ():void => {
  emit('clickOnEdit');
}

const emitClickOnSubBtn = ():void => {
  emit('clickOnSubBtn');
}

</script>

<style scoped lang="scss">
.modal-layout{
  border-radius: 8px;
  background: #FAFAFA;
  &__header{
    position: sticky;
    top: 0;
    height: 96px;
    padding: 24px 4%;
    align-items: center;
  }
  &__footer{
    position: sticky;
    bottom: 0;
    height: 96px;
    padding: 48px 4% 24px 4%;
    border-top: 1px solid rgba(35, 35, 33, 0.20);
  }
  &__content{
    height: calc(100% - 218px);
    overflow-y: auto;
  }
  &__actions{
    & > .modal-action:first-child{
      margin-right: 16px;
    }
  }
}
.modal-header{
  &__title{
    color: $blue1;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__right{
    display: flex;
    align-items: center;
  }
  &__step{
    display: block;
    margin-right: 14px;
    font-family: Poppins, sans-serif;
    color: $blue1;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
  }
  &__sub-btn{
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.25px;
    text-align: left;
    margin-right: 14px;
    cursor: pointer;
  }
  &__close{
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background: $blue1;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 50%;
    }
  }
  &__edit{
    padding: 8px 16px;
    border-radius: 8px;
    background: #232321;
    display: flex;
    align-items: center;
    img{
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
    span{
      color: #FFF;
      font-family: MontserratRegular, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.25px;
      text-transform: uppercase;
    }
  }
}
.modal-layout__content_without-footer{
  height: calc(100% - 122px);
}
</style>