<template>
  <div class="modal-layout">
    <div class="modal-layout__header space-between">
      <div class="modal-header__title">
        <span>{{ title }}</span>
      </div>
      <div class="modal-layout__actions">
        <button class="modal-action field-btn field-btn_cancel"
                @click="close()"
        >
          <span>Cancel</span>
        </button>
        <button class="modal-action field-btn field-btn_success"
                @click="success()"
        >
          <span>Save</span>
        </button>
      </div>
    </div>
    <div class="modal-layout__content">
      <slot name="content"/>
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps({
  title: {
    default: '',
    type: String
  }
});

const emit = defineEmits(['close', 'success']);

const close = (): void => {
  emit('close');
}

const  success = (): void => {
  emit('success');
}

</script>

<style scoped lang="scss">
.modal-layout{
  border-radius: 8px;
  background: #FAFAFA;
  &__header{
    top: 0;
    height: 96px;
    padding: 24px 4%;
    align-items: center;
  }
  &__content{
    height: calc(100% - 96px);
    overflow-y: auto;
  }
  &__actions{
    & > .modal-action:first-child{
      margin-right: 16px;
    }
  }
}
.modal-header{
  &__title{
    color: $blue1;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.modal-action{
  padding: 8px 16px;
  border: 1px solid #2C2C2C;
}
</style>