<template>
  <div class="notifications">
    <div class="notifications__arrow"></div>
    <!-- Notifications -->
    <div class="notifications__title">
      <span>Notifications</span>
    </div>
    <div class="notifications__list">
      <div class="notifications__item">
        <div class="notifications-item__icon"></div>
        <div class="notifications-item__content">
          <div class="notifications-item__text"></div>
          <div class="notifications-item__date"></div>
        </div>
      </div>
    </div>
    <!-- / Notifications -->

    <!-- Notifications chat -->
    <div class="notifications__title">
      <span>Chat</span>
    </div>
    <div class="notifications__list">

    </div>
    <!-- / Notifications chat -->

    <!-- Notifications activation -->
    <div class="notifications__title">
      <span>Activation</span>
    </div>
    <div class="notifications__list">

    </div>
    <!-- / Notifications activation -->
  </div>
</template>

<script setup lang="ts">

</script>

<style scoped lang="scss">
.notifications{
  width: 320px;
  background: $col-black;
  border-radius: 8px;
  border-left: 1px solid #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 1000;
  top: 90px;
  left: 20px;
  padding: 24px;
  &__arrow{
    width: 20px;
    height: 20px;
    position: absolute;
    background: $col-black;
    transform: rotate(135deg);
    top: -10px;
    left: 46px;
    z-index: -10;
  }
  &__title{
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
  }
}
</style>