<template>
<div class="search center">
  <div class="search__field space-between">
    <label for="search" class="search__field-icon center">
      <img src="/src/static/icons/search.svg" alt="search">
    </label>
    <input type="text" name="search" id="search" placeholder="Search">
  </div>
</div>
</template>

<script setup lang="ts">

</script>

<style scoped lang="scss">
.search{
  &__field{
    width: 80%;
    height: 48px;
    border-radius: 10px;
    background: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.28px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
    &-icon{
      width: 10%;
      min-width: 48px;
      img{
        width: 40%;
        min-width: 24px;
      }
    }
    input{
      border: none;
      height: 100%;
      width: 90%;
      padding: 8px 16px 8px 0;
    }
  }
}
</style>