.form{
  &-row{
    display: flex;
    width: 92%;
    margin: 0 auto 24px auto;
    justify-content: space-between;
  }
  &__title{
    height: 32px;
    margin: 0 0 24px 4%;
    span{
      color: $blue1;
      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  &__sub-title{
    height: 32px;
    margin: 0 0 24px 4%;
    span{
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;

    }
  }
  &__section{
    padding: 24px 0;
  }
  &__subtitle{
    margin-bottom: 24px;
    h2 {
      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0;
      text-align: left;
      color: $blue1;
    }
  }
}
.row{
  &-items{
    &-1 > div{
      width: 100%;
    }
    &-2 > div{
      width: 48%;
    }
    &-3 > div{
      width: 32%;
    }
  }
  &-with-photo{
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin: 0 auto 24px auto;
    &__left{
      display: flex;
      flex-direction: column;
      width: 48%;
      margin-top: 38px;
    }
    &__right{
      display: flex;
      align-items: start;
      justify-content: center;
      width: 48%;
    }
  }
}

.field{
  &-input{
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    input{
      color: #1F1A24;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.5px;
      padding: 10px 16px;
    }
    label{
      color: #1F1A24;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 8px;
    }
  }
  &-radio-btn{
    label{
      color: #1F1A24;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 8px;
    }
    &__items{
      display: flex;
      height: 44px;
      align-items: center;
    }
    &__item{
      input{
        width: 16px;
        height: 16px;
      }
      label{
        padding-left: 6px;
        text-transform: uppercase;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0.25px;
        text-align: left;
      }
      margin-right: 20px;
    }
  }
  &__icon{
    position: absolute;
    right: 14px;
    bottom: 14px;
  }
  &-btn{
    border-radius: 8px;
    padding: 16px 48px;
    span{
      color: #fff;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.25px;
      text-transform: uppercase;
    }
    &_cancel{
      border: 1px solid $col-black;
      background: none;
      span{
        color: black;
      }
    }
    &_success{
      background: $col-black;
      span{
        color: #fff;
      }
    }
  }
  &-file{
    label{
      color: #1F1A24;
      font-family: Montserrat, sans-serif;
      display: block;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 8px;
    }
    &__button{
      border-radius: 4px;
      border: 2px solid $col-black;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #1F1A24;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.5px;
      padding: 10px 16px;
    }
    img{
      margin-right: 8px;
    }
    span{
      color: $col-black;
      text-align: center;
      font-family: Inter, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
  }
  &-textarea{
    display: flex;
    flex-direction: column;
    justify-content: start;
    textarea{
      color: #1F1A24;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.5px;
      padding: 10px 16px;
      border-radius: 8px;
      border: 1px solid #232321;
    }
    label{
      color: #1F1A24;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 8px;
    }
  }
}

.avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .image{
    width: 136px;
    height: 136px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    background-position: center;
    background-size: 100%;
  }
  &-upload{
    border-radius: 8px;
    border: 1px solid #232321;
    padding: 8px 16px;
    cursor: pointer;
    label{
      cursor: pointer;
    }
  }
}
.no__image{
  background: url("/src/static/icons/modals/user/empty-avatar.svg");
}

.select {
  position: relative;
}

.form__btn_select{
  display: flex;
  flex-direction: column;
  width: 100%;
  label{
    color: #1F1A24;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 0 !important;
    margin-bottom: 8px;
  }
  input, button{
    border-radius: 8px;
    border: 1px solid var(--dark-gray, #232321);
    height: 44px;
    color: #1F1A24;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
    padding: 10px 16px;
  }
  label{
    color: #1F1A24;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.25px;
    padding-bottom: 8px;
  }
}
.select__options {
  background: #F8F8F8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  height: 200px;
  width: 100%;
  overflow: hidden;
  top: 110%;
  font-size: 14px;
  border-radius: 7px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select__options_list {
  padding: 10px 14px;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}
.select__options_item {
  cursor: pointer;
}
.select__options_item:not(:last-child) {
  margin-bottom: 10px;
}
.select__options_item:hover {
  color: #1969A9;
}
.select__touch.button-select{
  font-size: 16px;
}
.select__arrow{
  position: absolute;
  right: 20px;
  height: 20px;
}
.input__select{
  input, button{
    width: 100%;
  }
  & > img{
    position: absolute;
    right: 19px;
    top: 36px;
    width: 20px;
  }
  button > span{
    text-align: start;
  }
}
.dp__input_icon{
  left: calc(100% - 34px) !important;
  width: 25px !important;
  height: 25px !important;
  top: 50% !important;
}
.dp__input, .vue-tel-input{
  border-radius: 8px !important;
  border: 1px solid var(--dark-gray, #232321) !important;
  height: 44px !important;
  color: #1F1A24 !important;
  font-family: Montserrat, sans-serif !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 22px !important;
  letter-spacing: 0.5px !important;
  padding: 10px 16px !important;
}
.vue-tel-input{
  padding: 0 !important;
  input{
    border-radius: 8px !important;
  }
}
.dp__clear_icon{
  display: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type='number'] {
  -moz-appearance: textfield;
}
.vti__dropdown{
  position: unset !important;
}
.vti__dropdown-list.below {
  top: 68px !important;
  width: 100% !important;
}
input[disabled] {
  opacity: .6;
}