.list{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-horizontal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__titles, &__row{
    width: 100%;
    background: #FAFAFA;
    box-shadow: 0px -1px 0px 0px #E4E4EF inset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 20px;
  }
}
.list-titles{
  &__item{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    padding: 0 10px;
  }
}

.list-row{
  &__item{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    padding: 0 10px;
  }
}

// dynamic icons
.list-icon__{
  &checkbox{
    width: 24px;
    height: 24px;
    border: 1px solid $col-black;
  }
  &point{
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}