.login{
  &__form{
    padding: 40px;
    position: relative;
    width: 100%;
  }
  &__inner{
    width: 100%;
    height: 100%;
  }
  &__email, &__password, &__password_again, &__btn{
    width: 100%;
    margin-bottom: 16px;
    label{
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      display: block;
      margin-bottom: 6px;
    }
    input, button{
      font-size: 16px;
      line-height: 22px;
      padding: 10px 18px 10px 18px;
      width: 100%;
      border-radius: 8px;
      border: 1px solid var(--dark-gray, #232321);
    }
    input{
      background: none;
    }
    button{
      background: #232321;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      line-height: 27px;
      margin-top: 8px;
      cursor: pointer;
      transition: .2s ease;
      text-transform: uppercase;
      span{
        color: white;
        font-size: 16px;
      }
      &:hover{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) inset;
      }
    }
  }
  &__password_again{
    position: relative;
  }
  &__title{
    margin-bottom: 18px;
    h2{
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 32px;
      font-style: normal;
      line-height: normal;
    }
  }
  &__description{
    margin-bottom: 12px;
    text-align: center;
    span{
      font-family: 'Poppins', sans-serif;
      line-height: 17px;
      font-weight: 200;
      color: #70706E;
      font-size: 16px;
      font-style: normal;
      line-height: normal;
    }
  }
  &__routes{
    a, span{
      text-decoration: none;
      color: #999999;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      text-align: center;
    }
    a{
      transition: color .5s ease;
      &:hover{
        color: #E88A33;
      }
    }
  }
  &__back{
    position: absolute;
    right: 10px;
    top: 10px;
    a{
      width: 24px;
      height: 24px;
      display: block;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
.error__login{
  width: 100%;
  background: #CB4E48;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  span{
    color: #000000;
    text-align: center;
    font-size: 14px;
    line-height: 15px;
  }
}
.login__password{
  position: relative;
}
.eye{
  position: absolute;
  right: 20px;
  top: 33px;
  cursor: pointer;
}
.password-input{
  padding-right: 60px !important;
}
.forgot-password__code{
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 10px;
  input{
    background: #FFFFFF;
    border: 0.8px solid rgba(103, 114, 148, 0.16);
    border-radius: 12px;
    width: 54px;
    height: 54px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    color: #098C64;
  }
  input {
    appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }
  &-resend{
    text-align: center;
    color: var(--dispatching-dark-grey, #70706E);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.036px;
  }
}
.invalid__code{
  border-color: red !important;
}