.modal-fixed{
  position: fixed;
  width: 100%;
  height: 100svh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.40);
  z-index: 100000;
  &__inner{
    width: 60%;
    max-width: 1000px;
    height: 90%;
  }
}

.order-modal-driver .modal-layout__content{
  position: relative;
  z-index: 100000;
  & .select__options{
    z-index: 1000000;
  }
}