.statistic-block{
  border-radius: 16px;
  background: #FFF;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.10), 0px 1px 4px 0px rgba(0, 0, 0, 0.10) inset;
  padding: 24px;
}
.statistic-title span{
  color: $col-black;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  height: 20px;
}