.menu-item-transition-enter-from, .menu-item-transition-leave-to{
  opacity: 0;
  max-width: 0;
}
.menu-item-transition-enter-to, .menu-item-transition-leave-from{
  opacity: 1;
  max-width: 200px;
}
.menu-item-transition-enter-active, .menu-item-transition-leave-active{
  transition: all .2s;
  overflow: hidden;
  white-space: nowrap;
}

.logo-sidebar-transition-enter-from, .logo-sidebar-transition-enter-leave-to{
  opacity: 0;
}
.logo-sidebar-transition-enter-to, .logo-sidebar-transition-enter-leave-from{
  opacity: 1;
}
.logo-sidebar-transition-enter-active, .logo-sidebar-transition-leave-active{
  transition: all .1s;
}