.view{
  &__back{
    width: 50%;
    margin-bottom: 8px;
    a{
      display: flex;
      align-items: center;
      color: #FFA52F;
      font-family: MontserratRegular, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      img{
        padding-bottom: 2px;
      }
    }
  }
}