<template>
  <div class="feedback__result">
    <div class="feedback__result-item">
      <div class="feedback__result-rating">
        <div class="feedback__result-rating-top">
          <span>5.0</span>
          <img src="../../static/icons/star.svg" alt="star">
        </div>
        <div class="feedback__result-rating-bottom">
          <span>653 reviews</span>
        </div>
      </div>
    </div>
    <div class="feedback__result-item" style="justify-content: flex-start">
      <div class="feedback__result-ratings">
        <div class="feedback__result-ratings-item">
          <span>5</span>
          <img src="../../static/icons/star-small.svg" alt="star-small">
          <span class="feedback__result-ratings-item-linear" style="width: 100%"></span>
        </div>
        <div class="feedback__result-ratings-item">
          <span>4</span>
          <img src="../../static/icons/star-small.svg" alt="star-small">
          <span class="feedback__result-ratings-item-linear" style="width: 80%"></span>
        </div>
        <div class="feedback__result-ratings-item">
          <span>3</span>
          <img src="../../static/icons/star-small.svg" alt="star-small">
          <span class="feedback__result-ratings-item-linear" style="width: 60%"></span>
        </div>
        <div class="feedback__result-ratings-item">
          <span>2</span>
          <img src="../../static/icons/star-small.svg" alt="star-small">
          <span class="feedback__result-ratings-item-linear" style="width: 40%"></span>
        </div>
        <div class="feedback__result-ratings-item">
          <span>1</span>
          <img src="../../static/icons/star-small.svg" alt="star-small">
          <span class="feedback__result-ratings-item-linear" style="width: 20%"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">

</script>

<style scoped lang="scss">
.feedback__result {
  background: #fff;
  border-radius: 8px;
  padding: 24px 32px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10.5px);
  width: 100%;
  &-ratings {
    width: 195px;

    &-item {
      img {
        margin: 0px 5px;
      }
    }
  }

  &-item {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
}

.feedback__result-rating-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: #000;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 96px;
  }
}

.feedback__result-rating-bottom span {
  border-radius: 52.5px;
  background: var(--dark, #050505);
  color: #fff;
  padding: 7px 18px;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
}

.feedback__result-rating {
  margin-right: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback__result-ratings-item {
  display: flex;
  align-items: center;
}

.feedback__result-ratings-item-linear {
  border-radius: 7.5px;
  background: linear-gradient(200deg, #EC824A 0%, #F96C4E 100%);
  height: 6px;
}
</style>