<template>
  <div class="feedback__reviews-item">
    <div class="feedback__reviews-item-top">
      <div class="feedback__reviews-item-top-avatar">
        <img src="../../static/images/avatar-review.svg" alt="avatar">
      </div>
      <div class="feedback__reviews-item-top-route">
        <div>
          <span class="feedback__reviews-item-top-route-name">Salzburg <img src="../../static/icons/arrow-right.svg" alt="arrow-right"> Venice</span>
          <span class="feedback__reviews-item-top-route-id">#2342343</span>
        </div>
        <div class="feedback__reviews-item-top-route-rating">
          <div class="feedback__reviews-item-top-route-rating-item">
            <img src="../../static/icons/star-small.svg" alt="star">
          </div>
          <div class="feedback__reviews-item-top-route-rating-item">
            <img src="../../static/icons/star-small.svg" alt="star">
          </div>
          <div class="feedback__reviews-item-top-route-rating-item">
            <img src="../../static/icons/star-small.svg" alt="star">
          </div>
          <div class="feedback__reviews-item-top-route-rating-item">
            <img src="../../static/icons/star-small.svg" alt="star">
          </div>
          <div class="feedback__reviews-item-top-route-rating-item">
            <img src="../../static/icons/star-small.svg" alt="star">
          </div>
          <span>5.0</span>
        </div>
      </div>
      <div class="feedback__reviews-item-top-button">
        <button>...</button>
      </div>
    </div>
    <div class="feedback__reviews-item-middle">
      <div class="feedback__reviews-item-middle-top">
        <span class="feedback__reviews-item-middle-top-title">{{ review['title'] }}</span>
        <span class="feedback__reviews-item-middle-top-date">Aplil 9,2023</span>
      </div>
      <div class="feedback__reviews-item-middle-comment">
        The trip was quite pleasant, but the driver did tell us much when we asked a few interesting things, so he told us he didn't know. Kate M.
      </div>
    </div>
    <div class="feedback__reviews-item-bottom">
      <div class="feedback__reviews-item-bottom-info">
        <div class="feedback__reviews-item-bottom-info-item">
          <span>Ivan Pupkin</span>
          <span><img src="../../static/icons/arrow_up.svg" alt="arrow-up">12</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps({
  review: {
    default: {},
    type: Object
  }
})
</script>

<style scoped lang="scss">
.feedback__reviews {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &-item {
    background: #fff;
    border-radius: 8px;
    width: 32%;
    padding: 16px 24px;
    box-shadow: 0.9643162488937378px 0.9643162488937378px 38.57264709472656px 0px rgba(0, 0, 0, 0.10), 0.9643162488937378px 0.9643162488937378px 19.28632354736328px 0px rgba(0, 0, 0, 0.10) inset;

    &-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12.5px;

      &-avatar {
        width: 20%;

        img {
          width: 100%;
        }
      }

      &-route {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-name {
          display: flex;
          align-items: center;
          font-weight: 600;
        }

        &-id {
          color: #000;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          opacity: 0.6;
        }

        &-rating {
          display: flex;
          align-items: center;
          span {
            font-weight: 600;
            margin-left: 4px;
          }
        }
      }

      &-button {
        button {
          border-radius: 4px;
          background: rgba(35, 35, 33, 0.05);
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
        }
      }
    }

    &-middle {
      &-top {
        display: flex;
        justify-content: space-between;

        &-date {
          color: #70706E;
          font-size: 12px;
        }

        &-title {
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
        }
      }

      &-comment {
        font-size: 13px;
        opacity: 0.6;
        margin-top: 4px;
      }
    }

    &-bottom {
      margin-top: 29px;
      border-radius: 8px;
      border: 0.75px solid rgba(35, 35, 33, 0.30);
      padding: 16px;

      &-info {
        &-item {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
</style>