<template>
  <div class="invoices">
    <div class="invoices__inner wrapper-default">
      <v-filters/>
      <list-titles
          :titles="listTitles"
          :sizes="listBlockSizes"
      />
      <div
          class="list"
          v-if="isDownloadInvoices"
      >
        <div class="list__items">
          <list-invoice-row
              v-for="invoice in paginationInvoicesResult.value"
              :key="invoice.id"
              :invoice="invoice"
              :sizes="listBlockSizes"
              @click="openInvoice(invoice.id)"
          />
        </div>
        <v-pagination
            :current-items="invoices.value"
            :element-on-page="config.quantityElementsInList"
            :list-name="'invoices'"
            @select-page="setPaginationResult"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import VPagination from '../../components/list/v-pagination.vue';
import ListTitles from '../../components/list/titles.vue';
import ListInvoiceRow from '../../components/list/rows/invoice-row.vue';
import VFilters from '../../components/root/v-filters.vue';
import config from '../../middleware/config.ts';
import { onMounted, reactive, ref } from 'vue';
import invoicesService from '../../middleware/services/invoices.ts';
import { useUserStore } from '../../store/user.ts';
import {useRouter} from 'vue-router';

const router = useRouter();

const listTitles = config.invoices.list.titles;
const listBlockSizes = config.invoices.list.blockSizes;

const invoices = reactive<any>([]);
const paginationInvoicesResult = reactive<any>([]);
const isDownloadInvoices = ref<boolean>(false);
const user = useUserStore().user;

const setInvoices = () => {
  invoicesService.list(user.id).then(resp => {
    invoices.value = resp.data.orders;
    isDownloadInvoices.value = true;
  })
}

const openInvoice = (id: number) => {
  router.push({name: 'invoice', params: {id: id}})
}

onMounted(() => {
  setInvoices();
})

const setPaginationResult = (result: any[]) => {
  paginationInvoicesResult.value = result;
}
</script>

<style scoped lang="scss">
.invoices{
  &__inner{
    height: calc(100% - 124px);
  }
}
</style>