<template>
  <div class="invoice">
    <div class="invoice__inner wrapper-default">
      <div v-if="isInvoiceDownload" class="invoice__content">
        <div class="invoice__description">
          <div class="invoice-description__tittle">
            <span>Invoice</span>
          </div>
          <div class="invoice-description__company-info">
            <div class="invoice-company-info__top">
              <span>Your Company Name</span>
            </div>
            <div class="invoice-company-info__bottom">
              <div class="invoice-company-info-bottom__left">
                <span>457-581-85214-52</span>
                <span>mail@email.com</span>
                <span>Web.com</span>
              </div>
              <div class="invoice-company-info-bottom__right">
                <span>147 Urza, Miting street,</span>
                <span>City,state,Country</span>
                <span>Zip code</span>
              </div>
            </div>
          </div>
        </div>
        <div class="invoice__user-info">
          <div class="invoice-user-info__top">
            <div class="invoice-user-info__left">
              <span>Billed to</span>
              <span>John Doe</span>
              <span>Adress</span>
              <span>mail@email.com</span>
              <span>Phone number</span>
            </div>
            <div class="invoice-user-info__right">
              <span>Invoice No.</span>
              <span>#002121</span>
              <span>Date</span>
              <span>20/12/20</span>
              <span>Invoice Due Date</span>
              <span>30/12/20</span>
            </div>
          </div>
          <div class="invoice-user-info__bottom">
            <span>Thank you for your interest in our design and oppertunity to quote. we are Pleased to quote as follow </span>
          </div>
        </div>
        <hr/>
        <div class="invoice__products">
          <div class="invoice-products__titles">
            <div class="invoice-products-titles__description">
              <span>Description</span>
            </div>
            <div class="invoice-products-titles__price">
              <span>Unit Cost</span>
            </div>
            <div class="invoice-products-titles__quantity">
              <span>Qty</span>
            </div>
            <div class="invoice-products-titles__amount">
              <span>Amount</span>
            </div>
          </div>
          <div class="invoice-products__list">
            <div class="invoice-products__item">
              <div class="invoice-products-item__description">
                <span>Product Id/Name</span>
                <span>Item with the features</span>
              </div>
              <div class="invoice-products-item__price">
                <span>$200</span>
              </div>
              <div class="invoice-products-item__quantity">
                <span>5k</span>
              </div>
              <div class="invoice-products-item__amount">
                <span>$400</span>
              </div>
            </div>
          </div>
          <div class="invoice-products__list">
            <div class="invoice-products__item">
              <div class="invoice-products-item__description">
                <span>Product Id/Name</span>
                <span>Item with the features</span>
              </div>
              <div class="invoice-products-item__price">
                <span>$200</span>
              </div>
              <div class="invoice-products-item__quantity">
                <span>5k</span>
              </div>
              <div class="invoice-products-item__amount">
                <span>$400</span>
              </div>
            </div>
          </div>
          <div class="invoice-products__list">
            <div class="invoice-products__item">
              <div class="invoice-products-item__description">
                <span>Product Id/Name</span>
                <span>Item with the features</span>
              </div>
              <div class="invoice-products-item__price">
                <span>$200</span>
              </div>
              <div class="invoice-products-item__quantity">
                <span>5k</span>
              </div>
              <div class="invoice-products-item__amount">
                <span>$400</span>
              </div>
            </div>
          </div>
          <div class="invoice-products__price">
            <div class="invoice-products-price__sub-total">
              <span>SubTotal</span> <span>$1200.00</span>
            </div>
            <div class="invoice-products-price__tax">
              <span>Tax</span> <span>$200.00</span>
            </div>
            <hr/>
            <div class="invoice-products-price__total">
              <span>Invoice Total</span>
              <span>$1400.00</span>
            </div>
          </div>
        </div>
        <div class="invoice__term">
          <div class="invoice-term__title">
            <span>Invoice Term</span>
            <span>Please Pay your Invoice by</span> <span>30/12/20</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {onMounted, reactive, ref} from 'vue';
import invoicesService from '../../middleware/services/invoices.ts';
import {useRoute} from 'vue-router';

const route = useRoute();

let invoice = reactive<any>({});
let isInvoiceDownload = ref<boolean>(false);

const setInvoice = () => {
  invoicesService.getInvoice(Number(route.params.id)).then(resp => {
    console.log(resp)
    invoice.value = resp.data;
    isInvoiceDownload.value = true;
  })
}

onMounted(() => {
  setInvoice();
})
</script>

<style scoped lang="scss">
.invoice{
  &__inner{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content{
    max-width: 612px;
    width: 80%;
    height: calc(100% - 100px);
    background: white;
    border-radius: 16px;
  }
}
</style>