<template>
  <div class="countries space-between statistic-block">
    <div class="countries__map center">
      <img src="/src/static/icons/graphs/earth.svg" alt="earth">
    </div>
    <div class="countries__top column">
      <div class="countries-top__title statistic-title">
        <span>TOP Country</span>
      </div>
      <div class="countries-top__list">
        <div class="countries-top__item column"
             v-for="country in mockDataCountries"
             :key="country.name"
        >
          <div class="countries-top__item-top space-between">
            <div class="countries-top-item__name">
              <span>{{ country.name }}</span>
            </div>
            <div class="countries-top-item__quantity">
              <span>{{ country.quantityPeople }}K</span>
            </div>
          </div>
          <div class="countries-top__item-bottom">
            <div class="countries-top-item__scale countries-top-item__scale_clear"></div>
            <div class="countries-top-item__scale countries-top-item__scale_filled"
                 :style="{ 'width': country.percent + '%' }"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const mockDataCountries = [
  {
    name: 'New York',
    quantityPeople: 72,
    percent: 72
  },
  {
    name: 'San Francisco',
    quantityPeople: 39,
    percent: 45
  },
  {
    name: 'Sydney',
    quantityPeople: 25,
    percent: 50
  },
  {
    name: 'Singapore',
    quantityPeople: 61,
    percent: 62
  },
]
</script>

<style scoped lang="scss">
.countries{
  border-radius: 25px;
  &__map{
    width: 400px;
  }
  &__top{
    width: calc(100% - 440px);
  }
  &__map{
    img{
      height: 100%;
    }
  }
  &__top{
    align-items: start;
  }
}

.countries-top{
  &__title{
    height: 20px;
    span{
      font-size: 12px;
    }
  }
  &__list{
    margin-top: 16px;
    width: 80%;
    height: calc(100% - 36px);
    overflow-y: auto;
    padding-right: 10px;
  }
  &__item-top span{
    color: $col-black;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  &__item-bottom{
    position: relative;
    height: 20px;
    width: 100%;
  }
}

.countries-top-item{
  &__scale{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 4px;
    &_clear{
      opacity: 0.2;
      background: #EC824A;
    }
    &_filled{
      background: #EC824A;
    }
  }
}

@media (max-width: 1920px) {
  .countries__map{
    width: 300px;
  }
  .countries__top{
    width: calc(100% - 320px);
  }
}
@media (max-width: 1600px) {
  .countries__map{
    width: 200px;
  }
  .countries__top{
    width: calc(100% - 220px);
  }
}
@media (max-width: 1400px) {
  .countries__map{
    width: 180px;
  }
  .countries__top{
    width: calc(100% - 200px);
  }
}
</style>