<template>
  <div class="devices statistic-block">
    <div class="devices__title statistic-title">
      <span>Traffic by Device</span>
    </div>
    <div class="devices__graph column space-between">
      <div class="devices-graph__row"
           v-for="scales in mockDataScales"
           :key="scales"
      >
        <div class="devices-graph-row__count">
          <span>{{ scales }}</span>
        </div>
        <div class="devices-graph-row__line"></div>
      </div>
      <div class="devices-graph__inner space-between">
        <div class="devices-graph__item column end"
             v-for="devices in mockDataDevices"
             :key="devices.name"
        >
          <div class="devices-graph-item__scale"
               :class="devices.color"
               :style="{ 'height': 'calc(' + devices.percent + '% - 6px)' }"
          ></div>
          <div class="devices-graph-item__name">
            <span>
              {{ devices.name }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const mockDataScales = ['5M', '900K', '300K', '0'];
const mockDataDevices = [
  {
    name: 'Linux',
    percent: 40,
    color: 'blue1'
  },
  {
    name: 'Mac',
    percent: 52,
    color: 'black'
  },
  {
    name: 'iOS',
    percent: 36,
    color: 'blue2'
  },
  {
    name: 'Windows',
    percent: 64,
    color: 'black'
  },
  {
    name: 'Android',
    percent: 18,
    color: 'grey'
  },
  {
    name: 'Other',
    percent: 26,
    color: 'blue2'
  },
];

</script>

<style scoped lang="scss">
.devices{
  &__graph{
    margin-top: 16px;
    height: calc(100% - 68px);
    position: relative;
  }
}

.devices-graph{
  &__row{
    width: 100%;
    display: flex;
  }
  &__inner{
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% + 32px);
    right: 0;
    top: 0;
    padding: 0 4%;
  }
  &__item{
    width: 30px;
    height: 100%;
    align-items: center;
  }
}

.devices-graph-row{
  &__count{
    width: 40px;
    span{
      color: rgba(0, 0, 0, 0.40);
      text-align: right;
      font-family: Poppins, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }
  }
  &__line{
    width: calc(100% - 40px);
    height: 18px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
}

.devices-graph-item{
  &__scale{
    width: 18px;
    height: 60%;
    background: $col-black;
    border-radius: 4px 4px 0 0;
  }
  &__name{
    margin-top: 16px;
    span{
      color: rgba(0, 0, 0, 0.40);
      text-align: center;
      font-family: Poppins, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }
  }
}

// colors

.blue1{
  background: $blue1;
}
.blue2{
  background: $blue2;
}
.black{
  background: $col-black;
}
.grey{
  background: $grey1;
}
</style>