<template>
  <div class="locations statistic-block">
    <div class="locations__title statistic-title">
      <span>Traffic by Location</span>
    </div>
    <div class="locations__inner space-between">
      <div class="locations__graph">
        <Doughnut :data="config.graphs.doughnut.data"/>
      </div>
      <div class="locations__list column space-between">
        <div class="locations__label space-between"
             v-for="location in mockDataLocations"
        >
          <div class="locations-label__left start">
            <div class="locations-label__marker"
                 :style="{ 'background-color': location.color }"
            ></div>
            <div class="locations-label__name">
              <span>{{ location.name }}</span>
            </div>
          </div>
          <div class="locations-label__right">
            <div class="locations-label__percent">
              <span>{{ location.percent }}%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import config from '../../middleware/config.ts';
import { Doughnut } from 'vue-chartjs';

const mockDataLocations = [
  {
    name: 'United States',
    color: '#35C9FF',
    percent: 38.6,
  },
  {
    name: 'Canada',
    color: '#E7E7E3',
    percent: 22.5,
  },
  {
    name: 'Mexico',
    color: '#4370FF',
    percent: 30.8,
  },
  {
    name: 'Other',
    color: '#1C1C1C',
    percent: 14.1,
  }
];

const updateGraphData = () => {
  const data: number[] = mockDataLocations.map(el => el.percent);
  const backgroundColor: string[] = mockDataLocations.map(el => el.color);
  config.graphs.doughnut.data.datasets[0].data = data;
  config.graphs.doughnut.data.datasets[0].backgroundColor = backgroundColor;
}

updateGraphData();
</script>

<style scoped lang="scss">
.locations{
  &__inner{
    margin-top: 16px;
    width: 100%;
    height: calc(100% - 36px);
    align-items: center;
  }
  &__graph{
    width: 160px;
    margin-left: 4%;
  }
  &__list{
    width: 60%;
    height: 60%;
  }
  &__label{
    width: 80%;
  }
}

.locations-label{
  &__left, &__right{
    display: flex;
    align-items: center;
  }
  &__marker{
    width: 6px;
    height: 6px;
    background: $blue1;
    border-radius: 50%;
    margin-right: 20px;
    align-items: center;
  }
  &__name span, &__percent span{
    color: $col-black;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
}
</style>