<template>
  <div class="revenue statistic-block">
    <div class="revenue__header space-between">
      <div class="revenue-header__left space-between">
        <div class="revenue-header__title start statistic-title">
          <span>Revenue</span>
        </div>
        <div class="revenue-header__current-week start">
          <span>Current Week $58,211</span>
        </div>
        <div class="revenue-header__previous-week start">
          <span>Previous Week $68,768</span>
        </div>
      </div>
      <div class="revenue-header__right end">
        <button class="revenue-header__details">
          <img src="/src/static/icons/graphs/revenue-details.svg" alt="revenue-details">
        </button>
      </div>
    </div>
    <div class="revenue__content" ref="graphRef">
      <Line v-if="isMounted" :data="config.graphs.linear.data" :options="config.graphs.linear.options"/>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Line } from 'vue-chartjs'
import { onMounted, ref } from 'vue';
import config from '../../middleware/config.ts';

const graphRef = ref();
const isMounted = ref<boolean>(false);

const calculateAspectRatioByWidthAndHeight = (el: HTMLDataElement): number => {
  const width = el.clientWidth;
  const height = el.clientHeight;

  return width / height;
}

const setAspectRatioForGraph = (): void => {
  config.graphs.linear.options.aspectRatio = calculateAspectRatioByWidthAndHeight(graphRef.value);
}

onMounted(() => {
  setAspectRatioForGraph();
  isMounted.value = true;
})
</script>

<style scoped lang="scss">
.revenue-header{
  &__left{
    width: 80%;
    & > div {
      width: 33.333%;
    }
  }
  &__right{
    width: 20%;
  }
  &__current-week, &__previous-week{
    span{
      color: $col-black;
      font-family: Inter, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      position: relative;
      &:before{
        content: '';
        width: 6px;
        height: 6px;
        position: absolute;
        left: -14px;
        top: 6px;
        border-radius: 50%;
      }
    }
  }
  &__current-week span:before{
    background: $blue1;
  }
  &__previous-week span:before{
    background: $blue2;
  }
  &__details{
    cursor: pointer;
  }
}
.revenue__content{
  width: 100%;
  margin-top: 16px;
  height: calc(100% - 36px);
}
</style>