<template>
  <div class="statistic-card statistic-block">
    <div class="statistic-card__inner space-between">
      <div class="statistic-card__icon start">
        <img :src="icon" :alt="title">
      </div>
      <div class="statistic-card__content column space-between">
        <div class="statistic-card__title">
          <span>{{ title }}</span>
        </div>
        <div class="statistic-card__count">
          <span>{{ count }}</span>
        </div>
        <div class="statistic-card__percent">
          <span v-if="direction === 'top'" class="center">+{{ percent }}% &nbsp;<img src="../../static/icons/statistic-card/directionProgress/top.svg" alt="top"></span>
          <span v-if="direction === 'bottom'" class="center">{{ percent }}% &nbsp;<img src="../../static/icons/statistic-card/directionProgress/bottom.svg" alt="bottom"></span>
        </div>
      </div>
      <div class="statistic-card__details end">
        <img src="/src/static/icons/statistic-card/details.svg" alt="details">
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">

defineProps({
  title: {
    type: String,
    default: ''
  },
  icon: {
    default: ''
  },
  count: {
    type: Number,
    default: 0
  },
  percent: {
    type: Number,
    default: 0
  },
  direction: {
    type: String,
    default: 'top'
  },
})
</script>

<style scoped lang="scss">
.statistic-card{
  width: 23%;
  height: 100%;
  padding: 24px 21px;
  &__inner{
    display: flex;
  }
  &__icon{
    width: 45%;
    img{
      width: 80px;
      height: 80px;
    }
  }
  &__content{
    width: 45%;
  }
  &__title span {
    color: $col-black;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  &__details{
    width: 10%;
    display: flex;
    align-items: start;
    img{
      width: 20px;
      cursor: pointer;
    }
  }
  &__percent{
    span{
      max-width: 90px;
      border-radius: 4px;
      background: var(--black-5, rgba(0, 0, 0, 0.05));
      padding: 2px;
      flex-wrap: nowrap;
      color: $col-black;
      font-family: Inter, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }
  &__count span{
    color: $col-black;
    font-family: PoppinsBold, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}
</style>