<template>
  <div class="websites statistic-block">
    <div class="websites__title statistic-title">
      <span>Traffic by Website</span>
    </div>
    <div class="websites__list">
      <div class="websites__item space-between"
           v-for="website in mockDataWebsites"
           :key="website.name"
      >
        <div class="websites-item__left start">
          <div class="websites-item__name">
            <span>{{ website.name }}</span>
          </div>
        </div>
        <div class="websites-item__right start">
          <div class="websites-item__scale"
               :style="{ width: website.percent + '%' }"
               :class="website.color"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const mockDataWebsites = [
  {
    name: 'Google',
    percent: 100,
    color: 'black'
  },
  {
    name: 'Youtube',
    percent: 60,
    color: 'black'
  },
  {
    name: 'Instagram',
    percent: 80,
    color: 'blue'
  },
  {
    name: 'Pinterest',
    percent: 90,
    color: 'black'
  },
  {
    name: 'Facebook',
    percent: 40,
    color: 'black'
  },
  {
    name: 'Twitter',
    percent: 20,
    color: 'black'
  },
]

</script>

<style scoped lang="scss">
.websites{
  &__list{
    margin-top: 16px;
    height: calc(100% - 36px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item{
    align-items: center;
  }
}

.websites-item{
  &__left{
    width: 80px;
  }
  &__right{
    width: calc(100% - 80px);;
  }
  &__name{
    color: $col-black;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  &__scale{
    height: 6px;
    width: 80%;
    background: $col-black;
    border-radius: 0 3px 3px 0;
    position: relative;
    &:before{
      content: '';
      height: 12px;
      width: 2px;
      position: absolute;
      background: $col-black;
      left: -2px;
      top: -3px;
    }
  }
}

// colors

.blue{
  background: $blue1;
}
</style>