<template>
  <div class="fleets">
    <div class="fleets__inner wrapper-default">
      <v-nav-bar
          :nav-bar-data="config.fleets.navBarItemsList"
          :current-page="fleetType"
          :theme="'filled'"
          @select-page="changePageWithNavBar($event)"
      />
      <v-filters
          @add-element="router.push('/fleets/new')"
      />
      <list-titles
          :titles="listTitles"
          :sizes="listBlockSizes"
      />
      <div
          class="list"
          v-if="isDownloadFleets"
      >
        <div class="list__items">
          <list-user-row
              v-for="user in fleets.value"
              :key="user.id"
              :user="getCorrectData(user)"
              :sizes="listBlockSizes"
              :isCustomers="false"
              @click="openFleet(user.id)"
          />
        </div>
        <v-pagination-on-server
            :list-name="'fleets'"
            :count-pages="countPages"
            :quantity-items="quantityItems"
            @select-page="setPaginationResult"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import VPaginationOnServer from '../../components/list/v-pagination-on-server.vue';
import ListTitles from '../../components/list/titles.vue';
import ListUserRow from '../../components/list/rows/user-row.vue';
import VFilters from '../../components/root/v-filters.vue';
import config from '../../middleware/config.ts';
import { onMounted, reactive, ref } from 'vue';
import fleetsService from '../../middleware/services/fleets.ts';
import VNavBar from '../../components/root/v-nav-bar.vue';
import {useRoute, useRouter} from 'vue-router';

const listTitles = config.user.list.titles;
const listBlockSizes = config.user.list.blockSizes;

const router = useRouter();
const route = useRoute();

const fleets = reactive<any>([]);
const paginationFleetsResult = reactive<any>([]);
const isDownloadFleets = ref<boolean>(false);

const countPages = ref<number>(0);
const quantityItems = ref<number>(0);

let fleetType = ref<string>(route.params.fleetType.toString());

const setFleets = (page: number) => {
  fleets.value = [];
  fleetsService.list(page, config.fleets.roleIdByPageName[fleetType.value]).then(resp => {
    countPages.value = resp.data.last_page;
    quantityItems.value = resp.data.total;
    fleets.value = resp.data.data;
    isDownloadFleets.value = true;
  })
}

const openFleet = (fleetId: number) => {
  router.push({name: 'fleet', params: {id: fleetId}})
}

const changePageWithNavBar = (pageName: string) => {
  fleets.value = [];
  paginationFleetsResult.value = [];
  isDownloadFleets.value = false;
  router.replace({ params: { fleetType: pageName }, query: {page: 1} });
  fleetType.value = pageName;
  setFleets(1);
}

const getCorrectData = (data: any) => {
  return {
    id: data.id,
    first_name: data.profile?.first_name || '',
    last_name: data.profile?.last_name || '',
    email: data.email,
    phone: data.phone,
    country: {iso2: data.profile?.country || ''},
    state: data.status,
    created_at: data.created_at,
    comment: ''
  }
}

onMounted(() => {
  if (!route.query.page) {
    router.replace({query: {page: 1}});
    setFleets(1);
  } else {
    setFleets(1);
  }
})

const setPaginationResult = (page: any) => {
  setFleets(page);
}
</script>

<style scoped lang="scss">
.fleets{
  &__inner{
    height: calc(100% - 178px);
  }
}
</style>