<template>
  <div class="partner">
    <div class="partner__inner wrapper-default">
      <div class="view__back">
        <router-link to="/fleets/all"><img src="../../static/icons/form/back.svg" alt="back">Back to partners list</router-link>
      </div>
      <modal-new-fleet
          class="modal-fixed__inner"
          :title="'New partner'"
          :banner="bannerForModalUser"
          @close-modal="closeUserModal()"
          @success-modal="addFleet"
      />
    </div>
  </div>

</template>

<script setup lang="ts">
import ModalNewFleet from '../../components/modals/newFleet.vue';
import router from '../../router';
import fleetsService from '../../middleware/services/fleets.ts';
import {useAppStore} from '../../store/app.ts';

const bannerForModalUser = new URL('../../static/images/user/modal-illustration-driver.svg', import.meta.url);

const closeUserModal = () => {
  router.push('/fleets/all');
}

const addFleet = (formData: any) => {
  useAppStore().isLoad = true;
  const data = new FormData;
  data.append('user', JSON.stringify({
    first_name: formData.profile.firstName,
    last_name: formData.profile.lastName,
    phone: formData.profile.phone,
    day_of_birth: formData.profile.dateOfBirth,
    email: formData.profile.email,
  }))
  data.append('profile', JSON.stringify({
    first_name: formData.profile.firstName,
    last_name: formData.profile.lastName,
    gender: formData.profile.gender,
    whatsapp: formData.profile.whatsapp,
    country: formData.profile.address.country,
    city: formData.profile.address.city,
    address: formData.profile.address.address,
    postal_code: formData.profile.address.postalCode,
  }));
  data.append('company', JSON.stringify({
    name: formData.company.name,
    email: formData.company.email,
    represent_first_name: formData.company.represent.firstName,
    represent_last_name: formData.company.represent.lastName,
    represent_day_of_birth: formData.company.represent.dateOfBirth,
    represent_country: formData.company.represent.countryResidence,
    address_country: formData.company.address.country,
    address_city: formData.company.address.city,
    address_address: formData.company.address.address,
    address_postal_code: formData.company.address.postalCode,
    head_country: formData.company.headquarters.country,
    head_city: formData.company.headquarters.city,
    head_address: formData.company.headquarters.address,
    head_postal_code: formData.company.headquarters.postalCode,
    billing_country: formData.billing.country,
    vat: formData.billing.vat,
    billing_company: formData.billing.companyId,
    iban: formData.billing.iban,
  }));
  data.append('passport', formData.profile.documents.personalId);
  data.append('driver_licence', formData.profile.documents.drivingLicense);
  data.append('criminal_check', formData.profile.documents.criminalCheck);
  data.append('photo', formData.profile.documents.photo);
  data.append('license', formData.company.documents.license);
  data.append('certified', formData.company.documents.certified);
  fleetsService.add(data).then(resp => {
    if (resp.data) {
      router.push('/fleets/all');
    }
  }).finally(() => {
    useAppStore().isLoad = false;
  })
}
</script>

<style scoped lang="scss">
.partner{
  &__inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
</style>