<template>
  <div class="fleet">
    <div class="fleet__inner wrapper-default">
      <div class="view__back">
        <router-link to="/fleets/all"><img src="../../static/icons/form/back.svg" alt="back">Back to fleets list</router-link>
      </div>
      <div v-if="isFleetDownload" class="fleet__content">
        <v-user-details
            :user="fleet.value"
            :modal="'user'"
            @success="onSuccess"
        />
        <div class="fleet__items">
          <v-user-orders
              class="fleet__orders"
          />
          <v-user-feedbacks
              class="fleet__feedbacks"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import VUserDetails from '../../components/user/v-details.vue';
import VUserOrders from '../../components/user/v-orders.vue';
import VUserFeedbacks from '../../components/user/v-feedbacks.vue';
import fleetsService from '../../middleware/services/fleets.ts';
import {onMounted, reactive, ref} from 'vue';
import {useRoute} from 'vue-router';

const route = useRoute();

let fleet = reactive<any>({});
let isFleetDownload = ref<boolean>(false);

const onSuccess = (data) => {
  fleetsService.update(fleet.value.id, data)
}

const setFleet = () => {
  const handleApiPath = (path) => {
    return path ? 'https://api.drivermytripline.com' + path : ''
  }

  fleetsService.getFleet(Number(route.params.id)).then(resp => {
    fleet.value = {
      id: resp.data.id,
      // avatar: ('https://api.drivermytripline.com/storage/profiles/' + resp.data.id + '/' + ) || '',
      avatar: handleApiPath(resp.data.profile?.photo) || '',
      email: resp.data.email || '',
      phone: resp.data.phone || '',
      status: resp.data.status || 'new',
      country: resp.data.profile?.country || '',
      city: resp.data.profile?.city || '',
      day_of_birth: resp.data.day_of_birth || '',
      firstName: resp.data.profile?.first_name || '',
      lastName: resp.data.profile?.last_name || '',
      // gender: resp.data.profile?.gender || '',
      gender: resp.data.gender || '',
      address: resp.data.profile.address || '',
      postal_code: resp.data.profile.address || '',
      whatsapp: resp.data.profile?.whatsapp || '',
      address_country: resp.data.company?.address_country || '',
      address_city: resp.data.company?.address_city || '',
      address_address: resp.data.company?.address_address || '',
      address_postalCode: resp.data.company?.address_postal_code || '',
      billing_country: resp.data.company?.billing_country || '',
      billing_cardName: resp.data.company?.vat || '',
      billing_cardNumber: resp.data.company?.iban || '',
      billing_bankHolder: resp.data.company?.bank_holder_name || '',
      billing_note: '',
      fleet_size: resp.data.profile.fleet_size,
      documents_personalId: handleApiPath(resp.data.profile?.passport) || null,
      documents_drivingLicense: handleApiPath(resp.data.profile?.driver_licence) || null,
      documents_criminalCheck: handleApiPath(resp.data.profile?.criminal_check) || null,
      documents_other: handleApiPath(resp.data.profile?.other) || null,
      company: {
        ...resp.data.company,
        licence: handleApiPath(resp.data.company?.licence),
        certified: handleApiPath(resp.data.company?.certified),
      },
      profile: {
        agreement_file_path: handleApiPath(resp.data.profile?.agreement_file_path),
      },
    };
  }).finally(() => {
    isFleetDownload.value = true;
  })
}

onMounted(() => {
  setFleet();
})
</script>

<style scoped lang="scss">
.fleet{
  &__inner{
    height: 100%;
  }
  &__content{
    height: calc(100% - 34px);
  }
  &__items{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
  &__orders{
    margin-right: 8px;
  }
  &__orders, &__feedbacks{
    width: 50%;
  }
}
</style>
