<template>
  <div class="drivers">
    <div class="drivers__inner wrapper-default">
      <v-filters
          @add-element="router.push('/drivers/new')"
      />
      <list-titles
          :titles="listTitles"
          :sizes="listBlockSizes"
      />
      <div
          class="list"
          v-if="isDownloadDrivers"
      >
        <div class="list__items">
          <list-user-row
              v-for="driver in paginationDriversResult.value"
              :key="driver.id"
              :user="driver"
              :sizes="listBlockSizes"
              :isCustomers="false"
              @click="openDriver(driver.id)"
          />
        </div>
        <v-pagination
            :current-items="drivers.value"
            :element-on-page="config.quantityElementsInList"
            :list-name="'drivers'"
            @select-page="setPaginationResult"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import VPagination from '../../components/list/v-pagination.vue';
import ListTitles from '../../components/list/titles.vue';
import ListUserRow from '../../components/list/rows/user-row.vue';
import VFilters from '../../components/root/v-filters.vue';
import config from '../../middleware/config.ts';
import {onMounted, reactive, ref} from 'vue';
import driversService from '../../middleware/services/drivers.ts';
import router from '../../router';

const listTitles = config.user.list.titles;
const listBlockSizes = config.user.list.blockSizes;

const drivers = reactive<any>([]);
const paginationDriversResult = reactive<any>([]);
const isDownloadDrivers = ref<boolean>(false);

const setDrivers = () => {
  driversService.list().then(resp => {
    drivers.value = resp.data;
    isDownloadDrivers.value = true;
  })
}

const openDriver = (driverId: number) => {
  router.push({name: 'driver', params: {id: driverId}});
}

onMounted(() => {
  setDrivers();
})

const setPaginationResult = (result: any[]) => {
  paginationDriversResult.value = result;
}
</script>

<style scoped lang="scss">
.drivers {
  &__inner {
    height: calc(100% - 124px);
  }
}
</style>