<template>
  <div class="driver">
    <div class="driver__inner wrapper-default">
      <div class="view__back">
        <router-link to="/drivers"><img src="../../static/icons/form/back.svg" alt="back">Back to drivers list</router-link>
      </div>
      <modal-user
          class="modal-fixed__inner"
          :title="'New driver'"
          :banner="bannerForModalUser"
          :current-permission="'Driver'"
          @click.stop
          @close-modal="closeUserModal()"
          @success-modal="addDriver"
      />
    </div>
  </div>

</template>

<script setup lang="ts">
import ModalUser from '../../components/modals/user.vue';
import router from '../../router';
import {useAppStore} from "../../store/app.ts";
import driversService from "../../middleware/services/drivers.ts";

const bannerForModalUser = new URL('../../static/images/user/modal-illustration-driver.svg', import.meta.url);

const addDriver = (formData: any) => {
  useAppStore().isLoad = true;
  let data = new FormData;
  data.append('driver', JSON.stringify({
    role_id: formData.permissions,
    first_name: formData.firstName,
    last_name: formData.lastName,
    phone: formData.phone,
    day_of_birth: formData.dateOfBirth,
    email: formData.email,
    gender: formData.gender,
    whatsapp: formData.whatsapp,
    country_id: formData.address.country.id,
    city_id: formData.address.city.id,
    address: formData.address.address,
    postal_code: formData.address.postalCode,
    billing_country_id: formData.billing.country.id,
    billing_card_name: formData.billing.cardName,
    billing_card_number: formData.billing.cardNumber,
    billing_note: formData.billing.note,
  }));
  data.append('personal', formData.documents.personalId);
  data.append('licence', formData.documents.drivingLicense);
  data.append('criminal_check', formData.documents.criminalCheck);
  data.append('photo', formData.documents.photo);
  driversService.add(data).then(resp => {
    console.log(resp.data);
    if (resp.data.status) {
      router.push('/drivers');
    }
  }).finally(() => {
    useAppStore().isLoad = false;
  })
}

const closeUserModal = () => {
  router.push('/drivers');
}
</script>

<style scoped lang="scss">
.driver{
  &__inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
</style>