<template>
  <div class="driver">
    <div class="driver__inner wrapper-default">
      <div class="view__back">
        <router-link to="/drivers"><img src="../../static/icons/form/back.svg" alt="back">Back to drivers list
        </router-link>
      </div>
      <modal-driver
          v-if="isDownloadDriver"
          class="modal-driver"
          :title="'Driver'"
          :driver="driver.value"
          @success-modal="editDriver"
      />
    </div>
  </div>

</template>

<script setup lang="ts">
import ModalDriver from '../../components/modals/driver.vue';
import {useRoute} from 'vue-router';
import driversService from '../../middleware/services/drivers.ts';
import {onMounted, reactive, ref} from 'vue';
import {useAppStore} from '../../store/app.ts';

const route = useRoute();

const driver = reactive<any>({});
const isDownloadDriver = ref<boolean>(false);

const getDriver = () => {
  driversService.getDriver(Number(route.params.id)).then(resp => {
    driver.value = resp.data;
    isDownloadDriver.value = true;
  });
}

const editDriver = (formData: any) => {
  useAppStore().isLoad = true;
  const data = new FormData;
  data.append('id', route.params.id.toString())
  data.append('driver', JSON.stringify({
    state: formData.state,
    first_name: formData.firstName,
    last_name: formData.lastName,
    phone: formData.phone,
    email: formData.email,
    country_id: formData.country?.id || 0,
    city_id: formData.city?.id || 0,
  }))
  data.append('personal', formData.personalId);
  data.append('licence', formData.licence);
  data.append('criminalCheck', formData.criminalCheck);
  data.append('photo', formData.photo);
  driversService.edit(data).then(resp => {
    if (resp.data.status) {
      driver.value = resp.data.driver;
    }
  }).finally(() => {
    useAppStore().isLoad = false;
  })
}

onMounted(() => {
  getDriver();
})

</script>

<style scoped lang="scss">
.driver {
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.view__back {
  width: 100%;
}

.modal-driver {
  width: 100%;
  height: calc(100% - 34px);
}
</style>
