<template>
  <div class="field-file">
    <label for="personalId">{{ label }}</label>
    <input :disabled="fileLink" type="file" id="personalId" style="display: none" @change="emit('change', $event)">
    <label for="personalId" class="field-file__button">
      <img v-if="!fileLink" src="../../../static/icons/fields/upload.svg" alt="upload">
      <span v-if="!fileLink">Upload  New</span>
      <img v-if="fileLink" src="../../../static/icons/fields/upload-success.svg" alt="upload">
      <a v-if="fileLink" :href="fileLink" download target="_blank">
        <span>Download</span>
      </a>
    </label>
  </div>
</template>

<script setup>
const props = defineProps(['label', 'fileLink'])

const emit = defineEmits(['change'])
</script>
