<template>
  <div class="filters">
    <button
        class="filters__item"
        @click="addElement"
    >
      <img src="/src/static/icons/filters/Add.svg" alt="">
    </button>
    <div class="filters__item">
      <img src="/src/static/icons/filters/FunnelSimple.svg" alt="">
    </div>
    <div class="filters__item">
      <img src="/src/static/icons/filters/Sort.svg" alt="">
    </div>
    <div class="filters__item">
      <img src="/src/static/icons/filters/DotsVertical.svg" alt="">
    </div>
  </div>
</template>

<script setup lang="ts">
const emits = defineEmits(['addElement']);

const addElement = () => {
  emits('addElement');
}

</script>

<style scoped lang="scss">
  .filters {
    border-radius: 8px;
    background: $grey2;
    margin-bottom: 20px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 13px;
    &__item {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 4px;
      margin-right: 8px;
    }
  }
</style>