<template>
  <div class="footer" :class="theme">
    <div class="footer__inner wrapper-default space-between">
      <div class="footer__left">
        <div class="footer-left__company-name">
          <span>© 2023 - mytripline</span>
        </div>
      </div>
      <div class="footer__right space-between">
        <div class="footer-right__about">
          <span>About</span>
        </div>
        <div class="footer-right__policy">
          <span>Policy</span>
        </div>
        <div class="footer-right__contact">
          <span>Contact</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps({
  theme: {
    default: 'light-page',
    type: String
  }
})
</script>

<style scoped lang="scss">
.footer{
  height: 45px;
  &__inner{
    border-top: solid #23232133 1px;
    height: 100%;
    display: flex;
    align-items: center;
    span{
      color: rgba(44, 44, 44, 0.80);
      text-align: center;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  &__left{
    width: calc(100% - 200px);
  }
  &__right{
    width: 200px;
  }
}

// themes

.dark-page, .grey-page {
  .footer__inner {
    border-color: rgba(255, 255, 255, 0.20);
    span {
      color: rgba(243, 243, 243, 0.80);;
    }
  }
}
</style>