<template>
  <div class="header" :class="getThemeHeader + '-header'">
    <div class="header__inner wrapper-default">
      <div class="header__title">
        <h1>{{ getTitle }}</h1>
        <span>{{ getSubTitle }}</span>
      </div>
      <v-search
          class="header__search"
      />
      <div class="header__right end">
        <div class="header__notifications" ref="headerNotificationsRef">
          <button class="header__notifications-btn" @click="toggleNotificationsVisibleStatus">
            <img v-if="getThemeHeader === 'light' || getThemeHeader === 'clear'" src="/src/static/icons/header/bell-dark.svg" alt="bell">
            <img v-else src="/src/static/icons/header/bell-light.svg" alt="bell">
          </button>
          <v-notifications
              v-if="isNotificationsVisible"
              class="notifications"
              ref="notificationsRef"
          />
        </div>
        <div class="header__user space-between">
          <div class="header-user__name center">
            <span>{{ user['profile']['first_name'] }} {{ user['profile']['last_name'] }}</span>
          </div>
          <div class="header-user__avatar">
            <img :src="getAvatar()" alt="avatar">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useRoute } from 'vue-router';
import VSearch from '../header/v-search.vue';
import { computed, ref } from 'vue';
import VNotifications from '../header/v-notifications.vue';
import useClickOutside from '../../middleware/helpers/useClickOutside.ts';
import {useUserStore} from '../../store/user.ts';

const route = useRoute();
const isNotificationsVisible = ref<boolean>(false);
const notificationsRef = ref<HTMLDataElement>();
const headerNotificationsRef = ref<HTMLDataElement>();
const user = useUserStore().user;

const getTitle = computed(() => route.meta.title ?? route.name);
const getSubTitle = computed(() => route.meta.subtitle ?? '');
const getThemeHeader = computed(() => route.meta.themeHeader ?? 'default');

const getAvatar = () => import.meta.env.VITE_APP_IMG_LINK + 'profiles/' + user.id + '/' + user['profile']['photo'];

const toggleNotificationsVisibleStatus = () => {
  isNotificationsVisible.value = !isNotificationsVisible.value;
};

const closeNotifications = (): void => {
  isNotificationsVisible.value = false;
}

useClickOutside(notificationsRef, closeNotifications, headerNotificationsRef);

</script>

<style scoped lang="scss">
.header{
  width: 100%;
  background: $col-black;
  position: relative;
  z-index: 1000;
  &__inner{
    height: 96px;
    padding: 20px 0;
    display: flex;
    align-items: center;
  }
  &__title{
    h1{
      &:first-letter{
        text-transform: capitalize;
      }
      color: white;
    }
    span{
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  &__title, &__search, &__right{
    width: 33.333%;
    align-items: center;
  }
  &__notifications{
    position: relative;
    &-btn{
      width: 24px;
      height: 24px;
      cursor: pointer;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}

.header-user{
  &__name{
    margin: 0 14px 0 28px;
    display: flex;
    align-items: center;
    span{
      color: white;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.256px;
    }
  }
  &__avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
}

.notifications{
  position: absolute;
  left: -44px;
  top: 90px;
}

// Themes
.light-header{
  background: none;
  h1, span{
    color: black;
  }
}

.light-header .notifications{
  position: absolute;
  left: -44px;
  top: 60px;
}

.clear-header{
  background: none;
  h1, span{
    color: black;
  }
}
</style>