<template>
  <div class="nav-bar" :class="theme">
    <div class="nav-bar__list" :style="{ width: getSizeString() }">
      <div class="nav-bar__item"
           v-for="navBarItem in navBarItemsList"
           :key="navBarItem.name"
           :class="{ 'nav-bar__item_active': navBarItem.status }"
           @click="selectPage(navBarItem.pageName)"
      >
        <span>{{ navBarItem.name }}</span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {reactive} from 'vue';

const emits = defineEmits(['selectPage']);
const props = defineProps({
  currentPage: {
    default: 'all',
    type: String
  },
  navBarData: {
    default: [],
    type: Array
  },
  theme: {
    default: '',
    type: String
  },
  size: {
    default: null,
    type: Number
  }
})

const navBarItemsList = reactive<any[]>(props.navBarData);

const getSizeString = (): string => {
  return props.size !== null ? props.size.toString() + 'px' : '';
}

const selectPage = (pageName: string) => {
  cancelStatusesNavBar();
  setStatusNavBarByPageName(pageName);
  emits('selectPage', pageName);
}

const cancelStatusesNavBar = () => {
  for (let i = 0; i < navBarItemsList.length; i++) {
    navBarItemsList[i].status = false;
  }
}

const setStatusNavBarByPageName = (pageName: string) => {
  for (let i = 0; i < navBarItemsList.length; i++) {
    if (navBarItemsList[i].pageName === pageName) {
      navBarItemsList[i].status = true;
      break;
    }
  }
}

cancelStatusesNavBar();
setStatusNavBarByPageName(props.currentPage);

</script>

<style scoped lang="scss">
.nav-bar{
  height: 34px;
  margin-bottom: 16px;
  &__list{
    display: flex;
    height: 100%;
  }
  &__item{
    height: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #D2D1D3;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 3px;
    }
    span{
      color: #4C4850;
      font-family: Inter, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.1px;
    }
    transition: all .2s;
    &_active{
      border-bottom: 1px solid $blue1;
      span{
        color: $blue1;
      }
    }
  }
}

// themes

.filled{
  height: 38px;
  .nav-bar{
    &__list{
      width: 630px;
      background: #FAFAFA;
      justify-content: space-between;
      border-radius: 16px;
    }
    &__item{
      border-radius: 16px;
      border: none;
      span{
        color: var(--Dispatching-Black, #2C2C2C);
        text-align: center;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.1px;
      }
      &_active{
        background: $blue1;
        span{
          color: #FAFAFA;
        }
      }
    }
  }
}

</style>