<template>
<aside class="sidebar" :class="{ '_small-sidebar': !isOpen }">
  <div class="sidebar__header">
    <div class="sidebar__header-logo">
      <transition name="logo-sidebar-transition" mode="out-in">
        <img v-if="isOpen" src="../../static/icons/logo.svg" alt="logo">
        <img v-else src="../../static/icons/logo-small.svg" alt="logo">
      </transition>
    </div>
    <button class="sidebar__header-close" @click="isOpen = !isOpen">
      <img v-if="isOpen" src="../../static/icons/sidebar/close.svg" alt="close">
      <img v-else src="../../static/icons/sidebar/open.svg" alt="close">
    </button>
  </div>
  <div class="sidebar__inner">
    <div class="sidebar__menu">
      <button class="sidebar__menu-item sidebar-item"
              @click="selectMenuItem(menuItem.path)"
              v-for="menuItem in menu"
              :key="menuItem.name"
              :class="{ 'active': menuItem.path === activeLink }"
      >
        <img v-if="getMenuItemActiveStatus(menuItem)" :src="menuItem.iconOpened" alt="icon">
        <img v-else :src="menuItem.iconClosed" alt="icon">
        <transition name="menu-item-transition">
          <span v-if="isOpen">{{ menuItem.name }}</span>
        </transition>
      </button>
    </div>
    <hr/>
    <div class="sidebar__footer">
      <button class="sidebar__footer-item sidebar-item"
              v-for="footerItem in menuFooter"
              :key="footerItem.name"
              @click="selectMenuItem(footerItem.path, footerItem.action)"
              :class="{ 'active': footerItem.path === activeLink }"
      >
        <img v-if="getMenuFooterItemActiveStatus(footerItem)" :src="footerItem.iconOpened" alt="icon">
        <img v-else :src="footerItem.iconClosed" alt="icon">
        <transition name="menu-item-transition">
          <span v-if="isOpen">{{ footerItem.name }}</span>
        </transition>
      </button>
    </div>
  </div>
</aside>
</template>

<script setup lang="ts">
import config from '../../middleware/config.ts';
import {useRoute, useRouter} from 'vue-router';
import { ref } from 'vue';

const router = useRouter();
const route = useRoute();
const menu = config.menu;
const menuFooter = config.menuFooter;
const isOpen = ref<boolean>(true);
const activeLink = ref<string|null>(route.path === '/' ? '/dashboard' : route.path); // Если открыли с корня, то выбираем /dashboard

const selectMenuItem = (path: string|null, action: any=null) => {
  // Развилка переадресация|событие
  activeLink.value = path;
  if (path !== null) {
    router.replace(path);
  }
  if (action !== null) {
    action(router);
  }
}

const getMenuItemActiveStatus = (menuItem: MenuItem) : boolean => {
  return activeLink.value !== null ? (menuItem.rootPath !== undefined ? activeLink.value.indexOf(menuItem.rootPath) >= 0 : activeLink.value.indexOf(menuItem.path) >= 0) : false;
}

const getMenuFooterItemActiveStatus = (menuFooterItem: MenuFooterItem) : boolean => {
  return activeLink.value !== null && menuFooterItem.path !== null ? activeLink.value.indexOf(menuFooterItem.path) >= 0 : false;
}

</script>

<style scoped lang="scss">
.sidebar{
  width: 14%;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-shrink: 0;
  background: var(--dispatching-white, #FFF);
  box-shadow: 4px 1px 4px 0px rgba(0, 0, 0, 0.12);
  height: 100vh;
  transition: all .5s;
  position: relative;
  z-index: 100;

  &__inner{
    padding: 30px 0 40px 0;
  }

  &__header{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: end;
    &-close{
      margin-left: 12%;
      cursor: pointer;
      transition: all .2s;
    }
    &-logo{
      max-width: 72%;
      img{
        width: 100%;
      }
    }
  }

  &-item{
    padding: 6px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    span{
      color: $font-color-grey;
      margin-left: 10px;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: -0.28px;
    }
    img{
      width: 22px;
      height: 22px;
    }
  }

  hr{
    margin: 40px 0;
    background: rgba(44, 44, 44, 0.10);
    height: 1px;
    border: none;
  }

  &__header-close{
    border-radius: 6px 0 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dispatching-black, #2C2C2C);
    width: 14px;
    height: 44px;
    padding-left: 2px;
    img{
      width: 14px;
      height: 40px;
    }
  }
}

._small-sidebar{
  width: 6%;
  max-width: 100px;
  min-width: 80px;
  transition: all .5s;
  .sidebar__header-close{
    margin-left: 14%;
  }
}

.sidebar-item.active span{
  color: $col-black;
}
</style>