<template>
  <div class="load-api" v-if="useAppStore().isLoad">
    <img class="loader" src="./static/images/loader.png" alt="loader">
  </div>
  <router-view
      :page-theme="getPageTheme"
  />
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { useAppStore } from './store/app.ts';
import authService from './middleware/services/auth.ts';
import {useUserStore} from './store/user.ts';

const router = useRouter();
const route = useRoute();

const getPageTheme = computed((): string => {
  return route.meta.themePage && typeof route.meta.themePage === 'string' ? route.meta.themePage + '-page' : 'light-page';
})

const auth = () => {
  useAppStore().setLoadStatus(true);
  const token = localStorage.getItem('token');
  authService.auth(token).then(resp => {
    if (resp.data.status) {
      useUserStore().setUser(resp.data.user);
      if (!route.matched[0].meta.isAuth || route.path === '/') {
        router.replace('/dashboard');
      }
    } else {
      router.replace('/auth/login');
    }
  }).finally(() => {
    useAppStore().setLoadStatus(false);
    useAppStore().hasAuthorizationCompleted();
  })
}

auth()

</script>
