<template>
  <div class="orders">
    <div class="orders__inner wrapper-default">
      <v-nav-bar
          @selectPage="changeOrderType"
          :current-page="orderType"
          :nav-bar-data="config.orders.navBarItemsList"
      />
      <v-filters
          @add-element="openAddOrder()"
      />
      <list-titles
          :titles="listTitles"
          :sizes="listBlockSizes"
      />
      <div
          class="list"
          v-if="isDownloadOrders"
      >
        <div class="list__items">
          <list-order-row
              v-for="order in paginationOrdersResult.value"
              :key="order.id"
              :order="order"
              :sizes="listBlockSizes"
              @click="openOrder(order.id)"
          />
        </div>
        <v-pagination
            :current-items="orders.value"
            :element-on-page="config.quantityElementsInList"
            :list-name="'orders'"
            @select-page="setPaginationResult"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import VNavBar from '../../components/root/v-nav-bar.vue';
import config from '../../middleware/config.ts';
import ListOrderRow from '../../components/list/rows/order-row.vue';
import ordersService from '../../middleware/services/orders.ts';
import { reactive, ref } from 'vue';
import ListTitles from '../../components/list/titles.vue'
import VFilters from '../../components/root/v-filters.vue';
import { useRoute, useRouter } from 'vue-router';
import VPagination from '../../components/list/v-pagination.vue';

const router = useRouter();
const route = useRoute();

const listTitles = config.orders.list.titles;
const listBlockSizes = config.orders.list.blockSizes;

let orders = reactive<any>([]);
let paginationOrdersResult = reactive<any>([]);
let orderType = ref<string>(route.params.orderType.toString());
let isDownloadOrders = ref<boolean>(false);

const openAddOrder = () => {
  router.push({name: 'orderNew'});
}

const getOrderTypes = () :Promise<any> => {
  return ordersService.list();
}

const setAllOrders = () => {
  getOrderTypes().then(resp => {
    orders.value = getAllOrdersByOrdersTypes(resp.data);
    isDownloadOrders.value = true;
  })
}

const getAllOrdersByOrdersTypes = (orderTypes: any): any[] => {
  let result :any[] = [];
  for (let orderType in orderTypes) {
    result = result.concat(orderTypes[orderType]);
  }
  return result;
}

const setOrdersByType = (): void => {
  ordersService.listByOrderType(orderType.value).then(resp => {
    orders.value = Object.values(resp.data);
    isDownloadOrders.value = true;
  });
}

const changeOrderType = (type: string) => {
  orders.value = [];
  paginationOrdersResult.value = [];
  isDownloadOrders.value = false;
  orderType.value = type;
  router.replace({ params: { orderType: type } });
  setCurrentOrders();
}

const setCurrentOrders = () => {
  if (orderType.value === 'all') {
    setAllOrders();
  } else {
    setOrdersByType();
  }
}

const setPaginationResult = (result: any[]) => {
  paginationOrdersResult.value = result;
}

const openOrder = (orderId: number): void => {
  router.push({name: 'order', params: {id: orderId}});
}

setCurrentOrders();
</script>

<style scoped lang="scss">
.orders{
  &__inner{
    height: calc(100% - 174px);
  }
}
</style>
