<template>
  <div class="order">
    <div class="order__inner wrapper-default">
      <div class="view__back">
        <router-link to="/orders/all"><img src="../../static/icons/form/back.svg" alt="back">Back to orders list</router-link>
      </div>
      <order-modal-new
          class="order-modal"
          :title="'New order'"
          @close-modal="openOrder()"
          @success-modal="addOrder"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import orderModalNew from '../../components/modals/orderNew.vue';
import {useRouter} from 'vue-router';
import ordersService from '../../middleware/services/orders.ts';
import {useAppStore} from '../../store/app.ts';

const router = useRouter();

const openOrder = () => {
  router.push('/orders/all');
}

const addOrder = (formData: any) => {
  useAppStore().isLoad = true;
  const data = {
    email: formData.email,
    first_name: formData.firstName,
    last_name: formData.lastName,
    phone: formData.phone,
    comment: formData.comment,
    pickup_address: formData.pickupAddress,
    drop_off_address: formData.dropoffAddress,
    currency: formData.currency,
    route_id: formData.routeId,
    route_date: formData.date,
    amount: formData.amount,
    adults: formData.adults,
    luggage: formData.luggage,
    payment_type: formData.paymentTypeId,
    car_id: formData.carId
  }
  ordersService.add(data).then(resp => {
    if (resp.data.status) {
      router.push('/orders/all');
    }
  }).finally(() => {
    useAppStore().isLoad = false;
  })
}
</script>

<style scoped lang="scss">
.order{
  &__inner{
    height: 100%;
  }
}
.order-modal{
  height: calc(100% - 34px);
}
</style>