<template>
  <div class="order">
    <div class="order__inner wrapper-default">
      <div class="view__back">
        <router-link to="/orders/all"><img src="../../static/icons/form/back.svg" alt="back">Back to orders list</router-link>
      </div>
      <order-modal
          v-if="isDownloadOrder"
          class="order-modal"
          :class="{'order-modal-with-partner': order.value.status === 'pending' || order.value.status === 'market' || order.value.status === 'planned'}"
          :title="'Order details: ' + order.value.route?.title + (order.value.is_invert_route && ' (inverted)')"
          :data="order.value"
          @change-status="changeStatus"
          @update-order="updateOrder"
      />
      <order-partner-modal
          v-if="isDownloadOrder
            && (order.value.status === 'pending' || order.value.status === 'market' || order.value.status === 'planned')"
          :partner="order.value.user"
          :driver="order.value.driver"
          :vehicle="order.value.vehicle"
          class="order-modal-driver"
          @success="changePartner"
          @reload="reloadPartnerModal()"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import orderModal from '../../components/modals/order.vue';
import ordersService from '../../middleware/services/orders.ts';
import {useRoute} from 'vue-router';
import {onMounted, reactive, ref} from 'vue';
import {useAppStore} from '../../store/app.ts';
import OrderPartnerModal from '../../components/modals/orderPartner.vue';

const route = useRoute();
const order = reactive<any>({});
const isDownloadOrder = ref<boolean>(false);
const isShowPartnerModal = ref<boolean>(true);

const setOrder = () => {
  ordersService.getOrder(Number(route.params.id)).then(resp => {
    order.value = resp.data;
    isDownloadOrder.value = true;
  })
}
const updateOrder = (formData: any) => {
  useAppStore().isLoad = true;
  const dateWithoutTimezone = (date: Date) => {
    const tzoffset = date.getTimezoneOffset() * 60000 //offset in milliseconds
    const withoutTimezone = new Date(date.valueOf() - tzoffset)
        .toISOString()
        .slice(0, -1)
    return withoutTimezone
  };

  const newOrderData = {
    email: formData.email,
    first_name: formData.firstName,
    last_name: formData.lastName,
    phone: formData.phone,
    comment: formData.comment,
    currency: formData.currency,
    route_date: dateWithoutTimezone(formData.date),
    amount: formData.amount,
    adults: formData.adults,
    childrens: formData.childrens,
    luggage: formData.luggage,
    payment_type: formData.paymentTypeId,
    special_request: formData.specialRequest,
    work_trip_company_name: formData.workTripCompanyName,
    work_trip_company_email: formData.workTripCompanyEmail,
    extra_phone: formData.extraPhone,
    train_number: formData.trainNumber,
    flight_number: formData.flightNumber,
    car_id: formData.carId
  }
  ordersService.update(Number(route.params.id), newOrderData).then(resp => {
    if (resp.data.status) {
      order.value = resp.data;
    }
    console.log(resp)
  }).finally(() => {
    useAppStore().isLoad = false;
  })
}

const changePartner = (formData: any) => {
  useAppStore().isLoad = true;
  const data = {
    order: {
      user_id: formData.partnerId
    },
    driver: formData.driver,
    vehicle_id: formData.vehicleId
  }
  ordersService.updatePartner(Number(route.params.id), data).then(resp => {
    console.log(resp)
  }).finally(() => {
    useAppStore().isLoad = false;
  })
}

const changeStatus = (newStatus: string|null) => {
  useAppStore().isLoad = true;
  if (newStatus !== null) {
    ordersService.updateStatus(Number(order.value.id), newStatus).then(resp => {
      if (resp.data.status) {
        order.value = resp.data.orderRoute;
      }
    }).finally(() => {
      // для ререндеринга order modal
      isDownloadOrder.value = false;
      setTimeout(() => {
        isDownloadOrder.value = true;
      }, 0)
      useAppStore().isLoad = false;
    });
  }
}

const reloadPartnerModal = () => {
  isShowPartnerModal.value = false;
  setTimeout(() => {
    isShowPartnerModal.value = true;
  }, 0)
}

onMounted(() => {
  setOrder();
})
</script>

<style scoped lang="scss">
.order{
  &__inner{
    height: 100%;
  }
}
.order-modal{
  height: calc(100% - 34px);
}
.order-modal-with-partner{
  height: calc(65% - 34px);
  margin-bottom: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.order-modal-driver{
  height: calc(35% - 34px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
