<template>
  <div class="vehicles">
    <div class="vehicles__inner wrapper-default">
      <v-filters
          @add-element="router.push('/vehicles/new')"
      />
      <list-titles
          :titles="listTitles"
          :sizes="listBlockSizes"
      />
      <div
          class="list"
          v-if="isDownloadVehicles"
      >
        <div class="list__items">
          <list-vehicle-row
              v-for="vehicle in paginationVehiclesResult.value"
              :key="vehicle.id"
              :vehicle="vehicle"
              :sizes="listBlockSizes"
              @click="openVehicle(vehicle.id)"
          />
        </div>
        <v-pagination
            :current-items="vehicles.value"
            :element-on-page="config.quantityElementsInList"
            :list-name="'vehicles'"
            @select-page="setPaginationResult"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import VPagination from '../../components/list/v-pagination.vue';
import ListTitles from '../../components/list/titles.vue';
import ListVehicleRow from '../../components/list/rows/vehicle-row.vue';
import VFilters from '../../components/root/v-filters.vue';
import config from '../../middleware/config.ts';
import { onMounted, reactive, ref } from 'vue';
import vehiclesService from '../../middleware/services/vehicles.ts';
import router from "../../router";

const listTitles = config.vehicles.list.titles;
const listBlockSizes = config.vehicles.list.blockSizes;

const vehicles = reactive<any>([]);
const paginationVehiclesResult = reactive<any>([]);
const isDownloadVehicles = ref<boolean>(false);

const setVehicles = () => {
  vehiclesService.list().then(resp => {
    vehicles.value = resp.data;
    isDownloadVehicles.value = true;
  })
}

const openVehicle = (vehicleId: number) => {
  router.push({name: 'vehicle', params: {id: vehicleId}});
}

onMounted(() => {
  setVehicles();
})

const setPaginationResult = (result: any[]) => {
  paginationVehiclesResult.value = result;
}
</script>

<style scoped lang="scss">
.vehicles{
  &__inner{
    height: calc(100% - 124px);
  }
}
</style>