<template>
  <div class="vehicle">
    <div class="vehicle__inner wrapper-default">
      <div class="view__back">
        <router-link to="/vehicles"><img src="../../static/icons/form/back.svg" alt="back">Back to vehicles list</router-link>
      </div>
      <modal-vehicle
          class="modal-vehicle"
          :title="'New vehicle'"
          :banner="bannerForModalUser"
          @click.stop
          @close-modal="closeVehicleNewModal()"
          @success-modal="addVehicle"
      />
    </div>
  </div>

</template>

<script setup lang="ts">
import ModalVehicle from '../../components/modals/vehicle.vue';
import router from '../../router';
import {useAppStore} from "../../store/app.ts";
import vehiclesService from "../../middleware/services/vehicles.ts";
import {useUserStore} from '../../store/user.ts';

const bannerForModalUser = new URL('../../static/images/user/modal-illustration-driver.svg', import.meta.url);
const user = useUserStore().user;

const addVehicle = (formData: any) => {
  useAppStore().isLoad = true;
  const data = new FormData;
  data.append('vehicle', JSON.stringify({
    mark: formData.brand.name,
    class: formData.class,
    model: formData.model,
    year: formData.year,
    licence: formData.licence,
    color: formData.color,
  }));
  data.append('registration', formData.documents.carRegistration);
  data.append('inspection', formData.documents.carInspection);
  data.append('greenCard', formData.documents.greenCard);
  data.append('user_id', user.id);
  for (let i = 0; i < 4; i++) {
    data.append('photos[]', formData.photos[i]);
  }
  vehiclesService.add(data).then(resp => {
    if (resp.data.status) {
      router.push('/vehicles');
    }
  }).finally(() => {
    useAppStore().isLoad = false;
  })
}
const closeVehicleNewModal = () => {
  router.push('/vehicles');
}
</script>

<style scoped lang="scss">
.vehicle{
  &__inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.modal-vehicle{
  width: 100%;
  height: calc(100% - 34px);
}
</style>