<template>
  <div class="vehicle">
    <div class="vehicle__inner wrapper-default">
      <div class="view__back">
        <router-link to="/vehicles"><img src="../../static/icons/form/back.svg" alt="back">Back to vehicles list</router-link>
      </div>
      <modal-vehicle
          v-if="isDownloadVehicle"
          class="modal-vehicle"
          :title="'Vehicle'"
          :vehicle="vehicle.value"
          :header-btn="'edit'"
          :show-actions="false"
          @success-modal="updateVehicle"
      />
    </div>
  </div>

</template>

<script setup lang="ts">
import ModalVehicle from '../../components/modals/vehicle.vue';
import {useRoute} from 'vue-router';
import vehiclesService from '../../middleware/services/vehicles.ts';
import {onMounted, reactive, ref} from 'vue';
import {useAppStore} from '../../store/app.ts';
import {useUserStore} from '../../store/user.ts';

const route = useRoute();

const vehicle = reactive<any>({});
const isDownloadVehicle = ref<boolean>(false);
const user = useUserStore().user;

const getVehicle = () => {
  vehiclesService.getVehicle(Number(route.params.id)).then(resp => {
    vehicle.value = resp.data;
    isDownloadVehicle.value = true;
  });
}

const updateVehicle = (formData: any) => {
  useAppStore().isLoad = true;
  const data = new FormData;
  data.append('vehicle', JSON.stringify({
    mark: formData.brand.name,
    class: formData.class,
    model: formData.model,
    year: formData.year,
    licence: formData.licence,
    color: formData.color,
    companyName: formData.companyName,
  }));
  data.append('registration', formData.documents.carRegistration);
  data.append('inspection', formData.documents.carInspection);
  data.append('greenCard', formData.documents.greenCard);
  data.append('id', vehicle.value.id)
  data.append('user_id', user.id);
  for (let i = 0; i < 4; i++) {
    data.append('photos[]', formData.photos[i]);
  }
  vehiclesService.update(data).finally(() => {
    useAppStore().isLoad = false;
  })
}

onMounted(() => {
  getVehicle();
})

</script>

<style scoped lang="scss">
.vehicle{
  &__inner{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
.view__back{
  width: 100%;
}
.modal-vehicle{
  width: 100%;
  height: calc(100% - 34px);
}
</style>