<template>
  <div class="layout-auth">
    <div class="layout-auth__bg-lines"></div>
    <div class="auth-form">
      <!--Page-->
      <router-view/>
      <!--Page-->
    </div>
  </div>
</template>

<script setup lang="ts">

</script>

<style scoped lang="scss">
.layout-auth{
  height: 100vh;
  width: 100%;
  position: relative;
  background: $bg-auth;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  &__bg-lines{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('/src/static/icons/auth/bg-lines.svg');
    background-repeat: no-repeat;
    background-size: 120% 120%;
    background-position: center;
  }
}
.auth-form{
  width: 500px;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin: 40px;
  background: white;
  box-sizing: border-box;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.70);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
</style>