<template>
  <div class="main">
    <v-sidebar/>
    <div
        v-if="useAppStore().isAuthorizationCompleted"
        class="content"
    >
      <!--Header-->
      <v-header/>
      <!--Page-->
      <router-view
          class="page"
          :class="pageTheme"
      />
      <!--Footer-->
      <v-footer
          v-if="showFooter"
          :theme="pageTheme"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import VSidebar from '../components/root/v-sidebar.vue';
import VHeader from '../components/root/v-header.vue';
import { useAppStore } from '../store/app.ts';
import VFooter from '../components/root/v-footer.vue';
import initApp from '../middleware/initApp.ts';
import {computed} from 'vue';
import {useRoute} from 'vue-router';

const route = useRoute();

const showFooter = computed(() => route.meta.showFooter === undefined || route.meta.showFooter);

defineProps({
  pageTheme: {
    default: 'light',
    type: String
  }
})

initApp();
</script>

<style scoped lang="scss">
.main{
  display: flex;
}
.content{
  width: 100%;
  position: relative;
  flex: 1;
}
.page{
  width: 100%;
  padding: 16px 0;
  height: calc(100vh - 141px);
  overflow-y: auto;
}

// page themes

.dark-page{
  background: $col-black;
}

.grey-page{
  background: #70706E;
}
</style>